<p>Запись на ТО:</p>
Автомобиль: {{ object.car }}<br>
{% if object.state_number %}Гос. номер: {{ object.state_number }}<br>{% endif %}
{% if object.year %}Год выпуска: {{ object.year }}<br>{% endif %}
ФИО: {{ object.name }}<br>
{% if object.phone %}Телефон: {{ object.phone }}<br>{% endif %}
{% if object.notes %}Удобное время: {{ object.notes }}{% endif %}
Список работ: {{ object.activity_list }}