{% load static %}
<a href="{% url 'show_mobile' %}" class="hLogo hLogo_inner">
    <img src="{% static 'mobile/img/logo_inner.png' %}" alt="Škoda Auto">
    <div class="dlr_name">
        <div class="title">Автоцентр Злата</div>
        <div class="sub_title">Официальный дилер</div>
    </div>
</a>