{% load static mobile_tags %}

{% slug_from_path_m node.path as slug %}

<li>
    <a href="{{ node.get_absolute_url }}" >
        <span class="icon">
            <img src="{{ STATIC_URL }}mobile/img/icons/{{ slug }}60.png" class="img60" />
            <img src="{{ STATIC_URL }}mobile/img/icons/{{ slug }}60.png" class="img30" />
            <img src="{{ STATIC_URL }}mobile/img/icons/{{ slug }}45.png" class="img45" />
        </span>
        {{ node.title }}<span class="arrow"></span>
    </a>
</li>

