<li>
    <a href="{{ node.get_absolute_url }}" {% if node.redirect_to_out %} target="_blank" rel="nofollow" {% endif %}><span class="icon"></span><span class="text"><span class="title">{{ node.title }}</span></span><span class="arrow"></span></a>
</li>