<li>
    <a href="{{ node.get_absolute_url }}" target="_self">{{ node.title }}</a>
    {% if children and node.level == 1 %}
    <div class="hlbMenuSecondLevel">
        <div class="hlbmslMain">
            <ul>
                {{ children }}
            </ul>
        </div>
    </div>
    {% endif %}
</li>