{% if node.level == 1 %}
    <li style="list-style: none; margin-top: 12px;"><b><a href="{{ node.get_absolute_url }}">{{ node.title }}</a></b>
        {% if children %}
            <ul style="margin-top: 8px; margin-left: 0px; padding-left: 10px;">
            {{ children }}
            </ul>
         {% endif %}
    </li>
{% else %}
    <li style="list-style: none;"><a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% if children %}
            <ul style="margin-left: 0px; padding-left: 20px;">
                {{ children }}
            </ul>
        {% endif %}
    </li>
{% endif %}