input, textarea {
    line-height: 1.5;
    font: 300 18px Ubuntu, sans-serif;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #cbcbcb;
    padding: 8px 12px;
    box-sizing: border-box;
}

.div-landing-form {
    text-align: center;
    padding: 20px;
}

#order-form label{
    display: block;
    font: 700 14px/1em Ubuntu,sans-serif;
    margin-bottom: 4px;
    line-height: 1;
    text-align: center;
}

#order-form input {
    width: 50%;
    margin-bottom: 40px;
}
#order-form .form-error {
    color: red;
    margin-top: -40px;
    margin-bottom: 20px;
}