@font-face{font-family:'Skoda Pro';
    src: url('../fonts/skodapro_regular.eot');
    src: url('../fonts/skodapro_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/skodapro_regular.woff2') format('woff2'),
    url('../fonts/skodapro_regular.woff') format('woff'),
    url('../fonts/skodapro_regular.ttf') format('truetype'),
    url('../fonts/skodapro_regular.svg#skoda_proregular') format('svg');
    font-style:normal;
    font-weight:normal}
@font-face{font-family:'Skoda Pro';
    src: url('../fonts/skodapro_bold.eot');
    src: url('../fonts/skodapro_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/skodapro_bold.woff2') format('woff2'),
    url('../fonts/skodapro_bold.woff') format('woff'),
    url('../fonts/skodapro_bold.ttf') format('truetype'),
    url('../fonts/skodapro_bold.svg#skoda_probold') format('svg');
    font-style:normal;
    font-weight:bold}