.verstka_links {
    margin: 30px 20px;
    list-style: none;
}
.verstka_links li {
    margin-bottom: 15px;
}

.modelpageHeader h1.title {
    display: block;
    width: 100%;
    font-size: 130%;
    font-weight: bold;
    line-height: 100%;
    color: #555;
    font-family: 'Skoda Pro', Verdana, 'Arial CE', Arial, 'Helvetica CE', sans-serif;
}

.detailHeader h1.title {
    display: block;
    width: 100%;
    font-size: 130%;
    font-weight: bold;
    line-height: 100%;
    font-family: 'Skoda Pro', Verdana, 'Arial CE', Arial, 'Helvetica CE', sans-serif;
    color: #555;
}

@font-face {
    font-family: 'rouble';
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rouble-webfont.woff2') format('woff2'),
    url('../fonts/rouble-webfont.woff') format('woff'),
    url('../fonts/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.rouble {
    font-family: 'rouble';
    font-weight: 100;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.flColumn {
    width: 50%;
}
.flColumn .fl_link {
    margin-top: 13px;
    vertical-align: top;
    padding-left: 15px;
    position: relative;
    display: block!important;
}
.flColumn .fl_link:first-child {
    margin-top: 0;
}
.flColumn .fl_link:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px;
    width: 7px;
    height: 9px;
    background: transparent url(../img/icons_arrows2x.png) no-repeat -78px -21px;
    background-size: 370px 124px;
}

.fSocial {
    border-bottom: 1px solid #f5f5f5;
}
.fSocial .fcfMain {
    padding-top: 10px;
    padding-bottom: 10px;
}
.fSocial .soc_wrap {
    display: inline-block;
}
.fSocial .fcfMain a, .fSocial .fcfMain a:link, .fSocial .fcfMain a:active, .fSocial .fcfMain a:visited, .fSocial .fcfMain a>span:first-child {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 0;
    vertical-align: middle;
}
.fSocial .fcfMain a:first-child, .fSocial .fcfMain a:link:first-child, .fSocial .fcfMain a:active:first-child, .fSocial .fcfMain a:visited:first-child  {
    margin-left: 0;
}
.fSocial .fcfMain img {
    width: 100%;
}
.fSocial .fcfMain .title {
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    vertical-align: middle;
}

.fCopy {
    background: #ddd;
    border-top: none;
    padding-top: 15px;
}
.copy {
    margin-bottom: 5px;
}

.kodix a {
    color: #4ba82e;
    text-decoration: none;
}

.paragraphRow {
    padding-bottom: 20px;
}



a.hLogo_inner, a.hLogo_inner:link, a.hLogo_inner:active, a.hLogo_inner:visited{
    max-width: 75%;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
    padding-left: 15px;
    height: 60px;
    line-height: 60px;
}
a.hLogo_inner img, a.hLogo_inner:link img, a.hLogo_inner:active img, a.hLogo_inner:visited img {
    max-width: 31.5px;
    max-height: 38px;
}

.dlr_name {
    margin-left: 15px;
    color: #000;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
.dlr_name .title {
    font-weight: bold;
    font-size: 16px;
}
.dlr_name .sub_title {
    font-size: 12px;
}

.copy {
    margin-bottom: 5px;
}


.fLinks .flColumn .flcInner {
    font-size: 14px;
}


.paragraphRow {
    padding-bottom: 0px;
}

.mobiletestdriveRow {
    position: relative;
}
.mobiletestdriveRow .star {
    position: absolute;
    right: -10px;
    top: 0;
}

.error_msg {
    display: none;
    font-size: 14px;
}

.hideme{
    display: none !important;
}

.error .error_msg {
    display: block
}
.mobiletestdriveRow .input, .mobiletestdriveRow .inputDropDown, .mobiletestdriveRow .inputCalendar, .mobiletestdriveRow .inputNote {
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobiletestdriveRow input.herobutton {
    border: none;
    margin: 0;
    -webkit-box-shadow: 0px 1px 1px #555;
    box-shadow: 0px 1px 1px #555;
}

.dlr_address_block {
    margin-top: 10px;
    display: block;
    margin-bottom: 50px;
}
.dlr_address_block h3 {
    margin-bottom: 20px;
}
.dlr_address_block p {
    margin: 10px 0;
}
.dlr_address_block a {
    text-decoration: underline!important;
}

.dlr_address_block table td {
    min-width: 130px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.modelvariantsBody a:hover {text-decoration: none !important;}


.mobiletestdriveRow input[type=text],
.mobiletestdriveRow textarea {
    border-radius: 0!important;
}

/*** DATEPICKER ****/

.datepicker_wrap {
    width:100%;
    height:auto;
    position:relative;
    margin-top:-1px;
}

.datepicker_wrap img {
    position:absolute;
    right:0;
    top:0;
    z-index:3;
    width:31px;
    height:31px;
    cursor:pointer;
}

.datepicker_wrap img:hover {background-position:0 -87px;}

.ui-datepicker {
    position:relative;
    z-index:50 !important;
    padding-top: 3px;
    padding-bottom: 3px;
    left: auto!important;
    right: 15px!important;
}

.ui-datepicker-header {
    height:36px;
    width:209px;
    color:#fff;
    background:#4fa637;
    border:1px solid #4fa637;
    border-color:#4fa637 #4fa637 #4fa637 #4fa637;
    text-align:center;
    line-height:36px;
    font-size:14px;
    font-size:1.4rem;
    position:relative;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position:absolute;
    top:0;
    padding-top:36px;
    height:0;
    overflow:hidden;
    width:40px;
    cursor:pointer;
}

.ui-datepicker-prev {left:0;}
.ui-datepicker-next {right:0;}

.ui-datepicker-prev:before,
.ui-datepicker-next:before  {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
}

.ui-datepicker-prev:before {
    border-right-color: #fff;
    margin-left: -14px;
}
.ui-datepicker-next:before {
    border-left-color: #fff;
}
.ui-datepicker-calendar {
    position:relative;
    width:211px;
    border:1px solid #dfdfe1;
    background: #fff;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    text-align:center;
    vertical-align:middle;
    border:1px solid #e5e5e5;
    width:29px;
    height:29px;
    color:#5a5c5c;
    font-size:12px;
    padding:0;
}

.ui-datepicker-calendar a {
    text-decoration:none;
    display:block;
    line-height:29px;
    width:29px;
    color: #000;
}

.ui-datepicker-calendar a:hover,
.ui-datepicker-calendar td.ui-datepicker-week-end a:hover {
    background:#4fa637;
    color:#fff !important;
}

.ui-datepicker-calendar th {
    background:#e5e5e5;
    height:18px;
    font-size:9px;
    text-transform:uppercase;
}

.ui-datepicker-calendar td.ui-datepicker-week-end,
.ui-datepicker-calendar td.ui-datepicker-week-end a {color:#4fa637;}


.ui-datepicker-calendar  .ui-datepicker-other-month,
.ui-datepicker-calendar  .ui-datepicker-other-month a {color:#cfcfcf;}

.ui-datepicker-calendar td.ui-datepicker-week-end.ui-datepicker-other-month ,
.ui-datepicker-calendar td.ui-datepicker-week-end.ui-datepicker-other-month  a {color:#c0dfb7;}

.ui-datepicker-unselectable.ui-state-disabled {color: #CFCFCF; text-decoration:line-through;}
.ui-datepicker-unselectable.ui-state-disabled.ui-datepicker-week-end {color: #c0dfb7;}


.ui-datepicker-unselectable.ui-state-disabled span {position:relative;}
.ui-datepicker-unselectable.ui-state-disabled:hover span:after {
    background:#FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    color: #999;
    content: "";
    display: block;
    font-size: 10px;
    left: 50%;
    margin-left: -50px;
    padding: 1px 5px 3px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 11px;
    width: 90px;
    z-index: 10;
    line-height: 1.1;
}

html .ui-datepicker-unselectable.ui-state-disabled:hover span:after { content:"Дата не доступна для записи"}

/********************/

/*slider on model page*/
.slider_wrapper {
    margin-top: 10px;
    position: relative;
}
.ios {
    width: 100%;
    height: auto;
}

.ios .slider {
    width: 100%;
    height: auto;
}

.ios .slider .item {
    width: 100%;
}
.ios .slider .item img {
    width: 100%;
    height: auto;
}
.ios .arrow {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
}
.ios .arrow:before {
    content: "";
    background: url(../img/icons_arrows2x.png) no-repeat;
    background-size: 370px 124px;
    width: 15px;
    height: 27px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    cursor: pointer;
    left: 50%;
    margin-left: -7px;
}
.ios .arrow.next {
    right: 0;
}
.ios .arrow.prev {
    left: 0;
}
.ios .arrow.next:before {
    background-position: -1px -54px;
}
.ios .arrow.prev:before {
    background-position: -39px -54px;
}

.iosSliderButtons {
    margin-top: 15px;
}
.iosSliderButtons .button {
    float: left;
    padding-left: 15px;
    margin-bottom: 10px;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.iosSliderButtons .button.selected {
    font-weight: bold;
}
.iosSliderButtons .button.selected:before {
    content: "";
    background: url(../img/icons_arrows2x.png) no-repeat -238px -91px;
    background-size: 370px 124px;
    width: 6px;
    height: 13px;
    position: absolute;
    top: 2px;
    left: 0;
}

/********************/

.modelpagefBox .inner_table {
    width: 100%;
    line-height: 150%;
}
.modelpagefBox .inner_table td {
    padding: 5px;
    border-top: solid 1px #ccc;
}
.modelpagefBox .inner_table .value {
    min-width: 90px;
}

.modelpagefBox .inner_tabs_wrapper {
    display: table;
    width: 100%;
    border-top: solid 1px #ccc;
}
.modelpagefBox .inner_tabs_wrapper .tab_item {
    display: table-cell;
    border-left: solid 1px #ccc;
    padding: 7px 5px;
    text-align: center;
    cursor: pointer;
}
.modelpagefBox .inner_tabs_wrapper .tab_item:first-child {
    border-left: none;
}
.modelpagefBox .inner_tabs_wrapper .tab_item.active {
    background: #f5f5f5;
    font-weight: bold;
}

.inner_accor_content,
.inner_tabs_content {
    display: none;
}
.inner_tabs_content.active {
    display: block;
}

.modelpageFeatures>ul>li .modelpagefBox>ul>li>a.opened span.arrow {
    background-position: -213px -91px;
    width: 14px;
    height: 8px;
    margin-top: -4px;
}

.bToGo .btn_back {
    float: left;
}
.bToGo .btn_back span {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.modelpageFeatures>ul>li .modelpagefBox ul li>a:hover {
    text-decoration: none!important;
}


.bToGo .btn_back {
    float: left;
}
.bToGo .btn_back span {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}




.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: #4ba82e;
    height: auto;
    min-height: 15px;
    line-height: 15px;
    padding: 10px;
    color: #fff !important;
    text-decoration: none;
    font-size: 12px;
    vertical-align: top;
    border: none;
    text-align: center;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    background: #398124;
}

.btn_gray {background: #555;}
.btn_gray:hover {background: #444;}

.btn_black {background: #000;}
.btn_black:hover {background: #333;}


.btn.has_arrow {
    padding-right: 20px;
    text-align: left;
}

.btn.btn_big {
    padding-top: 18px;
    padding-bottom: 18px;
}


.has_arrow {
    position: relative;
}
.has_arrow:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 13px;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    background: transparent url(../img/icons_arrows2x.png) no-repeat -238px -91px;
    background-size: 370px 124px;
}
.has_arrow.white:after {
    background-position:  -48px -29px;
}
.has_arrow.opened:after {
    background-position: -213px -91px;
    width: 14px;
    height: 7px;
    margin-top: -4px;
}


/*AVN styles*/
.avn_choose_wrapper {
    margin: 5px 0 ;
}

.avn_choose_item {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    position: relative;
    width: 49%;
    padding: 0 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.avn_choose_item .btn {
    display: block;
    min-width: 72px;
    text-align: left;
}
.avn_choose_item .btn_black {
    text-align: center;
}


.avn_choose_img {
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
    margin: 0 -10px;
    cursor: pointer;
}
.avn_choose_img img {
    display: inline-block;
    width: 100%;
}

.avn_choose_name {
    font-size: 18px;
    margin:0 0 5px;
}

.avn_choose_price {
    font-weight: bold;
    white-space: nowrap;
}

.avn_choose_amount {
    position: absolute;
    top: 0;
    right: 3%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ebebeb;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    color: #555555;
}


.avn_item {
    padding:15px 0 10px;
    border-top: 1px solid #ececec;
    color: #000;
}
.avn_item:first-child {
    border: none;
}

.avn_item_img img {
    width: 100%;
}

.avn_item_descr {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.avn_item_descr.preview_descr {
    text-align: center;
    padding-right: 5%;
}

.avn_item_descr .btn {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.avn_item_name {
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avn_item_info {
    color: #555;
    font-size: 12px;
}
.avn_item_info p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avn_item_price {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: .03em;
}
.avn_item_price.old_price {
    text-decoration: line-through;
    color: #555;
}


.arrow_small {
    display: inline-block;
    position: relative;
    padding-right: 13px;
    font-size: 12px;
}
.arrow_small:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 10px;
    margin-top: -4px;
    background: transparent url(../img/icons_arrows2x.png) no-repeat -78px -21px;
    background-size: 370px 124px;
}
.arrow_small.opened:after {
    background-position: -68px -44px;
    width: 10px;
    height: 6px;
    margin-top: -3px;
}


.avn_header {
    position: relative;
    color: #000;
    margin: 0 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
}

.avn_head_name {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 15px;
}

.avn_head_price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
    margin-right: 15px;
}
.avn_head_price.old {
    text-decoration: line-through;
    color: #555;
}

.avn_head_name,
.avn_head_id,
.avn_head_price {
    letter-spacing: .03em;
}

.avn_card_wrapper {
    position: relative;
}
.avn_card_img {
    float: left;
    width: 565px;
    border: 1px solid #ccc;
    margin: 0 42px 0 0;
}

.avn_card_descr .btn_wrap {
    float: left;
    width: 50%;
    padding-right: 3%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.avn_card_descr .btn_wrap+.btn_wrap {
    padding-right: 0;
    padding-left: 1%;
}
.avn_card_descr .btn {
    display: block;
    width: 100%;
    text-align:left;
    margin: 0 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

.avn_card_content {
    display: none;
}
.avn_card_content.current {
    display: block;
}
.avn_card_content ul {
    padding-left: 15px;
    margin-left: 30px;
}
.avn_card_content ul li {
    margin-bottom: 5px;
    padding: 0;
    line-height: 1.5em;
}

.defaut_table td,
.defaut_table th {
    text-align: left;
    vertical-align: top;
    padding: 3px 15px 3px 0;
}

.defaut_table th {
    font-weight: normal;
    color: #555;
}

.defaut_table td { color: #000; }

.avn_item_price_link {
    padding: 5px 0;
    color: #4ba82e;
    display: inline-block;
    cursor: pointer;
}


/*filter styles*/
.filter_set {
    background: #f5f5f5;
    margin: 0 0 20px;
    color: #555;
    border: 1px solid #b4b4b4;
    font-size: 12px;
    margin-bottom: 35px;
}

.filter_set_content {
    display: none;
}

.plain_content_wrapper .filter_set {
    padding: 19px 0 3px 20px;
}

.filter_row {
    border-bottom: 1px solid #b4b4b4;
}

.filter_row_title {
    font-weight: bold;
    color: #000;
    padding: 15px;
    position: relative;
    cursor: pointer;
    line-height: 20px;
}



.filter_row_content {
    display: none;
    background: #fff;
    padding: 20px 15px;
    padding-bottom: 0;
}

.js_custom_check label {
    width: 48%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    padding: 4px 0 0 30px;
    cursor: pointer;
    font-size: 12px;
    min-height: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}

.js_custom_check label input {
    position: absolute;
    top: 0;
    right: 100%;
}

.js_custom_check label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #b4b4b4;
    background: none;
}

.js_custom_check label.checked:after {
    background: url(../img/check.png) center no-repeat;
    background-size: 8px 8px;
}

.no-generatedcontent .js_custom_check label input {
    right: auto;
    left: 0;
}

.filter_set_btn .filter_btn {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}
.filter_set_btn .filter_btn.hide {
    display: none;
}


.avn_item_form {
    display: none;
    padding: 20px 0 10px;
}
.avn_item_form.visible {
    display: block!important;
}
.avn_item_form .title  {
    float: left;
    width: 25%;
    padding: 9px 0;
}
.avn_item_form .input_wrap {
    margin-left: 25%;
}
.avn_item_form .inp_txt {
    border-radius: 0!important;
    width: 100%;
    padding: 8px 10px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.avn_item_form .form_submit_row {
    width: 50%;
    float: right;
}
.avn_item_form .form_submit_row .btn {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: #fff;
    -webkit-appearance: none;
    z-index: 10;
}

.reserve_form {
    position: relative;
}
.pop_close_msg {
    color: #fff;
    position: absolute;
    left: 100%;
    margin-left: 30px;
    top: -25px;
}
.reserve_form .form_wrapper {
}
.reserve_form .form_header {
    background-color: #4AA82E;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 20px;
}
.reserve_form .form_content {
    background-color: #f9f9f9;
    padding: 20px 14px 14px;
    border-top: none;
}

form .has_error input,
form .has_error select,
form .has_error textarea{
    border: 1px solid rgb(255, 95, 95) !important;
}

.reserve_form .avn_header {
    margin-bottom: 10px;
}
.reserve_form .avn_item_info {
    margin-bottom: 15px;
}

.reserve_form .avn_item_img {
    padding-top: 10px;
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3%;
}
.reserve_form .avn_item_name {
    white-space: normal;
}
.reserve_form .avn_item_info p {
    white-space: normal;
}
.reserve_form .avn_item_form {
    padding-top: 10px;
}

.tabs_wrapper {
    position: relative;
}
.tabs_select {
    background: #000;
    color: #fff;
    font-size: 12px;
    padding: 0;
}

.tabs_select_item {
    display: block;
    float: left;
    position: relative;
    padding:0 !important;
    margin:0 !important;
}

.tabs_select_item:after{
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    left: -1px;
    top: 8px;
    background: #555;
}
.tabs_select_item:first-child:after {
    display: none;
}

.tabs_select_item a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 15px 0 14px;
    height: 25px;
    line-height: 25px;
    outline: none;
}

.tabs_select_item.current,
.tabs_select_item:hover {
    z-index: 2;
}

.tabs_select_item.current a,
.tabs_select_item:hover a {
    color: #9F9F9F;
    background: #fff;
    padding-top: 3px;
    margin-top: -3px;
}
.tabs_type_line .tabs_select {
    background: none;
    color: #000;
    border-bottom: 3px solid #4ba82e;
    list-style: none;
    list-style-image: none;
    padding: 0 15px;
    margin: 0;
}

.tabs_type_line .tabs_select_item a {
    color: #000;
    padding: 0 19px 7px 18px;
    height: 15px;
    line-height: 15px;
    background: none;
}
.tabs_type_line .tabs_select_item a:hover {
    color: #4ba82e;
    margin-top: 0;
}

.tabs_type_line .tabs_select_item.current a {
    color: #000;
    background: none;
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
}

.tabs_type_line .tabs_select_item:first-child a {
    padding-left: 0;
}

.tabs_type_line .tabs_select_item:after {
    height: 11px;
    left: -1px;
    bottom: auto;
    top: 50%;
    margin-top: -8px;
    background: #c8cdce;
}

.tabs_type_line .tabs_select_item.current:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #4ba82e;
    margin: 0 0 0 -5px;
}

.tabs_type_line .tabs_select_item.current:first-child:before {
    margin-left: -15px;
}

.tabs_type_line .tabs_item {
    padding-top: 16px;
}

.relative{
    position: relative;
}
.absolute-loader{
    position: absolute;
    left: -1px;
    top: -1px;
    width: 101%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
}

/*AVN styles end*/

.freeHeader+.freeHeader {
    border-top: solid 1px #ccc;
}

.btn_icon {
    padding-left: 35px;
    position: relative;
}
.btn_icon:before {
    content: "";
    background: url(../img/btn_icons2x.png) no-repeat;
    background-size: 35px 79px;
    position: absolute;
    top: 50%;
    left: 10px;
}
.btn_icon.phone:before {
    width: 23px;
    height: 23px;
    margin-top: -12px;
    background-position: -6px -4px;
}
.btn_icon.map:before {
    width: 21px;
    height: 21px;
    margin-top: -11px;
    background-position: -7px -50px;
    left: 50%;
    margin-left: -11px;
}
.header_contacts .col_left {
    width: 80%;
    float: left;
    margin-top: 10px;
}
.header_contacts .col_right {
    width: 20%;
    float: right;
    margin-top: 10px;
}
.header_contacts .btn_icon {
    display: block;
}
.header_contacts .col_left .btn_icon {
    margin-right: 15px;
}

.freeHeader h2.h1{
    font-size: 100%;
    font-weight: bold;
    line-height: 100%;
}

@media only screen and (max-width: 480px) {
    .paragraphImageLeft {
        float: none!important;
    }

    .body .margint5 {
        margin-top: 5px;
    }
    .body .marginb5 {
        margin-bottom: 5px;
    }
    .body .marginb10 {
        margin-bottom: 10px;
    }
    .body .marginb15 {
        margin-bottom: 15px;
    }

    .body .fz12 {
        font-size: 12px;
    }
    .body .fz15 {
        font-size: 15px;
    }

    .body .padding15 {
        padding: 15px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 640px) {
    a.hLogo_inner, a.hLogo_inner:link, a.hLogo_inner:active, a.hLogo_inner:visited{
        padding-left: 20px;
        height: 90px;
        line-height: 90px;
    }
    a.hLogo_inner img, a.hLogo_inner:link img, a.hLogo_inner:active img, a.hLogo_inner:visited img {
        max-width: 47.25px;
        max-height: 54px;
    }

    .dlr_name {
        margin-left: 20px;
    }
    .dlr_name .title {
        font-size: 20px;
    }
    .dlr_name .sub_title {
        font-size: 14px;
    }
    .dlr_address_block table td {
        padding-right: 20px;
    }

    .fSocial .fcfMain {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .fSocial .fcfMain a, .fSocial .fcfMain a:link, .fSocial .fcfMain a:active, .fSocial .fcfMain a:visited, .fSocial .fcfMain a>span:first-child {
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }

    .ui-datepicker {
        right: 20px!important;
    }

    .modelpagefBox .inner_tabs_wrapper .tab_item {
        padding: 10px 5px;
    }
    .modelpagefBox .inner_table td {
        padding: 7px;
    }

    .modelpageFeatures>ul>li .modelpagefBox>ul>li>a.opened span.arrow {
        background: url(../img/icons_arrows.png) no-repeat;
        background-position: -275px -115px;
        width: 18px;
        height: 9px;
        margin-top: -5px;
    }

    .iosSliderButtons {
        margin-top: 20px;
    }
    .iosSliderButtons .button {
        margin-bottom: 15px;
    }

    .btn {
        padding: 15px;
        font-size: 14px;
        line-height: 16px;
    }
    .btn.has_arrow {
        padding-right: 30px;
    }

    .btn.btn_icon.phone:before {
        left: 15px;
    }

    .avn_choose_amount {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .avn_choose_item {
        margin-bottom: 35px;
    }

    .body .margint5 {
        margin-top: 10px;
    }
    .body .marginb5 {
        margin-bottom: 10px;
    }
    .body .marginb10 {
        margin-bottom: 15px;
    }
    .body .marginb15 {
        margin-bottom: 20px;
    }
    .body .fz12 {
        font-size: 14px;
    }
    .body .fz15 {
        font-size: 16px;
    }
    .btn.fz15{
        line-height: 18px;
    }
    .body .padding15 {
        padding: 20px;
    }

    .filter_row_title,
    .filter_set_btn .filter_btn {
        padding: 20px;
    }
    .filter_row_content {
        padding: 20px 20px;
        padding-bottom: 0;
    }

    .avn_item_price_link {
        padding: 10px 0;
    }

    .tabs_type_line .tabs_select {
        padding: 0 20px;
    }

    .btn.btn_big {
        padding-top: 23px;
        padding-bottom: 23px;
    }

    .reserve_form .form_header {
        padding: 15px 20px;
    }

    .header_contacts .col_left .btn_icon {
        margin-right: 20px;
    }
}


@media only screen and (min-width: 641px) {
    a.hLogo_inner, a.hLogo_inner:link, a.hLogo_inner:active, a.hLogo_inner:visited{
        padding-left: 30px;
        height: 120px;
        line-height: 120px;
    }
    a.hLogo_inner img, a.hLogo_inner:link img, a.hLogo_inner:active img, a.hLogo_inner:visited img {
        max-width: 63px;
        max-height: 76px;
    }

    .dlr_name {
        margin-left: 30px;
    }
    .dlr_name .title {
        font-size: 22px;
    }
    .dlr_name .sub_title {
        font-size: 18px;
    }
    .dlr_address_block table td {
        padding-right: 20px;
    }

    .fSocial .fcfMain {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .fSocial .fcfMain a, .fSocial .fcfMain a:link, .fSocial .fcfMain a:active, .fSocial .fcfMain a:visited, .fSocial .fcfMain a>span:first-child {
        width: 30px;
        height: 30px;
        margin-left: 30px;
    }

    .ui-datepicker {
        right: 30px!important;
    }

    .ios .arrow {
        width: 80px;
        height: 100px;
        margin-top: -50px;
    }
    .ios .arrow:before {
        background: url(../img/icons_arrows.png) no-repeat;
        width: 28px;
        height: 50px;
        margin-top: -25px;
        margin-left: -14px;
    }
    .ios .arrow.next:before {
        background-position: -110px 0;
    }
    .ios .arrow.prev:before {
        background-position: -140px 0;
    }

    .modelpagefBox .inner_tabs_wrapper .tab_item {
        padding: 15px 10px;
    }
    .modelpagefBox .inner_table td {
        padding: 10px;
    }

    .modelpageFeatures>ul>li .modelpagefBox>ul>li>a.opened span.arrow {
        background: url(../img/icons_arrows.png) no-repeat;
        background-position: -205px -109px;
        width: 25px;
        height: 15px;
        margin-top: -7px;
    }

    .iosSliderButtons {
        margin-top: 25px;
    }
    .iosSliderButtons .button {
        margin-bottom: 20px;
    }

    .avn_choose_item {
        margin-bottom: 40px;
    }

    .btn {
        padding: 20px;
        font-size: 16px;
        line-height: 18px;
    }

    .btn.has_arrow {
        padding-right: 40px;
    }

    .avn_choose_amount {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    .body .margint5 {
        margin-top: 15px;
    }
    .body .marginb5 {
        margin-bottom: 15px;
    }
    .body .marginb10 {
        margin-bottom: 20px;
    }
    .body .marginb15 {
        margin-bottom: 25px;
    }
    .body .fz12 {
        font-size: 16px;
    }
    .body .fz15 {
        font-size: 18px;
    }
    .btn.fz15{
        line-height: 20px;
    }
    .body .padding15 {
        padding: 30px;
    }

    .has_arrow:after {
        background-size: 740px 248px;
        background-position: -474px -182px;
        width: 15px;
        height: 26px;
        margin-top: -13px;
    }
    .has_arrow.white:after {
        background-position: -96px -58px;
    }

    .has_arrow.opened:after {
        background: url(../img/icons_arrows2x.png) no-repeat;
        background-position: -427px -182px;
        background-size: 740px 248px;
        width: 25px;
        height: 15px;
        margin-top: -7px;
    }

    .filter_row_title,
    .filter_set_btn .filter_btn {
        padding: 25px;
    }
    .filter_row_content {
        padding: 25px 25px;
        padding-bottom: 5px;
    }

    .arrow_small.fz12 {
        padding-right: 30px;
    }
    .arrow_small.fz12:after {
        width: 16px;
        height: 20px;
        margin-top: -10px;
        background: transparent url(../img/icons_arrows2x.png) no-repeat -156px -42px;
        background-size: 740px 248px;
    }
    .arrow_small.fz12.opened:after {
        background-position: -136px -88px;
        width: 20px;
        height: 9px;
        margin-top: -4px;
    }

    .avn_item_price_link {
        padding: 20px 0;
    }

    .js_custom_check label {
        margin-bottom: 25px;
    }

    .tabs_type_line .tabs_select {
        padding: 0 30px;
    }

    .btn.btn_big {
        padding-top: 33px;
        padding-bottom: 33px;
    }

    .reserve_form .form_header {
        padding: 20px 30px;
    }

    .btn_icon:before {
        background-size: 70px 158px;
        position: absolute;
        top: 50%;
        left: 20px;
    }
    .btn_icon.phone:before {
        width: 44px;
        height: 45px;
        margin-top: -23px;
        background-position: -13px -9px;
        left: 25px;
    }
    .btn_icon.map:before {
        width: 42px;
        height: 42px;
        margin-top: -21px;
        background-position: -14px -101px;
        left: 50%;
        margin-left: -21px;
    }

    .header_contacts .col_left .btn_icon {
        margin-right: 30px;
    }
}

/* slider */



/* -------- */


/********************/

/* version msg */
.version-msg {
    position: relative;
    padding: 15px;
}
.version-msg_text {
    margin-right: 10px;
}

.version-msg_close {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    background: url(../img/icons/close.png) no-repeat;
}

.btn.version-msg_btn {
    padding: 5px 20px;
}

@media only screen and (max-width: 640px) and (min-width: 481px) {
    .version-msg_btn {
        padding: 10px 20px;
    }

    .version-msg {
        font-size: 18px;
    }
}

@media only screen and (min-width: 641px) {
    .version-msg_btn {
        padding: 10px 20px;
    }
    .version-msg_btn.has_arrow.white:after {
        width: 7px;
        height: 13px;
        margin-top: -7px;
        background-size: 370px auto;
        background-position: -48px -29px;
    }

    .version-msg {
        font-size: 18px;
    }
}