<!-- FIXED RIGHT MENU -->

<!-- для закрытого меню - класс frm_closed -->
<div class="fixed_right_menu ">
    <ul class="frm_list ul_simple">
        <li class="frm_item ico_carp"><a href="{% url "action_index" %}" class="frm_link"><span class="frm_txtwrap"><span>Акции</span></span></a></li>
        <li class="frm_item ico_carc"><a rel="nofollow" href="http://cc.skoda-auto.com/rus/" class="frm_link"><span class="frm_txtwrap"><span>Конфигуратор</span></span></a></li>
        <li class="frm_item ico_carf"><a href="#" onClick="$('#bgAppearWindow').show(); $('#formTD').show(); return false" class="frm_link"><span class="frm_txtwrap"><span>On-line запись на&nbsp;тест-драйв</span></span></a></li>
        <li class="frm_item ico_cars"><a href="#" onClick="$('#bgAppearWindow').show(); $('#formTO').show(); return false" class="frm_link"><span class="frm_txtwrap"><span>On-line запись на&nbsp;сервис</span></span></a></li>
        <li class="frm_item"><a href="{% url "cars_carinstock_list" %}" class="frm_link"><span class="frm_txtwrap"><span>Автомобили в наличии</span></span></a></li>
        <li class="frm_item ico_credit"><a href="#" onClick="$('#bgAppearWindow').show(); $('#formTK').show(); return false" class="frm_link"><span class="frm_txtwrap"><span>Заявка на кредит</span></span></a></li>
        <li class="frm_item ico_mail"><a href="#" onClick="$('#bgAppearWindow').show(); $('#formFB').show(); return false" class="frm_link"><span class="frm_txtwrap"><span>Написать письмо по&nbsp;e-mail</span></span></a></li>
        <li class="frm_item ico_phone"><a class="frm_link" rel="nofollow" href='#' onclick="swQ.fn.SWD.settings.recallSource='button'; swQ.fn.SWD.showRecall(); event.stopPropagation();"><span class="frm_txtwrap"><span>Обратный звонок</span></span></a></li>
    </ul>
    <div class="frm_trigger"></div>
</div>


<!-- / FIXED RIGHT MENU -->