{% load onlineforms_tags %}
<div id="formTO" style="position: fixed; display: none; top: 10%; left: 50%; margin-left: -245px; z-index: 3001; padding: 16px; background-color: #FFFFFF; border: 1px solid #CCC;">
    <div onClick="$('#bgAppearWindow').hide(); $('#formTO').hide();  $('#formTO').find('form').addClass('reset');  $('#formTO').find('form')[0].reset();" style="position: absolute; top: -15px; right: -15px; width: 31px; height: 36px; cursor: pointer;"><img src="{{ STATIC_URL }}pics/close_popup_but.png" alt="" /></div>
    <div style="width: 440px; border: 1px solid #CCCCCC;">
        <div class="formHeader">
            Запись на сервис
        </div>
        <div style="background-color: #F5F5F5; padding: 14px;">
            <form action="{% url "onlineforms_techservice" %}" method="POST" class="online-forms">
                {% onlineforms_techservice %}
            </form>
        </div>
    </div>
</div>
<div id="formTD" style="position: fixed; display: none; top: 10%; left: 50%; margin-left: -245px; z-index: 3001; padding: 16px; background-color: #FFFFFF; border: 1px solid #CCC;">
    <div onClick="$('#bgAppearWindow').hide(); $('#formTD').hide();  $('#formTD').find('form').addClass('reset');  $('#formTD').find('form')[0].reset();" style="position: absolute; top: -15px; right: -15px; width: 31px; height: 36px; cursor: pointer;"><img src="{{ STATIC_URL }}pics/close_popup_but.png" alt="" /></div>
    <div style="width: 440px; border: 1px solid #CCCCCC;">
        <div class="formHeader">
            Запись на тест-драйв
        </div>
        <div style="background-color: #F5F5F5; padding: 14px;">
            <form action="{% url "onlineforms_testdrive" %}" method="POST" class="online-forms">
            {% onlineforms_testdrive %}
            </form>
        </div>
    </div>
</div>
<div id="formFB" style="position: fixed; display: none; top: 10%; left: 50%; margin-left: -245px; z-index: 3001; padding: 16px; background-color: #FFFFFF; border: 1px solid #CCC;">
    <div onClick="$('#bgAppearWindow').hide(); $('#formFB').hide(); $('#formFB').find('form').addClass('reset');  $('#formFB').find('form')[0].reset();" style="position: absolute; top: -15px; right: -15px; width: 31px; height: 36px; cursor: pointer;"><img src="{{ STATIC_URL }}pics/close_popup_but.png" alt="" /></div>
    <div style="width: 440px; border: 1px solid #CCCCCC;">
        <div class="formHeader">
            Обратная связь
        </div>
        <div style="background-color: #F5F5F5; padding: 14px;">
            <form action="{% url "onlineforms_feedback" %}" method="POST" class="online-forms">
                {% onlineforms_feedback %}
            </form>
        </div>
    </div>
</div>
<div id="formOF" style="position: fixed; display: none; top: 10%; left: 50%; margin-left: -245px; z-index: 3001; padding: 16px; background-color: #FFFFFF; border: 1px solid #CCC;">
    <div onClick="$('#bgAppearWindow').hide(); $('#formOF').hide(); $('#formOF').find('form').addClass('reset');  $('#formOF').find('form')[0].reset();" style="position: absolute; top: -15px; right: -15px; width: 31px; height: 36px; cursor: pointer;"><img src="{{ STATIC_URL }}pics/close_popup_but.png" alt="" /></div>
    <div style="width: 440px; border: 1px solid #CCCCCC;">
        <div class="formHeader">
            Индивидуальные предложения
        </div>
        <div style="background-color: #F5F5F5; padding: 14px;">
            <form action="{% url "onlineforms_offer" %}" method="POST" class="online-forms">
                {% onlineforms_offer %}
            </form>
        </div>
    </div>
</div>
<div id="formTK" style="position: fixed; display: none; top: 10%; left: 50%; margin-left: -245px; z-index: 3001; padding: 16px; background-color: #FFFFFF; border: 1px solid #CCC;">
    <div onClick="$('#bgAppearWindow').hide(); $('#formTK').hide(); $('#formTK').find('form').addClass('reset');  $('#formTK').find('form')[0].reset();" style="position: absolute; top: -15px; right: -15px; width: 31px; height: 36px; cursor: pointer;"><img src="{{ STATIC_URL }}pics/close_popup_but.png" alt="" /></div>
    <div style="width: 440px; border: 1px solid #CCCCCC;">
        <div class="formHeader">
            Заявка на кредит
        </div>
        <div style="background-color: #F5F5F5; padding: 14px;">
            <form action="{% url "onlineforms_credit" %}" method="POST" class="online-forms">
                {% onlineforms_credit %}
            </form>
        </div>
    </div>
</div>
{#<div id="formNW" style="position: fixed; display: none; top: 10%; left: 50%; margin-left: -245px; z-index: 3001; padding: 16px; background-color: #FFFFFF; border: 1px solid #CCC;">#}
{#    <div onClick="$('#bgAppearWindow').hide(); $('#formNW').hide();" style="position: absolute; top: -15px; right: -15px; width: 31px; height: 36px; cursor: pointer;"><img src="{{ STATIC_URL }}pics/close_popup_but.png" alt="" /></div>#}
{#    <div style="width: 440px; border: 1px solid #CCCCCC;">#}
{#        <div class="formHeader">#}
{#            Подписка на новости#}
{#        </div>#}
{#        <div style="background-color: #F5F5F5; padding: 14px;">#}
{#            <table class="noborder">#}
{#                <tr>#}
{#                    <td colspan="2" style="padding-bottom: 10px;"><span style="font-size: 11px; font-weight: bold;">Подпишитесь на наши новости и спецпредложения</span></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td width="100px" height="38px">E-mail:</td>#}
{#                    <td width="300px"><input type="text" name="news" class="inputText" /></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td colspan="2" align="right"><input type="submit" id="submNW" value="Подписаться" class="submitButton" /></td>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#</div>#}