{% if is_paginated %}
    <div align="center">
        {% if page_obj.has_previous %}
            <div style="float: left;">
                <a href="{% url named_url %}{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}"><img src="{{ STATIC_URL }}pics/arrowPrevNewsPage.jpg" alt="" /></a>
            </div>
        {% endif %}
        <div style="float: left;">
            {% for p in paginator.page_range %}
                {% if p == page_obj.number %}
                    <a class="newsPageSort" style="color: #666666; border: 1px solid #666666;">{{ p }}</a>
                {% else %}
                    {% if p == 1%}
                        <a class="newsPageSort" href="{% url named_url %}">{{ p }}</a>
                    {% else %}
                        <a class="newsPageSort" href="{% url named_url %}?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% if page_obj.has_next %}
            <div style="float: left;">
                <a href="{% url named_url %}?page={{ page_obj.next_page_number }}"><img src="{{ STATIC_URL }}pics/arrowNextNewsPage.jpg" alt="" /></a>
            </div>
        {% endif %}
        <div style="clear: both;"></div>
    </div>
{% endif %}