<!-- sticky-menu -->
<div class="aside-sticky-outer" id="fixedMenu" style="display: none;">
    <div class="aside-sticky-menu">
        <div class="aside-sticky-inner">
            <table>
                <tr>
                    <td id="spec"><a href="{% url "action_index" %}">
                        <span class="aside-sticky-text">Акции</span>
                        <span class="aside-sticky-bg" style="background-image: url({{ STATIC_URL }}pics/sticky-icons/spec.jpg)"></span>
                    </a>
                    </td>
                </tr>
                <tr class="sticky-separator"><td></td></tr>
                <tr id="configurator">
                    <td><a href="http://cc.skoda-auto.com/rus/">
                        <span class="aside-sticky-text">Конфигуратор</span>
                        <span class="aside-sticky-bg" style="background-image: url({{ STATIC_URL }}pics/sticky-icons/configurator.jpg)"></span>
                    </a>
                    </td>
                </tr>
                <tr class="sticky-separator"><td></td></tr>
                <tr>
                    <td id="test-drive"><a href="#" onClick="$('#bgAppearWindow').show(); $('#formTD').show(); return false">
                        <span class="aside-sticky-text">On-line запись<br> на тест-драйв</span>
                        <span class="aside-sticky-bg" style="background-image: url({{ STATIC_URL }}pics/sticky-icons/test-drive.jpg)"></span>
                    </a>
                    </td>
                </tr>
                <tr class="sticky-separator"><td></td></tr>
                <tr>
                    <td id="service"><a href="#" onClick="$('#bgAppearWindow').show(); $('#formTO').show(); return false">
                        <span class="aside-sticky-text">On-line запись<br> на сервис</span>
                        <span class="aside-sticky-bg" style="background-image: url({{ STATIC_URL }}pics/sticky-icons/service.jpg)"></span>
                    </a>
                    </td>
                </tr>
                <tr class="sticky-separator"><td></td></tr>
                <tr>
                    <td id="email"><a href="#" onClick="$('#bgAppearWindow').show(); $('#formFB').show(); return false">
                        <span class="aside-sticky-text">Написать письмо<br> по e-mail</span>
                        <span class="aside-sticky-bg" style="background-image: url({{ STATIC_URL }}pics/sticky-icons/email.jpg)"></span>
                    </a>
                    </td>
                </tr>
                <tr class="sticky-separator"><td></td></tr>
                <tr>
                    <td id="hotline"><a href="http://www.skoda-avto.ru/about/contacts" target="_blank">
                        <span class="aside-sticky-text">Горячая линия<br> SKODA AUTO</span>
                        <span class="aside-sticky-bg" style="background-image: url({{ STATIC_URL }}pics/sticky-icons/hotline.jpg)"></span>
                    </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="folding-button"></div>
    </div>
</div>
<!-- /sticky-menu -->