<form name="landingnewauto_main" class="landingnewauto_main form-horizontal" method="POST" action="{% url 'landing_form' %}">{% csrf_token %}
    <div class="form-group">
        <label class="control-label required" for="landingnewauto_main_name">Имя</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Как вас зовут?" required>
    </div>
    <div class="form-group">
        <label class="control-label required" for="landingnewauto_main_phone">Телефон</label>
            <input type="tel" id="phone" name="phone" class="form-control"  placeholder="+7-999-999-99-99" required>
    </div>

    <button type="submit" class="button">Выгодное предложение</button>
</form>