{% extends "sitemap.html" %}
{% load highlight %}
{% block page_title %}{% if meta_tags.title %}{{ meta_tags.title }} | {{ settings.SITE_BASE_TITLE }}{% else %}{{ settings.SITE_BASE_TITLE }}{% endif %}{% endblock %}
{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
<meta name="googlebot" content="noindex">
{% endblock %}

{% block page_header %}Поиск по сайту{% endblock %}

{% block content %}
    <br><br>
    <div >
    <form style="margin: 0px; text-align: center" action="." method="get">
        <input type="text" name="q" value="{{ form.q.value|default:'' }}" style="border: 1px solid #CCCCCC; width: 400px; height: 22px; padding-left: 3px; color: #555555;" />
        <input type="submit" value="Найти" style="width: 80px; height: 26px; font-size: 13px; font-family: Verdana; background-color: #4AA82E; color: #FFFFFF; border: 0px; cursor: pointer;"/>
    </form>
    {% if query %}
        <ul>
        {% for result in page.object_list %}
            <li><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
            <p>{% highlight result.text with query %}</p></li>
        {% endfor %}
        </ul>
    {% endif %}
        {% if page.has_previous or page.has_next %}
            <div align="center">
                {% if page.has_previous %}
                    <div style="float: left;">
                        <a href="{% url "search" %}?q={{ query }}&amp;page={{ page.previous_page_number }}"><img src="{{ STATIC_URL }}pics/arrowPrevNewsPage.jpg" alt="" /></a>
                    </div>
                {% endif %}
                <div style="float: left;">
                    {% for p in paginator.page_range %}
                        {% if p == page.number %}
                            <a class="newsPageSort" style="color: #666666; border: 1px solid #666666;">{{ p }}</a>
                        {% else %}
                            <a class="newsPageSort" href="{% url "search" %}?q={{ query }}&amp;page={{ p }}">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if page.has_next %}
                    <div style="float: left;">
                        <a href="{% url "search"  %}?q={{ query }}&amp;page={{ page.next_page_number }}"><img src="{{ STATIC_URL }}pics/arrowNextNewsPage.jpg" alt="" /></a>
                    </div>
                {% endif %}
                <div style="clear: both;"></div>
            </div>
        {% endif %}
    </div>
    <br><br>
    <div style="clear: both;"></div>
{% endblock %}