{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!--[if lt IE 9]>
	        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	        <![endif]-->
        <title>ŠKODA Автоцентр Злата</title>
		<meta name="keywords" content="продажа автомобилей Шкода" />

        <meta name="description" content="SKODA Автоцентр Злата" />
        <meta name="robots" content="index, follow" />
        <meta property="og:site_name" content="zlata-nn.ru - продажа автомобилей" />
        <meta property="og:description" content="SKODA Автоцентр Злата" />
        <meta property="og:keywords" content="продажа автомобилей Шкода" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="shortcut icon" href="{% static 'landing/bundles/custom/Brands/skoda/favicon.ico?2' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'landing/css/style.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'landing/css/cf1e4c9.css' %}"/>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'landing/js/fancybox/source/jquery.fancybox.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'landing/css/custom.css' %}"/>
        <script type="text/javascript" src="{% static 'landing/js/fancybox/source/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'landing/js/jquery.maskedinput.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'landing/js/script.js' %}"></script>

	</head>
	
	<body id="main" reflect-showcase-load="{toggleClass: 'loading'}" >
		
		<div class="page-wrap">
			<header class="header-wrap">

                <div class="header" ng-init="menuExpanded=false">
                    <div class="header__dealer header-dealer">
                        <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>&nbsp;&nbsp;</p>
                            </div>
                        </div>
                    </div>
                    <div class="header__info header-info">
                        <div class="header-info__about">
                            <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                                <div property="sioc:content" class="cz_content cz_global">
                                    <p>Автомобили от официального дилера</p>
                                </div>
                            </div>
                        </div>

                        <div class="header-info__phone">
                            <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                                <div property="sioc:content" class="cz_content cz_global">
                                    <p>+7 (831) 233-11-11</p>
                                </div>
                            </div>

                            <a class="header-link fancybox-ajax" href="{% url 'landing_form' %}">Перезвоните мне</a>

                        </div>

                        <div class="header-info__time">
                            <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">

                                <div property="sioc:content" class="cz_content cz_global">
                                    <p>с 8:00 до 20:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__logo header-logo">
                        <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>
                                    <a href="/"><img src="{% static 'landing/images/logoskoda.png' %}" /></a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <a href="" class="header__burger header-burger">Меню</a>
                </div>
            </header>

			<main class="main">
					
                <div class="menu-wrap" >
	                <nav class="menu">
                        <a href="" scroll-to="main" easing="easeOutQuart" duration="1800">&Scaron;KODA</a>
                        <a href="#features" easing="easeOutQuart" duration="1800" scroll-to="features">Выгоды</a>
                        <a href="#gifts" easing="easeOutQuart" duration="1800" scroll-to="gifts">Акции</a>
                        <a href="#autos" easing="easeOutQuart" duration="1800" scroll-to="autos">Авто в наличии</a>
                        <a href="#map" easing="easeOutQuart" duration="1800" scroll-to="map">Карта</a>
                    </nav>
                </div>
	    

                {% block main_baner %} {% endblock %}


                <div class="top-form-wrap" id="top_form">
                    <div class="top-form">
                        <h2 class="top-form__title"><span><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>Отправьте заявку и получите выгодное<br />
                                    предложение недели!</p>
                            </div>
                        </div></span></h2>
                        <div class="top-form__text"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone"
                             data-as-clickzone="skoda-asc.tradedealer.ru_top_form_text" >
                            <div property="sioc:content" class="cz_content cz_global">
                            <p>Мы подберем для Вас автомобиль на выгодных условиях.</p>
                        </div>
                        </div></div>

                        {% include 'landing/includes/call_form.html' %}

                    </div>
                </div>
    

                {% block links %} {% endblock %}

                {% block stock %} {% endblock %}

                {% block cars %} {% endblock %}

                <div class="map-wrap" id="map">
                    <div class="map">
                        <h2 class="map__head"><span><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                Контакты
                            </div>
                        </div></span></h2>

                        <div class="map__address"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>Нижний Новгород, пр. Ленина, 93</p>
                            </div>
                        </div></div>

                        <div class="map__phone"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>+7 (831) 233-11-11</p>
                            </div>
                        </div></div>
                         <div class="map__content">
                            <!--<script type="text/javascript" charset="utf-8" src="
                                https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=yo8eReZx6NQpHPcZoLMK9uGTwfLBWcPF">
                            </script>-->
                            <script type="text/javascript" charset="utf-8"
                                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=928yM9rlIxStscYQRiqGrUyDRMYZoO4M&width=100%&height=470&lang=ru_RU&sourceType=constructor">
                            </script>
                        </div>
                     </div>
                </div>
                <br>


                <div class="main-form-wrap">
                    <div class="main-form">
                        <h2 class="main-form__title">
                            <span><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>Получить Уникальное предложение на покупку &Scaron;KODA</p>
                            </div>
                            </div></span>
                        </h2>
                        <div class="main-form__text">
                            <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                                <div property="sioc:content" class="cz_content cz_global">
                                    <p>Отправьте заявку и получите список автомобилей по специальной цене!</p>
                                </div>
                            </div>
                        </div>

                        {% include 'landing/includes/call_form.html' %}

                    </div>
                </div>

            </main>
        </div>
        <script>
            $(function(){
               $("input[name=phone]").mask("+7 (999) 999-99-99");

               $('.fancybox').fancybox();
               $('.fancybox-ajax').fancybox({
                  type: 'ajax',
                  helpers: {
                    overlay: {
                        locked: false
                    }
                  }
               });

               $('.landingnewauto_main').submit(function(e){
                    e.preventDefault();
                    var self = $(this);
                    $.post(self.attr('action'), self.serializeArray(), function(data){
                        //self.parent().html(data);
                        $.fancybox(data, {
                          helpers: {
                            overlay: {
                                locked: false
                            }
                          }
                        }); // fancybox
                        $("input[type=text], input[type=tel]").val('');
                    })
                });
            })

        </script>
    </body>
</html>