{% if success %}
    <div class="window__text">
        <p>Благодарим Вас за заявку! Наши специалисты свяжутся с Вами в ближайшее время.</p>
    </div>
{% else %}
<div class="div-landing-form">
    <h3 class="window__head">Думаете мы шутим?</h3>
    <div class="window__text">Отправьте заявку сейчас<br> и мы подберем для Вас автомобиль на выгодных условиях</div>
    <form id="order-form" action="{% url "landing_form" %}" method="post">{% csrf_token %}
        {% for field in form %}
        <div class="cell-row">
        <div class="form-cell">
            {{ field.label_tag }}
            <div>
                {{ field }}
                {% for error in field.errors %}
                    <label class="form-error" for="{{ field.id_for_label }}">{{ error }}</label>
                {% endfor %}
            </div>
        </div>
        </div>
        {% endfor %}
        <div class="form-cell button-cell">
            <button type="submit" class="button banner-content__button">Мне интересно</button>
        </div>
    </form>
</div>
<script>
    function checkField(field)
    {
        /*for(var i=0; i < fields.length; i++)
        {
            alert(fields[i].val());
        }*/
        if(!field.val())
        {
            var parent = field.parent(),
            label_error = parent.find('.form-error').text();

            if (!label_error)
            {
                field.parent().append('<label class="form-error">Обязательное поле</label>');
            }
        }
    }

    $(function(){
        $("input[name=phone]").mask("+7 (999) 999-99-99");

        $('#order-form').submit(function(e){
            e.preventDefault();
            var self = $(this),
                name_src = self.find('input[name=name]'),
                name = self.find('input[name=name]').val(),
                phone_src = self.find('input[name=phone]'),
                phone = self.find('input[name=phone]').val();

            if(name && phone)
            {
                $.post(self.attr('action'), self.serializeArray(), function(data){
                    var parent = self.parent();
                    parent.parent().html(data);
                })
             }
             else
             {
                checkField(name_src);
                checkField(phone_src);
             }
        });
    });
</script>
{% endif %}

