{% extends "landing/base.html" %}

{% block main_baner %}
    <div class="banner-wrap">
        <div class="banner" id="banner">
            <div class="banner__img">
                <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                    <div property="sioc:content" class="cz_content cz_global">
                        <p>
                            <img alt="" src="{{ object.photo.url }}" />&nbsp; &nbsp;&nbsp;
                        </p>
                    </div>
                </div>
            </div>
            <div class="banner__content banner-content">
                <h2 class="banner-content__title">
                    <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                        <div property="sioc:content" class="cz_content cz_global">
                            <p><span style="font-size:26px;">{{ object.text|safe }}</span>
                            </p>

                        </div>
                    </div>
                </h2>

                <div class="banner-content__text">
                    <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                        <div property="sioc:content" class="cz_content cz_global">
                            <p>&nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>

                <a class="banner-content__button fancybox-ajax"
                   href="{% url 'landing_form' %}"
                   >Узнать прямо сейчас</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block links %}

    <section class="features-wrap" id="features">
        <div class="features">
            <h2 class="features__head"><span><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                <div property="sioc:content" class="cz_content cz_global">
                    <p>Дополнительные выгоды при покупке в<br />Автоцентре Злата</p>
                </div>
            </div></span></h2>

            <ul class="features__list">

            {% with object.links.all as links %}

            {% for link in links %}
                <li class="feature-item">
                    <div class="feature feature--visible">
                        <div class="feature__img">
                            <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                                <div property="sioc:content" class="cz_content cz_global">
                                    <p><img alt="" src="{{ link.photo.url }}" style="height:163px; width:320px" /></p>
                                </div>
                            </div>
                        </div>
                        <h3 class="feature__title"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>{{ link.name }}</p>
                            </div>
                        </div></h3>
                        <div class="feature__text"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>{{ link.text }}<br />
                                &nbsp;</p>
                            </div>
                        </div></div>
                        <span class="feature__details">Подробнее</span>
                        <a class="feature__link" href="{{ link.link }}" target="_blank">Подробнее</a>
                    </div>
                    <div class="feature feature--hidden">
                        <div class="feature__img">
                            <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                                <div property="sioc:content" class="cz_content cz_global">
                                    <p><img alt="" src="{{ link.photo.url }}" style="height:163px; width:320px" /></p>
                                </div>
                            </div>
                        </div>
                        <h3 class="feature__title"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>{{ link.name }}</p>
                            </div>
                        </div></h3>
                        <div class="feature__text"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>{{ link.text }}<br />
                                &nbsp;</p>
                            </div>
                        </div></div>
                        <span class="feature__details">Подробнее</span>
                        <a class="feature__link" href="{{ link.link }}" target="_blank">Подробнее</a>
                    </div>
                </li>
    {% endfor %}
    {% endwith %}

    </ul>
        </div>
    </section>

{% endblock %}

{% block stock %}

    <div class="gifts-wrap" id="gifts">
        <div class="gifts">
            <h2 class="gifts__head"><span><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                <div property="sioc:content" class="cz_content cz_global">
                    <p>Акции</p>
                </div>
            </div></span></h2>

            <ul class="gifts__list">

                <li class="gift">
                    <div class="gift__img">
                        <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>
                                    {{ object.stock|safe }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="gift__link fancybox-ajax" href="{% url 'landing_form' %}" data-lead-form  onclick="">Подробнее</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}

{% block cars %}

    <div class="autos-wrap" id="autos">
        <div class="autos">
            <h2 class="autos__head"><span><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                    <div property="sioc:content" class="cz_content cz_global">
                        <p>Авто в наличии</p>
                    </div>
                </div></span>
            </h2>

	<ul class="autos__list" repeatable-container="skoda-asc.tradedealer.ru_autos_list">

    {% with object.cars.all as cars %}

    {% for car in cars %}

        <li class="auto-item">
            <div class="auto auto--visible">
                <div class="auto__img">
                    <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                        <div property="sioc:content" class="cz_content cz_global">
                            <p><img alt="" src="{{ car.photo.url }}" /></p>

                        </div>
                    </div>
                </div>
                <h3 class="auto__title"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                    <div property="sioc:content" class="cz_content cz_global">
                        <p>{{ car.name }}<br />
                        {{ car.desc }}</p>
                    </div>
                </div></h3>
                <strong class="auto__price"><div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                    <div property="sioc:content" class="cz_content cz_global">
                        <p>{{ car.price }}</p>
                    </div>
                </div></strong>
                    <a class="auto__link fancybox-ajax" href="{{ car.link }}">Подробнее</a>
                </div>
                <div class="auto auto--hidden">
                    <div class="auto__img">
                        <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p><img alt="" src="{{ car.photo.url }}" /></p>
                            </div>
                        </div>
                    </div>
                    <h3 class="auto__title">
                        <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>{{ car.name }}<br />
                                    {{ car.desc }}</p>
                            </div>
                        </div>
                    </h3>
                    <strong class="auto__price">
                        <div xmlns:sioc="http://rdfs.org/sioc/ns#" typeof="sioc:Artsofte_ClickZoneBundle_Model_ClickZone">
                            <div property="sioc:content" class="cz_content cz_global">
                                <p>{{ car.price }}</p>
                            </div>
                        </div>
                    </strong>
                    <span class="auto__details">Узнать прямо сейчас</span>
                    <a class="auto__link fancybox-ajax" href="{% url 'landing_form' %}">Подробнее</a>
                </div>
        </li>


    {% endfor %}

    {% endwith %}

    </ul>

{% endblock %}