{% extends "inner.html" %}
{% load snippets_tags %}

{% block page_img %}{{ STATIC_URL }}pics/main_news.jpg{% endblock %}
{% block page_header %}{% endblock %}

{% block page_title %}
    {% if meta_tags.title %}
        {{ meta_tags.title }}
    {% elif metadata.meta_title %}
        {{ metadata.meta_title }}
    {% endif %}
{% endblock %}
{% block page_description %}
    {% if meta_tags.description %}
        {{ meta_tags.description }}
    {% elif metadata.description %}
        {{ metadata.description }}
    {% else %}
        {{ metadata.meta_title }}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="wrap blue">
        <div class="container">
            <div class="breads"><a href="/">Главная</a> / {{ spage.title|default:"Статьи" }}</div>
            <div class="header2 breadcrumbs"><h1>{{ spage.title|default:"Статьи" }}</h1></div>
            {% for item in object_list %}
                <div class="article-item">
                    <div class="article-title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
                    <div class="anons">{{ item.introtext }}</div>
                    <div style="text-align: right"><a href="{{ item.get_absolute_url }}">Читать далее &raquo;</a></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}