{% extends "inner.html" %}
{% load news_tags snippets_tags %}

{% block page_img %}{{ STATIC_URL }}pics/main_news.jpg{% endblock %}
{% block page_header %}{% endblock %}

{% block content %}
    <div class="wrap blue">
        <div class="container">
            <div class="breads"><a href="/">Главная</a> / <a href="{% url "article_list" %}">{{ spage.title|default:"Статьи" }}</a> /
                {% if object.zag %}{{ object.zag }}{% else %}{{ object.title }}{% endif %}</div>
            <div class="header2 breadcrumbs"><h1>
                {% if object.zag %}{{ object.zag }}{% else %}{{ object.title }}{% endif %}</h1></div>
            <div class="text">
                {{ object.fullopis|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_title %}{% if object.metatitle %}{{ object.metatitle }}{% else %}{{ object.title }}
{% endif %}{% endblock %}
{% block page_description %}{{ object.metades }}{% endblock %}
{% block page_keywords %}{{ object.metakey }}{% endblock %}
