{% load snippets_tags %}
{% for object in object_list %}
    <div style="width: 276px; height: 310px; float: left;">
    {% if object.is_image %}
        {% if object.link %}<a href="{{ object.link }}" target="{{ object.in_new|yesno:"_blank,_self" }}">{% endif %}
            <img src="{{ object.banner.url }}" width="276" height="310" alt="{{ object.title }}" />
        {% if object.link %}</a>{% endif %}
    {% elif object.is_flash %}
        <object height="310" width="276" type="application/x-shockwave-flash" data="{{ object.banner.url }}">
            <param name="allowScriptAccess" value="sameDomain">
            <param name="menu" value="false">
            <param name="wmode" value="transparent">
            <param name="quality" value="high">
            <param name="movie" value="{{ object.banner.url }}">
            <param name="flashVars" value="link1=http://skoda-avto.ru">
            <embed allowscriptaccess="sameDomain" menu="false" flashvars="link1=http://skoda-avto.ru" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" src="{{ object.banner.url }}" type="application/x-shockwave-flash" wmode="transparent" height="310" width="276">
        </object>
    {% endif %}
    </div>
    <div style="width: 26px; float: left;">&#160;</div>
{% endfor %}