{% extends "news/news_list.html" %}
{% load news_tags snippets_tags %}

{% block page_img %}{% if object.img %}{{ object.img|img_version:"940x430" }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block page_header %}{% endblock %}
{% block content %}
    <h1 class="newsTitle">{{ object.title }}</h1>
    <div class="bcrumbs__news/" id="bcrumbs"><a href="/">Главная</a> / <a href="/news/">Новости</a> / {{ object.title }}</div>
    {{ object.pub_date|date:"d/m/Y" }}
    <br /><br />
    {{ object.content|safe }}
    <br clear="all" />
    <br />
    <br>
    <a href="{% url "news_archive_index" %}" class="newsList">Все новости</a>
    {% news_other object %}
{% endblock %}

{% block page_title %}
    {% if not metadata.meta_title %}
        {{ object.title }} | Новости автоцентра «Злата»
    {% else %} {{ metadata.meta_title }}
    {% endif %}
{% endblock %}

{% block page_description %}
    {% if meta_tags.description %}
        {{ meta_tags.description }}
    {% else %}{{ metadata.description }}
    {% endif %}
{% endblock %}