{% extends "inner.html" %}
{% load news_tags snippets_tags %}

{% block page_img %}{{ STATIC_URL }}pics/main_news.jpg{% endblock %}
{% block page_header %}{{ block.super|default:"Новости" }}{% endblock %}
{% block content %}
    <div class="bcrumbs__news/" id="bcrumbs"><a href="/">Главная</a> / Новости</div>
    {% for obj in object_list %}
    <div style="padding-bottom: 22px;">
        <div style="width: 140px; min-height: 60px; float: left;">
            {% if obj.img %}
                <img src="{{ obj.img|img_version:"small" }}" width="140" alt="{{ obj.title }}" />
            {% endif %}
        </div>
        <div class="newsBox" style="width: 700px;">
            <span>{{ obj.pub_date|date:"d.m.Y" }}</span>
            <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><br />
            {{ obj.excerpt|striptags }}
        </div>
        <div style="clear: both;"></div>
    </div>
    {% endfor %}
    {% include "includes/paginate.html" with named_url="news_archive_index" %}
{% endblock %}

{% if is_paginated %}
        {% block page_title %}Новости – Страница {{page_obj.number}} | Автоцентр «Злата»{% endblock %}
        {% if not metadata.description %}
            {% block page_description %}Продажа, сервисное обслуживание и тест-драйв автомобилей SKODA от автоцентра «Злата». Мы являемся официальным дилером компании в Нижнем Новгороде. Новости. Страница {{page_obj.number}}.{% endblock %}
        {% endif %}
{% endif %}