{% load snippets_tags %}
<div style="border-bottom: 1px solid #999999; height: 22px;"></div>
{% for obj in object_list %}
<div style="padding-top: 22px;">
    <div style="width: 80px; float: left;">
        {% if obj.img %}
            <img src="{{ obj.img|img_version:"thumbnail" }}" width="80px" height="60px" alt="{{ obj.title }}" />
        {% endif %}
    </div>
    <div class="newsBox">
        <span>{{ obj.pub_date|date:"d/m/Y" }}</span>
        <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><br />
        {{ obj.excerpt|striptags }}
    </div>
    <div style="clear: both;"></div>
</div>
{% endfor %}