<div class="newsBlock">
    <div style="padding: 14px 10px 14px 16px;">
        <div style="width: 542px; height: 30px; border-bottom: 1px solid #CCC;">
            <div style="float: right; font-size: 14px; color: #000;"><a href="{% url "news_archive_index" %}" class="allNews">Все</a></div>
            <span style="font-size: 14px; color: #000;">Новости</span>
        </div>
        <div class="newsHomeBox">
            {% for obj in object_list %}
            <div style="height: 98px; margin-top: 16px; {% if not forloop.counter|divisibleby:2 %}margin-right: 18px;{% endif %}">
                <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <span>- {{ obj.excerpt|striptags }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>