{% extends "inner.html" %}
{% load snippets_tags %}

{% block content %}
<div class="bcrumbs__reviews/" id="bcrumbs"><a href="/">Главная</a> / Отзывы</div>
    {% if object_list %}
        {% for object in object_list %}
            <p><span style="font-weight:bold;">{{ object.name }}</span></p>
            <p>{{ object.text|striptags }}</p>
            <br>
        {% endfor %}
        <p><a href="#" onclick="$('#bgAppearWindow').show(); $('#formReview').show(); return false;">Оставить отзыв</a></p>
    {% else %}
        <p>Пока нет ниодного отзыва. Вы можете стать первым. <a href="#" onclick="$('#bgAppearWindow').show(); $('#formReview').show(); return false;">Оставить отзыв</a></p>
    {% endif %}
{% endblock %}

{% block popup_forms %}
    <div id="formReview"
         style="position: fixed; display: none; top: 10%; left: 50%; margin-left: -245px; z-index: 3001; padding: 16px; background-color: #FFFFFF; border: 1px solid #CCC;">
        <div onClick="$('#bgAppearWindow').hide(); $('#formReview').hide(); $('#formReview').find('form').addClass('reset');  $('#formReview').find('form')[0].reset();"
             style="position: absolute; top: -15px; right: -15px; width: 31px; height: 36px; cursor: pointer;"><img
                src="{{ STATIC_URL }}pics/close_popup_but.png" alt=""/></div>
        <div style="width: 440px; border: 1px solid #CCCCCC;">
            <div class="formHeader">
                Оставить отзыв
            </div>
            <div style="background-color: #F5F5F5; padding: 14px;">
                <form action="{% url "review_create" %}" method="POST" class="online-forms">
                    {% include "reviews/review_form.html" with form=review_form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}