{% load onlineforms_tags %}
{% if success %}
    <p class="success">Спасибо за отзыв</p>
    <div class="fields hide">
{% else %}
    <div class="fields">
{% endif %}
{% csrf_token %}
    <table class="noborder">
        <tr>
            <td style="width:100px; height: 38px;">Ваше имя: *</td>
            <td>{{ form.name|add_class:"inputText" }}</td>
        </tr>
        {% if form.name.errors %}
            <tr>
                <td></td>
                <td>{{ form.name.errors }}</td>
            </tr>
        {% endif %}
        <tr>
            <td style="height: 38px;">E-mail:</td>
            <td>{{ form.email|add_class:"inputText" }}</td>
        </tr>
        {% if form.email.errors %}
            <tr>
                <td></td>
                <td>{{ form.email.errors }}</td>
            </tr>
        {% endif %}
        <tr>
            <td style="height: 38px; padding-top: 14px; vertical-align: top;">Отзыв: *</td>
            <td style="padding-top: 10px;">{{ form.text|add_class:"inputTextArea" }}</td>
        </tr>
        {% if form.text.errors %}
            <tr>
                <td></td>
                <td>{{ form.text.errors }}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2" style="font-size: 11px; padding-top: 10px;">* - поля, обязательные для заполнения.</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;"><input type="submit" id="submReview" value="Отправить"
                                                              class="submitButton"/></td>
        </tr>
    </table>
</div>