{% extends 'mobile/base.html' %}
{% load static %}
{% load snippets_tags %}

{% block content11 %}

{% for object in object_list %}
<div style="padding-bottom: 22px;">
    <div style="width: 192px; float: left;">
        {% if object.img %}
        <img src="{{ object.img|img_version:"192x90" }}" width="192px" height="90px" alt="{{ object.title }}" />
        {% endif %}
    </div>
    <div class="offersBox">
        <span>{{ object.pub_date|date:"d.m.Y" }}</span>
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a><br />
        {{ object.excerpt|striptags }}
        {% if object.expiry_date %}<div>Срок действия акции до {{ object.expiry_date|date:"d.m.Y" }}</div>{% endif %}
    </div>
    <div style="clear: both;"></div>
</div>
{% endfor %}
{% endblock %}

{% block content %}

    <script type="text/javascript">var _kdxComplexPath = "/m/special-offers/";</script>
    <div class="freeHeader"><h1>Акции</h1></div>
    <div class="freeImage">
        <img src="{% static 'mobile/img/2d79445ea56954e5f4e74d94d9aaca46.jpg' %}">
    </div>
    <div class="freeBody">
        {% for object in object_list %}
            {% url 'action_detail_mobile' slug=object.slug as url_action_detail %}
            <div class="paragraphRow">
                <div class="content">
                    {% if object.img %}
                        <a href="{{ url_action_detail }}">
                            <img class="img paragraphImageLeft" src="{{ object.img|img_version:"192x90" }}" width="192px" height="90px" alt="{{ object.title }}" title="{{ object.title }}" />
                        </a>
                    {% endif %}
                    <h2 class="paragraphTitle">{{ object.title }}</h2>
                    <span class="paragraphContent">
                        <span class="skoda-rteStyle-SkodaPro">{{ object.excerpt|striptags }}</span>
                        <p>&nbsp;<span class="skoda-rteStyle-SkodaPro"></span></p>
                        <span class="skoda-rteStyle-SkodaPro"><a class="skoda-rteStyle-ALink1Level" href="{{ url_action_detail }}">Подробнее об акции</a></span>
                        <p><br>&nbsp;</p>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
