{% extends 'mobile/base.html' %}
{% load humanize snippets_tags %}

{% block content %}

    <div class="detailHeader"><h1 class="title">{{ object.title }}</h1></div>
    <div class="detailImage">
            {% if object.img %}
                <img class="img paragraphImageLeft" src="{{ object.img.url }}" alt="{{ object.title }}" title="{{ object.title }}" />
            {% else %}{{ block.super }}{% endif %}
    </div>
    <div class="detailBody">
        <div>
            <span class="skoda-rteStyle-SkodaPro"><h2 class="newsTitle">{{ object.title }}</h2></span>
            {{ object.content|safe }}
            <br clear="all" />
            <br />
            <br>
            <a href="{% url "news_list_mobile" %}" class="newsList">Все новости</a>
        </div>
    </div>

{% endblock %}