{% load humanize %}
    {% for item in object_list %}
        <div class="avn_item">
            <div class="avn_item_info_wrap clearfix">
                <div class="avn_item_descr preview_descr">
                    <div class="avn_item_img marginb5">
                        <a href="http://slave.skoda-dws.ru/m/models/available_cars/123456789124597845/">
                            <img src="{{ item.car.img_exterior_point_front.url }}" alt="{{ item }}">
                        </a>
                    </div>
                    <div class="avn_item_price">{{ item.price|intcomma }} руб.</div>
                </div>
                <div class="avn_item_descr">
                    <div class="avn_item_name fz15 marginb10">{{ item }}</div>
                    <div class="avn_item_info fz12 marginb15">
                        <p>{{ item.engine }}</p>
                        <p>{{ item.color_text }}</p>
                        <p>Салон: {{ item.colorInterior }}</p>
                        <p>Год: {{ item.year }}</p>
                        <p>ID: {{ item.id }}</p>
                    </div>
                    <a href="{% url "available_cars_in_stock_detail" pk=item.pk slug=item.car.slug %}" class="btn has_arrow white fz12">Посмотреть</a>
                </div>
            </div>
            <div class="avn_item_form fz12 clearfix">
            </div>
        </div>
   {% endfor %}

<!--<p>Статус: В пути</p>-->