{% extends 'mobile/base.html' %}
{% load humanize %}

{% block content %}

    <div class="freeHeader"><h1>Автомобили в наличии</h1></div>
    <div class="freeImage">
        <div class="ios variable_height" style="">
            <div class="slider" style="">
                <div class="item" style="">
                    <img src="{{ object.car.img_exterior_point_front.url }}">
                </div>
            </div>
        </div>
    </div><!--/top_image_wrapper-->

    <div class="freeBody">
    <div class="avn_header">
        <div class="avn_head_name">{{ object.car }}</div>
        <div class="avn_head_price">{{ object.price|intcomma }} руб.</div>
        <div class="avn_item_form fz12 clearfix">
        </div>
    </div>

    <div class="avn_card_wrapper clearfix">
        <div class="avn_card_descr">
            <div class="defaut_table_wrap marginb15">
                <table class="defaut_table fz12">
                    <tbody>
                        <tr>
                            <th>ID:</th>
                            <td>{{ object.id }}</td>
                        </tr>
                        <tr>
                            <th>Комплектация:</th>
                            <td>{{ object.configuration_text }}</td>
                        </tr>
                        <tr>
                            <th>Цвет:</th>
                            <td>{{ object.color_text }}</td>
                        </tr>
                        <tr>
                            <th>Тип кузова:</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Год выпуска:</th>
                            <td>{{ object.year }}</td>
                        </tr>
                        <tr>
                            <th>КПП:</th>
                            <td>{{ object.engine }}</td>
                        </tr>
                        <tr>
                            <th>Тип двигателя:</th>
                            <td>Бензин</td>
                        </tr>
                        <tr>
                            <th>Объем двигателя:</th>
                            <td>{{ object.engine }}</td>
                        </tr>
                        <tr>
                            <th>Мощность двигателя:</th>
                            <td>{{ object.engine }}</td>
                        </tr>
                        <tr>
                            <th>Статус:</th>
                            <td>В наличии</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="btn_wrap">
                <a href="#" class="btn btn_big has_arrow white fz12">Зарезервировать</a>
            </div>
            <div class="btn_wrap">
                <a href="#" class="btn btn_gray has_arrow white marginb10 fz12">Пройти тест-драйв</a>
            </div>
        </div>
    </div>
</div><!-- /freeBody -->

<div class="avn_card_content_tabs tabs_wrapper tabs_type_line fz12">
    <!-- выбиралка табов-->
    <ul class="tabs_select js_tabs_select clearfix ul_simple fz12">
        <li class="tabs_select_item js_tabs current"><a href="#base">Стандартная комплектация</a></li>
        <li class="tabs_select_item js_tabs"><a href="#extra">Доп. опции</a></li>
    </ul>
    <!-- /выбиралка табов-->
    <div class="avn_card_content padding15 tabs_item js_tab current" id="base">

            <ul>
                                                                        <li>
                        Антиблокировочная система тормозов (ABS)                    </li>
                                                                            <li>
                        Электронная система курсовой устойчивости (ESC), вкл. блокировку дифференциала (XDS)                    </li>
                                                                            <li>
                        Полноразмерное стальное запасное колесо, комплект инструментов и домкрат                    </li>
                                                                            <li>
                        Рулевое колесо (с хромированной вставкой)                    </li>
                                                                            <li>
                        Электромеханический усилитель руля, с регулировкой в зависимости от скорости                    </li>
                                                                            <li>
                        Охлаждаемый перчаточный ящик                    </li>
                                                                            <li>
                        Подвеска для плохих дорог                    </li>
                                                                            <li>
                        Скребок для льда                    </li>
                                                                            <li>
                        Крепление для детского кресла сзади Isofix                    </li>
                                                                            <li>
                        Центральная консоль (ниша с крышкой)                    </li>
                                                                            <li>
                        Ручная регулировка высоты передних сидений                    </li>
                                                                            <li>
                        Вещевое отделение в багажнике и пластиковый фиксатор                    </li>
                                                                            <li>
                        Заднее сиденье неделимое, спинка делимая складная, с центральным подлокотником                    </li>
                                                                            <li>
                        2 подголовника сзади                    </li>
                                                                            <li>
                        Полка багажника, складная                    </li>
                                                                            <li>
                        Передние сиденья с подогревом                    </li>
                                                                            <li>
                        Теплозащитное остекление                    </li>
                                                                            <li>
                        Центральный замок с дистанционным управлением                    </li>
                                                                            <li>
                        Внутрисалонное зеркало заднего вида с автоматическим затемнением                    </li>
                                                                            <li>
                        Задние электростеклоподъемники                    </li>
                                                                                                <li>
                        Передние электростеклоподъемники                    </li>
                                                                            <li>
                        Фронтальные подушки безопасности для водителя и переднего пассажира, для пассажира - с отключением                    </li>
                                                                            <li>
                        Боковые подушки безопасности спереди                    </li>
                                                                            <li>
                        Макияжные зеркала спереди                    </li>
                                                                            <li>
                        Наружные зеркала в цвет кузова, для Outdoor серебристые (для цветной крыши)                    </li>
                                                                            <li>
                        Задние брызговики                    </li>
                                                                            <li>
                        Подсветка пространства для ног спереди и сзади                    </li>
                                                                            <li>
                        Наружные электрозеркала с обогревом, электроскладыванием и автоматическим затемнением                    </li>
                                                                            <li>
                        Электронный иммобилайзер                    </li>
                                                                            <li>
                        Розетка 12В в багажнике                    </li>
                                                                            <li>
                        Очечник                    </li>
                                                                            <li>
                        Поясничные опоры в спинках передних сидений, с механической регулировкой                    </li>
                                                                            <li>
                        Дневной свет фар Day Light                    </li>
                                                                            <li>
                        Датчик дождя                    </li>
                                                                            <li>
                        2 лампы для чтения спереди и сзади                    </li>
                                                                            <li>
                        Индикатор уровня жидкости омывателя                    </li>
                                                                            <li>
                        Подсветка в багажнике (2 лампы)                    </li>
                                                                            <li>
                        Исполнение для курящих (пепельница спереди)                    </li>
                                                                            <li>
                        Индикатор непристегнутого ремня безопасности водителя                    </li>
                                                                            <li>
                        Бортовой компьютер MFA                    </li>
                                                                            <li>
                        Обогреваемые форсунки омывателя лобового стекла                    </li>
                                                                            <li>
                        Датчик износа тормозных колодок                    </li>
                                                                            <li>
                        Стальные диски 6.5J x 16 с полноразмерными колпаками, шины 205/55 R16                    </li>
                                                                            <li>
                        Радио Swing - 2DIN, MP3, USB, Aux-In, SD-слот, Apple Chip, 8 динамиков                    </li>
                                                                            <li>
                        Кондиционер                    </li>
                                                                            <li>
                        Ящик под сиденьем переднего пассажира                    </li>
                                                </ul>
            </div>
        <div class="avn_card_content padding15 tabs_item js_tab" id="extra">
        <ul><li>Дневной свет фар Day Light </li><li> Датчик дождя </li><li> 2 лампы для чтения спереди и сзади </li><li> 2 лампы для чтения спереди </li><li> Круиз-контроль </li><li> Индикатор уровня жидкости омывателя </li><li> Передние противотуманные фары </li><li> Радиоподготовка (4 динамика, антенна) </li><li> 2-зонный климат-контроль Climatronic </li><li> Подсветка в багажнике (1 лампа)</li></ul>    </div>
    </div><!--/tabs_wrapper-->
<div id="reserve-available-car"></div>

<div class="reserve_form clearfix">

        <div class="form_wrapper">
            <div class="form_header">Зарезервировать</div>
            <div class="form_content clearfix padding15">
                <div class="avn_header clearfix">
                    <div class="avn_item_img"><img src="{{ object.car.img_exterior_point_front.url }}" alt="{{ object.car }}"></div>
                    <div class="avn_item_descr">
                        <div class="avn_item_name fz15 marginb10">{{ object.car }}&nbsp;{{ object.configuration_text }}</div>
                        <div class="avn_item_info fz12 marginb15">
                            <p>{{ object.enginte }}</p>
                            <p>{{ object.color_text }}</p>
                            <p>Салон: Кожа Vachette черного цвета</p>
                            <p>Статус: В наличии</p>
                            <p>Год выпуска: {{ object.year }}</p>
                            <p>ID: {{ object.id }}</p>
                        </div>
                    <div class="avn_item_price">{{ object.price|intcomma }} руб.</div>
                </div>
                </div>
                <div class="avn_item_form visible fz12 clearfix">
                    <form name="RESERVE_AVAILABLE_CAR" action="http://slave.skoda-dws.ru/m/models/available_cars/NL33P52T2T/" method="POST" enctype="multipart/form-data"><input type="hidden" name="sessid" id="sessid" value="40def147fdbdf4ef7014d5f2a5e9c4c5"><input type="hidden" name="WEB_FORM_ID" value="7">                        <div class="form_row marginb15 field-NAME">
                            <div class="title">Имя*:</div>
                            <div class="input_wrap"><input type="text" class="inp_txt" name="form_text_63"></div>
                        </div>
                        <div class="form_row marginb15 field-PHONE">
                            <div class="title">Телефон*:</div>
                            <div class="input_wrap"><input type="text" class="inp_txt" name="form_text_64"></div>
                        </div>
                        <div class="form_row marginb15">
                            <div class="title">E-mail:</div>
                            <div class="input_wrap"><input type="text" class="inp_txt" name="form_email_65"></div>
                        </div>
                                                    <input type="hidden" name="form_hidden_66" value="">
                                                <div class="form_row marginb15">
                            * — поля, обязательные для заполнения
                        </div>

                        <input type="hidden" name="form_hidden_68" value="NL33P52T2T">
                        <input type="hidden" name="web_form_submit" value=" ">

                        <div class="form_submit_row">
                            <input type="submit" class="btn fz12" value="Отправить">
                        </div>
                    </form>                </div>
            </div>
        </div>
</div><!-- /reserve_form -->

<script class="bx-inner-script" type="text/javascript">
    $(document).ready(function(){
        $(".reserve_form form").data('CODE', 'RESERVE_AVAILABLE_CAR').data('error-class', 'has_error').data('message-wrapper', '').trigger("kdx-load");
    });
</script>

{% endblock %}