{% extends 'mobile/base.html' %}
{% load static humanize %}

{% block content %}

<script type="text/javascript" src="{% static 'mobile/js/page_bd4736ff4009e5d488f5298ad543f47c_e71b16ea637d81b7cc26cfb942f18393.js' %}"></script>

        <div class="freeHeader"><h1>Автомобили в наличии</h1></div>

        {% regroup object_list by parent as cars_by_model %}

        <div class="freeBody">
            <div class="avn_choose_wrapper clearfix">
                {% for model in cars_by_model %}
                    {% for car in model.list %}
                        <div class="avn_choose_item">
                            <div class="avn_choose_amount fz12">1</div>
                            <div class="avn_choose_img"><img src="{{ car.img_exterior_point_front.url }}" width="125" height="280" alt="{{ car.title }}"></div>
                            <div class="avn_choose_name marginb5">{{ car.title }}</div>
                            <div class="avn_choose_price marginb10 fz12">от <span>{{ car.price|intcomma }}</span> руб.</div>
                            <a href="{{ car.get_absolute_url }}" class="btn has_arrow white fz12 btn-choose-car available-section-trigger"
                                data-car-slug="{{ car.slug }}"
                                data-car-url="{% url "available_cars_in_stock" slug=car.slug %}"
                            >Выбрать</a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="filter_set js_custom_check fz12 hideme">
                <form>
                    <div class="filter_set_content">
                        <input type="hidden" name="MODEL" value="section_rapid">
                    </div><!-- /filter_set_content -->
                </form>
                <div class="filter_set_btn">
                    <div class="filter_btn has_arrow js_filter_show">Показать фильтр</div>
                    <div class="filter_btn hide js_filter_hide">Скрыть фильтр</div>
                </div>
            </div>

            <div class="available-cars-ajax-wrapper">
                <div class="avn_list_wrapper">
                    <!--
                    <div class="avn_item">
                        <div class="avn_item_info_wrap clearfix">
                            <div class="avn_item_descr preview_descr">
                                <div class="avn_item_img marginb5"><a href="http://slave.skoda-dws.ru/m/models/available_cars/123456789124597845/"><img src="./Автомобили в наличии — АВС Моторс_files/0Q0Q.png" alt="Rapid Style"></a>
                                </div>
                                <div class="avn_item_price">725 000 руб.</div>
                            </div>
                            <div class="avn_item_descr">
                                <div class="avn_item_name fz15 marginb10">Rapid Style</div>
                                <div class="avn_item_info fz12 marginb15">
                                    <p>1,6 л., 110 л.с., МКПП</p>
                                    <p>Белый Pure</p>
                                    <p>Салон: Active, черный текстиль</p>
                                    <p>Статус: В пути</p>
                                    <p>Год: 2015</p>
                                    <p>ID: 123456789124597845</p>
                                </div>
                                <a href="http://slave.skoda-dws.ru/m/models/available_cars/123456789124597845/" class="btn has_arrow white fz12">Посмотреть</a>
                            </div>
                        </div><
                        <div class="avn_item_form fz12 clearfix">
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

{% endblock %}