{% extends 'mobile/base.html' %}

{% load humanize %}

{% block content %}

<div class="modelpageHeader"><h1 class="title">{{ object.title }}</h1><span class="price currency-gray-55">{{ object.price|intcomma }}<span class="rouble">o</span></span> </div>

<div class="modelpageImage mobileedit">
    <img src="{{ object.img.url }}">
</div>

<div class="modelpageBody">
    <div class="modelpageBodyRichContent"></div>
    <div class="modelpageBanner"></div>
    <div class="modelacc_title">
        <div class="modelpageTitle">Особенности</div>
    </div>
    <div class="modelpageFeatures">
        <ul>
            {% for detail in object.car_mobile.all %}
                {{ detail.html|safe }}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}