{% extends 'mobile/base.html' %}

{% load humanize snippets_tags %}

{% block content %}
    {% with object_list|first as car %}
        <div class="modelvariantsHeader">{{ car.title }}</div>
        <div class="modelvariantsImage"><img src="{{ car.img|img_version:"600x300"}}" width="600"  alt="{{ car.title }}" title="{{ car.title }}"></div>
    {% endwith %}
    <div class="modelvariantsBody">
        <div class="modelvariantsBodyModels">
            <ul>
                {% for car in object_list %}
                    <li>
                        <a class="sa-currency-symbol-row" href="{% url 'car_detail_mobile' parent=parent slug=car.slug %}" title="{{ car.title }}">
                            <span class="titleRow">
                                <span class="title">{{ car.title }}</span>
                                <span class="price">
                                    <span class="sa-currency-literal">от {{ car.price|intcomma }} <span class="rouble">o</span></span>
                                </span>
                            </span>
                            <img class="model-variants-body-image" src="{{ car.img.url }}" alt="{{ car.title }}" title="{{ car.title }}">
                            <ul class="techinfo">
                                <li><span class="iconLuggage"></span><span class="value">{{ car.luggage_space }}</span><span class="unit">l&nbsp;/</span><span class="value">{{ car.interior_space }}</span><span class="unit">l</span></li>
                                <li><span class="iconConsumption"></span><span class="value">{{ car.petrol_consumption }}</span><span class="unit">l/100km</span></li>
                            </ul>
                            <span class="arrow"></span>
                        </a>
                        <div class="description">
                            <p>{{ car.description|safe }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}