{% extends 'mobile/base.html' %}
{% load static mobile_tags pages_tags %}

{% block content %}

<div class="freeHeader">
    <h2 class="h1 ms-h1">Автоцентр Злата</h2>
    <div class="header_contacts clearfix">
        <div class="address fz12 margint5">603064, Нижний Новгород, пр. Ленина, 93</div>
        <div class="col_left"><a href="tel:+7 (831) 233-11-11" class="btn btn_icon phone fz15">+7 (831) 233-11-11</a></div>
        <div class="col_right"><a href="http://maps.google.com/maps?ll=56.267978, 43.912316&z=17" target="_blank" class="btn btn_icon map fz15">&nbsp;</a></div>
    </div>
</div>


{% slider_mobile %}


<a id="News_List_Lite" class="deep-link-anchor"></a>

{% news_last_mobile 3 %}

<div class="homepageCTA">

    <ul class="">
        {% page_menu "mobile_menu" "mobile/menu/mobile_menu_item.html"  %}
    </ul>

</div>

{% endblock %}