{% load snippets_tags mobile_tags %}

{% with object_list.all as slides %}

<div class="homepageTopImageSelector">
    <div class="homepagetisImage">
        <div class="images-wrap">
            {% for object in slides %}
                <img src='{{ object.img|img_version:"1050x476" }}' alt="{{ object.title }}" title="{{ object.title }}" />
            {% endfor %}
        </div>
        <a class="prev" id="gallery_prev"><span></span></a>
        <a class="next" id="gallery_next"><span></span></a>
    </div>
    <div class="homepagetisBottom">
        <div class="homepagetisbCurrent">
            {% for object in slides %}
                <span class="dot"></span>
            {% endfor %}
        </div>
        <div class="homepagetisbLabel">
        <span class="topArrow"></span>
            {% for object in slides %}
                <a href="{% to_mobilelink object.url %}" ><span></span>{{ object.title }}.</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endwith %}

