{% load snippets_tags %}

<div class="homepageTopImageSelector">
    <div class="homepagetisImage">
        <div class="images-wrap">
            {% block slider_images %} {% endblock %}
        </div>
        <a class="prev" id="gallery_prev"><span></span></a>
        <a class="next" id="gallery_next"><span></span></a>
    </div>
    <div class="homepagetisBottom">
        <div class="homepagetisbCurrent"><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
        <div class="homepagetisbLabel">
        <span class="topArrow"></span>
            {% block sider_titles %}{% endblock %}
        </div>
    </div>
</div>
