{% load humanize snippets_tags %}
<ul>
    {% for car in object_list %}
        {% if car %}
            <li>
                <a href="{% if car.slug %}{% url 'car_list_mobile' parent=car.slug %}{% endif %}" title="{{ car.title }}" class="selected">
                    <img class="ctaModelImage" src="{{ car.img|img_version:"250x130" }}" alt="{{ car.title }}" title="{{ car.title }}">
                    <span class="text"><span class="title">{{ car.title }}</span><span class="price currency-gray-9f">{% if car.price == 0 %}{% else %}{{ car.price|intcomma }}<span class="rouble">o</span>{% endif %}</span></span>
                    <span class="arrow"></span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
