{% extends 'mobile/base.html' %}
{% load snippets_tags %}

{% block content %}

{% block page_img %}{% if object.img %}{{ object.img|img_version:"940x430" }}{% else %}{{ block.super }}{% endif %}{% endblock %}
    <h2 class="newsTitle">{{ object.title }}</h2>
    {{ object.pub_date|date:"d/m/Y" }}
    <br /><br />
    {{ object.content|safe }}
    <br clear="all" />
    <br />
    <br>
    <a href="{% url "news_list_mobile" %}" class="newsList">Все новости</a>

{% endblock %}