<div class="homepageNews">
    <div class="homepageNewsBody">
        <div class="news swipe" id="newsContainer">
            <div class="swipe-wrap">
                {% for obj in object_list %}
                    <div class="newsItem">
                        <span class="title">{{ obj.title }}</span>
                        <span class="perex"><p>{{ obj.excerpt|striptags }}​</p></span>
                        <a href="{{ obj.get_absolute_url_mobile }}" class="more" title="{{ obj.title }}"><span></span>Читать дальше</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div><!-- /homepageNewsBody -->
    <div class="homepageNewsCurrent"><span class="dot dotCurrent"></span><span class="dot"></span><span class="dot"></span></div>
    <div class="homepageNewsAllNews"><a href="{% url 'news_list_mobile' %}">Все новости<span></span></a></div>
</div>