{% extends 'mobile/base.html' %}
{% load snippets_tags %}

{% block content %}

<div class="freeHeader"><h1>Полный список новостей</h1></div>

<div class="freeBody">
    <div class="newslistAllArea">
        <div class="newslistBody">
            <ul>
                {% for obj in object_list %}
                    <li>
                        <a href="{{ obj.get_absolute_url_mobile }}">
                            {% if obj.img %}
                                <img src="{{ obj.img|img_version:"thumbnail" }}" width="150px" alt="{{ obj.title }}" title="{{ obj.title }}" />
                            {% endif %}
                            <span class="text"><span class="date">{{ obj.pub_date|date:"d.m.Y" }}</span>
                                <span class="title">{{ obj.title }}</span>
                                <span class="perex">
                                    <p>{{ obj.excerpt|striptags }}​</p>
                                </span>
                            </span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}