{% extends 'mobile/base.html' %}

{% load onlineforms_tags %}

{% block content %}

{% if success %}
    <div class="freeHeader">
        <div class="mobiletestdriveBody">
            <p>Благодарим Вас за заявку! Наши специалисты свяжутся с Вами в ближайшее время.</p>
        </div>
    </div>
{% endif %}
<div class="freeHeader"><h1>Запись на сервис</h1></div>
<div class="freeBody">
    <script type="text/javascript">
        kdxTools.Form.SetDealersData({"intCurDealerID":8,"objDealers":{"8":{"MIN":2,"MAX":30,"DAYS":{"mon":{"USE":"Y"},"tue":{"USE":"Y"},"wed":{"USE":"Y"},"thu":{"USE":"Y"},"fri":{"USE":"Y"},"sun":{"USE":"Y"},"sut":{"USE":"Y"}}}}});
    </script>
    <div class="mobiletestdriveAllArea">
        <form name="SERVICE" action="{% url 'online_record_sto' %}" method="POST">{% csrf_token %}
            <div class="mobiletestdriveBody">
                <div class="mobiletestdriveRow field-NAME">
                    {{ form.name|add_class:"input"|add_placeholder:"Имя"|required }}
                    <span class="star">*</span>
                    <span class="error_msg">Имя — обязательное поле|required</span>
                </div>
                <div class="mobiletestdriveRow field-PHONE">
                    {{ form.phone|add_class:"input"|add_placeholder:"Телефон"|required }}
                    <span class="star">*</span>
                    <span class="error_msg">Телефон — обязательное поле</span>
                </div>
                <div class="mobiletestdriveRow field-MODEL_JSON">
                    {{ form.car|add_class:"input"|add_placeholder:"Автомобиль" }}
                    <span class="star">*</span>
                    <span class="error_msg">Модель — обязательное поле</span>
                </div>
                <div class="mobiletestdriveRow field-YEAR">
                    {{ form.state_number|add_class:"input"|add_placeholder:"Гос. номер" }}
                </div>
                <div class="mobiletestdriveRow field-YEAR">
                    {{ form.year|add_class:"input"|add_placeholder:"Год выпуска" }}
                </div>
                <div class="mobiletestdriveRow field-DATE">
                    <div class="datepicker_wrap">
                        {{ form.notes|add_class:"input datepicker required"|add_placeholder:"Желаемая дата" }}
                        <span class="error_msg">Пожалуйста, выберите желаемую дату</span>
                    </div><!--/datepicker_wrap-->
                </div>
                <div class="mobiletestdriveRow">
                    {{ form.activity_list|add_class:"inputNote"|add_placeholder:"Описание необходимых работ" }}
                </div>
                <div class="mobiletestdriveRow">
                    <input type="submit" class="herobutton" value="Записаться на сервис">
                </div>
            </div>
        </form>
    </div>

    <script class="bx-inner-script" type="text/javascript">
        $(document).ready(function(){
          //  $(".mobiletestdriveAllArea form").data('CODE', 'SERVICE').data('error-class', 'error').data('message-wrapper', '').trigger("kdx-load");
        });
    </script>

</div>

{% endblock %}