{% extends 'mobile/base.html' %}

{% load onlineforms_tags %}

{% block content %}
{% if success %}
<div class="freeHeader">
    <div class="mobiletestdriveBody">
        <p>Благодарим Вас за заявку! Наши специалисты свяжутся с Вами в ближайшее время.</p>
    </div>
</div>
{% endif %}
<div class="freeHeader"><h1>Запись на тест-драйв</h1></div>
<div class="freeBody">
    <script type="text/javascript">
        kdxTools.Form.SetDealersData({"intCurDealerID":8,"objDealers":{"8":{"MIN":2,"MAX":30,"DAYS":{"mon":{"USE":"Y"},"tue":{"USE":"Y"},"wed":{"USE":"Y"},"thu":{"USE":"Y"},"fri":{"USE":"Y"},"sun":{"USE":"Y"},"sut":{"USE":"Y"}}}}});
    </script>

    <div class="mobiletestdriveAllArea">
        <form name="TEST_DRIVE" action="{% url 'test_drive' %}" method="POST">{% csrf_token %}
            <div class="mobiletestdriveHeader">Контакты:</div>
            <div class="mobiletestdriveBody">
                <div class="mobiletestdriveRow field-NAME">
                    {{ form.name|add_class:"input"|add_placeholder:"Имя"|required }}
                    <span class="star">*</span>
                    <span class="error_msg">Имя — обязательное поле</span>
                </div>
                <div class="mobiletestdriveRow field-PHONE">
                    {{ form.phone|add_class:"input"|add_placeholder:"Телефон"|required }}
                    <span class="star">*</span>
                    <span class="error_msg">Телефон — обязательное поле</span>
                </div>
            </div>
            <div class="mobiletestdriveHeader">Информация об автомобиле</div>
                <div class="mobiletestdriveBody">
                    <div class="mobiletestdriveRow field-MODEL_JSON">
                        <select class="inputDropDown"  id="id_testdrive-place" name="{{ form.prefix}}-{{form.place.name }}" required>
                            {% for place in test_drive_places %}
                                <option value="{{ place.pk }}">{{ place.title }}</option>
                            {% endfor %}
                        </select>
                        <span class="star">*</span>
                        <span class="error_msg">Автосалон — обязательное поле</span>
                    </div>
                    <div class="mobiletestdriveRow field-MODEL_JSON">
                        <select class="inputDropDown" name="{{ form.prefix}}-{{form.car.name }}"  required>
                            <option value="">Выберите модель</option>
                            {% for car in test_drive_cars %}
                                <option value="{{ car.pk }}" data-model="models_{{ car.title }}">{{ car.title }}</option>
                            {% endfor %}
                        </select>
                        <span class="star">*</span>
                        <span class="error_msg">Модель — обязательное поле</span>
                    </div>
                    <div class="mobiletestdriveRow field-DATE">
                        <div class="datepicker_wrap">
                            {{ form.notes|add_class:"input datepicker required"|add_placeholder:"Желаемая дата"|required }}
                            <span class="star">*</span>
                            <span class="error_msg">Дата — обязательное поле</span>
                       </div>
                    </div>
                    <!--<div class="mobiletestdriveRow">
                        <textarea rows="5" cols="20" class="inputNote" placeholder="Примечания" name="form_textarea_15"></textarea>
                    </div>-->
                    <div class="mobiletestdriveRow">
                        <input type="hidden" name="web_form_submit" value=" ">
                        <input type="submit" class="herobutton" value="Записаться на тест-драйв">
                    </div>
                </div>
        </form>
    </div>



    <script class="bx-inner-script" type="text/javascript">
        /*$(document).ready(function(){
            $(".mobiletestdriveAllArea form").data('CODE', 'TEST_DRIVE').data('error-class', 'error').data('message-wrapper', '').trigger("kdx-load");
        });*/
    </script>

 </div>

{% endblock %}