{% extends "actions/action_index.html" %}
{% load snippets_tags %}

{% block content %}
    
{% if actual %}
    <div class="bcrumbs__news/" id="bcrumbs" style="margin-bottom: 10px;margin-left: 22px;"><a href="/">Главная</a> / <a href="/offers/">Акции</a> / Актуальные</div>
{% elif regular %}
    <div class="bcrumbs__news/" id="bcrumbs" style="margin-bottom: 10px;margin-left: 22px;"><a href="/">Главная</a> / <a href="/offers/">Акции</a> / Постоянные</div>
{% else %}
    <div class="bcrumbs__news/" id="bcrumbs" style="margin-bottom: 10px;margin-left: 22px;"><a href="/">Главная</a> / <a href="/offers/">Акции</a> / Архив</div>
{% endif %}
<<<<<<< HEAD

=======
>>>>>>> 4f43a8afb96df8c0675e7193b79443afd010c56f
{% for object in object_list %}
<div style="padding-bottom: 22px;">
    <div style="width: 192px; float: left;">
        {% if object.img %}
        <img src="{{ object.img|img_version:"192x90" }}" width="192px" height="90px" alt="{{ object.title }}" />
        {% endif %}
    </div>
    <div class="offersBox">
        <span>{{ object.pub_date|date:"d.m.Y" }}</span>
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a><br />
        {{ object.excerpt|striptags }}
        {% if object.expiry_date %}<div>Срок действия акции до {{ object.expiry_date|date:"d.m.Y" }}</div>{% endif %}
    </div>
    <div style="clear: both;"></div>
</div>
{% endfor %}
{% if actual %}
    {% include "includes/paginate.html" with named_url="action_list_actual" %}
{% elif regular %}
    {% include "includes/paginate.html" with named_url="action_list_regular" %}
{% else %}
    {% include "includes/paginate.html" with named_url="action_list_archive" %}
{% endif %}
{% endblock %}


{% block page_title %}Акции{% if is_paginated and page_obj %} - Страница {{ page_obj.number }} {% endif %} | Автоцентр Злата{% endblock %}
{% if is_paginated %}
        {% if not metadata.description %}
            {% block page_description %}Продажа, сервисное обслуживание и тест-драйв автомобилей SKODA от автоцентра «Злата». Мы являемся официальным дилером компании в Нижнем Новгороде. Акции. Страница {{page_obj.number}}.{% endblock %}
        {% endif %}
{% endif %}
