{% extends "actions/action_index.html" %}
{% load snippets_tags %}

{% block page_img %}{% if object.img %}{{ object.img|img_version:"940x430" }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block content %}
    <h1 class="newsTitle">{{ object.title }}</h1>
    <div class="bcrumbs__news/" id="bcrumbs"><a href="/">Главная</a> / <a href="/offers/">Акции</a> / {{ object.title }}</div>
    {{ object.pub_date|date:"d/m/Y" }}
    <br>
    {% if object.expiry_date %}Срок действия: <b>до {{ object.expiry_date|date:"d/m/Y" }}</b>{% endif %}
    <br /><br />
    {{ object.content|safe }}
    <br clear="all" />
    <br />
    <br>
    <a href="{% url "action_index" %}" class="newsList">Все акции</a>
{% endblock %}

{% block page_header_container %} {% endblock%}

{% block page_description %}Продажа, сервисное обслуживание и тест-драйв автомобилей SKODA от автоцентра «Злата». Мы являемся официальным дилером компании в Нижнем Новгороде. {{ object.title }}.{% endblock%}

{% block page_title %}{%if metadata.meta_title %}{{metadata.meta_title}}{% else %}{{ object.title }} | Автоцентр Злата{% endif %}{% endblock %}