{% extends "inner.html" %}

{% block page_img %}{{ STATIC_URL }}pics/main_about_actions.jpg{% endblock %}
{% block page_header %}{{ block.super|default:"Акции" }}{% endblock %}

{% block pre_content %}
    <div class="menuCommonPages" align="left">
        <ul>
            <li><a href="{% url "action_list_actual" %}">Актуальные</a></li>
{#            <li><a href="{% url "action_list_regular" %}">Постоянные</a></li>#}
            <li><a href="{% url "serviceaction_list" %}">Акции сервиса</a></li>
            <li><a href="{% url "action_list_archive" %}">Архив</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="bcrumbs__offers" id="bcrumbs" style="margin-bottom:10px;"><a href="/">Главная</a> / Акции</div>
    <div class="previewPageBox3">
        <div>
            <img src="{{ STATIC_URL }}pics/actualoffers_preview.jpg" alt="" />
        </div>
        <div style="padding-top: 12px; padding-bottom: 22px;">
            <h3>Актуальные акции</h3>
        </div>
    {#                        <div style="padding-bottom: 22px;">#}
    {#                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis sagittis risus, ut commodo massa.#}
    {#                        </div>#}
        <a href="{% url "action_list_actual" %}">Действующие сейчас акции</a>
    </div>
    <div class="previewPageBox3">
        <div>
            <img src="{{ STATIC_URL }}pics/permanentoffers_preview.jpg" alt="" />
        </div>
        <div style="padding-top: 12px; padding-bottom: 22px;">
{#            <h3>Постоянные акции</h3>#}
            <h3>Акции сервиса</h3>
        </div>
    {#                        <div style="padding-bottom: 22px;">#}
    {#                            Cras sollicitudin sodales iaculis. Aliquam in metus laoreet, molestie turpis at, dignissim nisi.#}
    {#                        </div>#}
{#        <a href="{% url "action_list_regular" %}">Постоянные акции</a>#}
        <a href="{% url "serviceaction_list" %}">Акции сервиса</a>
    </div>
    <div class="previewPageBoxLast3">
        <div>
            <img src="{{ STATIC_URL }}pics/archiveoffers_preview.jpg" alt="" />
        </div>
        <div style="padding-top: 12px; padding-bottom: 22px;">
            <h3>Архив акций</h3>
        </div>
    {#                        <div style="padding-bottom: 22px;">#}
    {#                            Nunc blandit varius diam nec pretium. Ut et ante sit amet justo venenatis iaculis a sed leo.#}
    {#                        </div>#}
        <a href="{% url "action_list_archive" %}">Прошедшие акции</a>
    </div>
    <div style="clear: both;"></div>
{% endblock %}