{% extends "actions/action_index.html" %}
{% load snippets_tags %}

{#{% block page_img %}{{ STATIC_URL }}pics/service/main_ser_actions.jpg{% endblock %}#}
{% block page_header %}{{ block.super|default:"Акции сервиса" }}{% endblock %}
{% block content %}
    <div class="bcrumbs__offers_service" id="bcrumbs"><a href="/">Главная</a> / <a href="/offers/">Акции</a> / Сервисные акции</div>
    {% for obj in object_list %}
        <div style="padding-bottom: 22px;">
            <div style="width: 270px; height: 136px; float: left;">
                {% if obj.img %}
                    <img src="{{ obj.img|img_version:"270x136" }}" width="270px" height="136px" alt="{{ obj.title }}" />
                {% endif %}
            </div>
            <div class="serviceOffersBox">
                <h3>{{ obj.title }}</h3>
                {% if obj.expiry_date %}<span>Срок действия акции: до {{ obj.expiry_date|date:"d.m.Y" }}</span>{% endif %}
                <p>{{ obj.excerpt|striptags }}</p>
                <a class="service_action" href="{{ obj.get_absolute_url }}">Подробнее</a><br />
            </div>
            <div style="clear: both;"></div>
        </div>
    {% endfor %}
    {% include "includes/paginate.html" with named_url="serviceaction_list" %}
{% endblock %}