{% extends "actions/serviceaction_list.html" %}
{% load snippets_tags %}

{% block page_img %}{% if object.img %}{{ object.img|img_version:"940x430" }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block content %}
    <h2 class="newsTitle">{{ object.title }}</h2>
    <div class="bcrumbs__offers_service" id="bcrumbs"><a href="/">Главная</a> / <a href="/offers/">Акции</a> / <a href="/offers/service">Сервисные акции</a> / {{ object.title }}</div>
    {{ object.pub_date|date:"d/m/Y" }}
    <br>
    {% if object.expiry_date %}Срок действия: <b>до {{ object.expiry_date|date:"d/m/Y" }}</b>{% endif %}
    <br /><br />
    {{ object.content|safe }}
    <br clear="all" />
    <br />
    <br>
    <a href="{% url "serviceaction_list" %}" class="newsList">Все акции</a>
{% endblock %}