{% extends "sitemap.html" %}
{% block page_img %}{{ STATIC_URL }}pics/404.jpg{% endblock %}
{% block page_title %}Данная страница не существует!{% endblock %}
{% block page_header %}Данная страница не существует!{% endblock %}
{% block content %}<p><strong>Вы можете перейти в другие разделы нашего сайта:</strong></p>{{ block.super }}{% endblock %}