{% load pages_tags cars_tags seo_tags compress %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />{% seo_metadata object object.car spage as metadata %}
{% block blockbots %}{% endblock %}
<title>{% block page_title %}{% if request.get_full_path != "/skoda-finance/leasing/" and request.get_full_path != "/skoda-finance/credit/"  and request.get_full_path != "/skoda-finance/insurance/"%}{{ metadata.meta_title }}{% if is_paginated and page_obj %} - Страница {{ page_obj.number }} {% endif %}{% if settings.SITE_BASE_TITLE and metadata.meta_title %} | {% endif %}{{ settings.SITE_BASE_TITLE }}{% else %}{{ metadata.meta_title }}{% endif %}{% endblock %}</title>
<meta name="keywords" content="{% block page_keywords %}{% if meta_tags.keywords %}{{ meta_tags.keywords }}{% else %}{{ metadata.keywords }}{% endif %}{% endblock %}" />
<meta name="description" content="{% block page_description %}{% if meta_tags.description %}{{ meta_tags.description }}{% else %}{{ metadata.description }}{% endif %}{% endblock %}" />
<meta name="author" content="Официальный дилер SKODA" />
<meta name="Generator" content="Django Framework" />
<meta name="robots" content="all" />
<meta name='yandex-verification' content='5c5959367f4b5753' />
<meta name="google-site-verification" content="LZ9FwQnfGMqhAe2ZTFpR9xUKPZE0fzq-NksmGmwZdVc" />
<meta name="google-site-verification" content="Kq8WQU9lSe-BzCQPCYR30Q9ZNcLugdgn5328T_9Kc0o" />
<meta name='yandex-verification' content='4e5c7d5863204330' />
<link rel="shortcut icon" href="{{ STATIC_URL }}pics/favicon.ico" type="image/vnd.microsoft.icon" />
<link href="/media/uploads/css/skoda.fonts.css" rel="stylesheet" type="text/css" />
{% compress css %}
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/sticky.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/tipTip.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/cars-nn.min.css" rel="stylesheet" type="text/css" />
<style>
	#panel {
	 position: fixed;
	 top: 50px;
	 left: 0;
	 display:block;
	 width: 450px;
	 padding:0;
	 height: 180px;
	 /*height: auto;*/
	 z-index:1001;
	 left:-410px
	}

	#panel iframe {
	 width:400px;
	 height:500px;
	 border:none;
	}

	#panel .clear { width:100%; height:0px; clear:both; }

	#panel-data {
	 float:left;
	 -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
	 -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
	 box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
	 background:#FFF;
	 width:400px;
	 padding:5px;
	}

	#panel-button { float:right; }

	#panel-button a {
	 width:40px;
	 height:178px;
	 background:#4ba82e;
	 display:block;
	 position:relative;
	 text-decoration:none;
	}

	#panel-button a span {
	 -webkit-transform: rotate(-90deg);
	 -moz-transform: rotate(-90deg);
	 -o-transform: rotate(-90deg);
	 transform: rotate(-90deg);
	 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	 display:block;
	 width:148px;
	 height:20px;
	 padding:10px 15px;
	 position:absolute;
	 left:-70px;
	 top:70px;
	 color:#FFF;
}
</style>
{% block css_header_post %}{% endblock %}
{% endcompress %}{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipTip.minified.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sticky.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/menu.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/d-goals.js"></script>
<script type="text/javascript">
    $(function(){
        function CascadeSelect(){
            var $this = $(this);
            var ref = $this.data('ref');
            if (ref){
                var $refEl = $('#'+ref);
                $refEl.on('change', function(e, init){
                    var val = $(this).val();
                    if (!init){
                        $this.val('');
                    }
                    $this.find('option').hide();
                    $this.find('option[data-parent="'+val+'"]').show();
                }).trigger('change', [true]);
            }
        }

        $('.online-forms').submit(function(e){
            var $form = $(this);
            var data = $form.serializeArray();
            var url = $form.attr('action');
            $.post(url, data, function(data){
                $form.html(data);
                $form.removeClass('reset');
                $form.find('select').each(CascadeSelect);
            });
            e.preventDefault();
        });
        $('#formTD select').each(CascadeSelect);
    });
</script>
<script type="text/javascript">
   $(document).ready(function(){
    $("#panel-button a").click(function(){
     if ($(this).hasClass("none")) {
      $(this).removeClass("none");
      $("#panel").animate({
       left: "+=410"
      }, 1000, function() {});
     } else {
      $(this).addClass("none");
      $("#panel").animate({
       left: "-=410"
      }, 1000, function() {});
     }
     return false;
    });
   });
  </script>

{% block js_header_post %}{% endblock %}{% endcompress %}

{% if jsonld %}
        <script type="application/ld+json">
            {{ jsonld|safe }}
        </script>
{% endif %}

</head>

<body>{% block fixed_right_menu %}{% include "includes/fixed_right_menu.html" %}{% endblock %}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5NRQX5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5NRQX5');</script>
<!-- End Google Tag Manager -->

<div id="bgAppearWindow" onClick="$(this).hide(); $('#formTO').hide(); $('#formTD').hide(); $('#formFB').hide();" style="position: fixed; width: 100%; height: 100%; display: none; z-index: 3000; background-color:#000; opacity: 0.5; filter: alpha(opacity=50);"></div>
{% include "includes/online_forms.html" %}
{% block popup_forms %}{% endblock %}
<div class="bgHeader">
    	<div style="width: 940px; height: 116px; text-align: left; margin-left: auto; margin-right: auto;">
        	<div style="width: 170px; height: 116px; float: right;" itemscope itemtype="http://schema.org/Organization">
            	<a itemprop="url" href="/"><img itemprop="logo" src="{{ STATIC_URL }}pics/logoskoda.png" alt="Skoda" alt="Логотип Автоцентр Злата" title="Логотип Автоцентр Злата"/></a>
            </div>
            <div class="skodaclaim">

            </div>
            <div style="width: 770px; height: 46px; float: left;">
				{% comment %}
            	<div class="car-picker-control">
                    <a href="#" class="">
                        <span class="car-picker-menu-item-text">Выберите свою ŠKODA</span>
                    </a>
                    <div class="car-picker-items-container">
                       <ul>
                            <li>
                                <div class="car-picker-item-container item">
                                    <a href="#" onClick="$('#bgAppearWindow').show(); $('#formTD').show(); return false">
                                        <img src="{{ STATIC_URL }}pics/carpicker_testdrive.png" width="45" height="45" alt="Заказать тест-драйв">
                                        <span class="text">
                                            <span class="title">Заказать тест-драйв</span>
                                            <span class="description">Запишитесь на тест-драйв</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="car-picker-item-container item">
                                    <a href="{% url "action_index" %}">
                                        <img src="{{ STATIC_URL }}pics/actions.png" width="45" height="45" alt="Акции">
                                        <span class="text">
                                            <span class="title">Акции</span>
                                            <span class="description">Успейте получить выгоду</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="car-picker-item-container item">
                                    <a href="http://cc.skoda-auto.com/rus/" rel="nofollow" target="_blank">
                                        <img src="{{ STATIC_URL }}pics/carpicker_conf.png" width="45" height="45" alt="Конфигуратор">
                                        <span class="text">
                                            <span class="title">Конфигуратор</span>
                                            <span class="description">Создайте свой автомобиль</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="car-picker-item-container group">
                                    <span class="car-picker-group-label">Технологии</span>
                                </div>
                            </li>
                            <li>
                                <div class="car-picker-item-container item">
                                    <a href="http://www.skoda-avto.ru/dsg/dsg/" rel="nofollow" target="_blank">
                                        <img src="{{ STATIC_URL }}pics/carpicker_dsg.png" width="45" height="45" alt="Всё о DSG">
                                        <span class="text">
                                            <span class="title">Всё о DSG</span>
                                            <span class="description">Узнайте больше о DSG</span>
                                        </span>
                                    </a>
                                </div>
                           </li>
                            <li>
                                <div class="car-picker-item-container group">
                                    <span class="car-picker-group-label">Какой автомобиль предпочитаете?</span>
                                </div>
                            </li>
                            <li>
                                <div class="car-picker-item-container item">
                                    <a href="http://www.skoda-avto.ru/car-types/family/" rel="nofollow" target="_blank">
                                        <img src="{{ STATIC_URL }}pics/carpicker_family.png" width="45" height="45" alt="Модели ŠKODA для семьи">
                                        <span class="text">
                                            <span class="title">Модели ŠKODA для семьи</span>
                                            <span class="description">Всё, что нужно вашей семье</span>
                                        </span>
                                    </a>
                                </div>
                           </li>
                            <li>
                                <div class="car-picker-item-container item">
                                    <a href="http://cc-cloud.skoda-auto.com/rus/rus/ru-ru" rel="nofollow" target="_blank">
                                        <img src="{{ STATIC_URL }}pics/carpicker_outdoor.png" width="45" height="45" alt="Модели ŠKODA для путешествий">
                                        <span class="text">
                                            <span class="title">Модели ŠKODA для путешествий</span>
                                            <span class="description">Бездорожье не помеха</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                       </ul>
                    </div>
                </div><!-- /car-picker-control -->
				{% endcomment %}
            	<div class="hlbMenu main_pagehlbMenu">

                	<ul class="hlbMenuMain" style="padding-left: 12px;">
{#                		<li>#}
{#                        	<a href="/" target="_self">Главная</a>#}
{#                        </li>#}
                        {% page_menu_tree %}
                   </ul>
                </div>
                
{#                <div style="padding-top: 12px;">#}
{#                	<form style="margin: 0px;" method="get" name="search" action="{% url "search" %}">#}
{#                    	<input name="docid" value="2810" type="hidden">#}
{#                    	<table class="noborder">#}
{#                       		<tr>#}
{#                    			<td><input id="search_string" name="q" value="{{ query }}" style="width: 98px; height: 20px; font-size: 11px; padding: 0px 0px 0px 2px; line-height: 12px; color: #666666; border: 1px solid #CCCCCC; background: url('{{ STATIC_URL }}pics/searchbg.gif') no-repeat;" type="text"></td>#}
{#                    			<td><input value="" id="search_but" style="width: 21px; height: 22px; border: 0px; background: url('{{ STATIC_URL }}pics/searchbut.gif') no-repeat;" type="submit"></td>#}
{#                    		</tr>#}
{#                        </table>#}
{#                    </form>#}
{#                </div>#}
            </div>
            <div id="header-search">
                <form method="get" action="/search/" style="margin: 0px;">
                    {% csrf_token %}
                    <input value="{{ form.q.value|default:'' }}" name="q" type="text">
                    <input value="" type="submit">
                </form>
            </div>
        </div>
    </div>
<div style="position: absolute; width: 100%; height: 65px; z-index: 800;">
        <div class="mMenu">
            <ul class="mmMenuMain">
<li><a target="_self" title="Главная" href="/">Главная</a></li>
				{# <li><a target="_self" title="Модели" href="{% url "cars_car_list" %}">Модели</a></li> #}
                {% cars_menu_tree %}
				<li><a target="_self" title="В наличии" href="/models/auto-in-stock/">В наличии</a></li>
                <li><a target="_self" title="Акции" href="/offers/">Акции</a></li>
                <li><a target="_self" title="Контакты" href="/about/contacts/">Контакты</a></li>
			</ul>
        </div>
        <div style="text-align: left;" class="dealerNameBox {% block car_menu_class %}{% endblock %}">
        	<div style="padding-top: 8px; padding-left: 10px;"><span class="dealerName">{{ settings.DEALER_NAME }}</span><span class="officialDealer">Официальный дилер</span></div>
			<div class="header-phone" style="margin-top: -18px;">
				<span class="callibri_phone"><a href="tel:+78312331111" style="color: #555;text-decoration: none;cursor: default;">+7 (831) 233-11-11</a></span>
			</div>
            {% block car_menu %}{% endblock %}
        </div>
</div>
{% block base %}{% endblock %}
<div class="footer">
    	<div class="footerLinks">
            {% cars_menu %}
            <ul class="footerLi" style="margin-right: 0px;">
            	<li><a href="http://cc.skoda-auto.com/rus/" rel="nofollow">Конфигуратор</a></li>
                <li><a href="/stati/">Статьи</a></li>
                {% page_menu "footer" "menus/footer_menu.html" %}
                <li><a href="#" onClick="$('#bgAppearWindow').show(); $('#formFB').show(); return false">Обратная связь</a></li>
            </ul>
            <script type="text/javascript">(function() {
              if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
              }})();</script>
            <div class="pluso" style="right:-273px;" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,facebook,twitter"></div>
        </div>
        <div style="width: 940px; text-align: left; margin-left: auto; margin-right: auto;font-size: 14px;">
        	<div style="width: 224px;  height: 40px; float: left; line-height: 20px;">
            	<span class="copyright">© ŠKODA AUTO Россия {% now "Y" %}</span><br />
<<<<<<< HEAD
                <span style="color: #666666;">Разработка <a href="http://pilabs.ru" target="_blank" rel="nofollow">Pilabs</a></span>
=======
                <span style="color: #666666;">Разработка <a href="http://pilabs.ru" rel="nofollow" target="_blank">Pilabs</a></span>
>>>>>>> 4f43a8afb96df8c0675e7193b79443afd010c56f
            </div>
            <div style="width: 576px; height: 40px;margin:0 auto;">
            	<table class="noborder">
                	<tr>
                    	<td style="width:188px; height: 40px; padding-left: 18px;"><span style="font-weight:bold">ŠKODA AUTO Россия на</span></td>
                        <td style="width:170px;">
<<<<<<< HEAD
                        	<span style="padding-right: 10px;"><a href="https://www.facebook.com/skodarussia"><img src="{{ STATIC_URL }}pics/facebookcolor_ico.png" alt="facebook" /></a></span>
=======
                        	<span style="padding-right: 10px;"><a href="https://www.facebook.com/skodarussia" rel="nofollow"><img src="{{ STATIC_URL }}pics/facebookcolor_ico.png" alt="facebook" /></a></span>
>>>>>>> 4f43a8afb96df8c0675e7193b79443afd010c56f
                            <span style="padding-right: 10px;"><a href="http://vkontakte.ru/skodarussia" rel="nofollow"><img src="{{ STATIC_URL }}pics/vkontaktecolor_ico.png" alt="" /></a></span>
                            <span style="padding-right: 10px;"><a href="http://twitter.com/skodarussia" rel="nofollow"><img src="{{ STATIC_URL }}pics/tweetcolor_ico.png" alt="" /></a></span>
                            <span><a href="http://www.youtube.com/skodarussia" rel="nofollow"><img src="{{ STATIC_URL }}pics/youtubecolor_ico.png" alt="" /></a></span>
                        </td>
                        <td style="height: 40px; padding-right: 0px;"><span style="font-weight:bold">{{ settings.DEALER_NAME }}</span></td>
<<<<<<< HEAD
                        <td>{% if settings.DEALER_FB_LINK %}<a href="{{ settings.DEALER_FB_LINK }}" target="_blank"><img src="{{ STATIC_URL }}pics/facebookcolor_ico.png" alt="{{ settings.DEALER_NAME }}" /></a>{% endif %}{% if settings.DEALER_VK_LINK %}<a href="{{ settings.DEALER_VK_LINK }}" target="_blank"><img src="{{ STATIC_URL }}pics/vkontaktecolor_ico.png" alt="{{ settings.DEALER_NAME }}" /></a>{% endif %}
						<a href="https://www.instagram.com/avtocentr_Zlata/" target="_blank"><img src="/media/uploads/instagram.png" height="21" width="21"></a>
=======
                        <td>{% if settings.DEALER_FB_LINK %}<a href="{{ settings.DEALER_FB_LINK }}" target="_blank"><img src="{{ STATIC_URL }}pics/facebookcolor_ico.png" alt="{{ settings.DEALER_NAME }}" /></a>{% endif %}&#160;&#160;&#160;{% if settings.DEALER_VK_LINK %}<a href="{{ settings.DEALER_VK_LINK }}" target="_blank"><img src="{{ STATIC_URL }}pics/vkontaktecolor_ico.png" alt="{{ settings.DEALER_NAME }}" /></a>{% endif %}
						<a href="https://www.instagram.com/avtocentr_Zlata/" rel="nofollow" target="_blank"><img src="http://vw-nn.ru/assets/i/instagram.png" height="21" width="21"></a>
>>>>>>> 4f43a8afb96df8c0675e7193b79443afd010c56f
						</td>
                    </tr>
                </table>
				<!--
                <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                <div style="position:absolute;top:8px;right:30px"class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir"></div>
				-->


            </div>
        </div>
    </div>

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter31451738 = new Ya.Metrika({
						id:31451738,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true,
						webvisor:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/31451738" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->


	
	<!-- Код тега ремаркетинга Google -->
	<!--------------------------------------------------
	С помощью тега ремаркетинга запрещается собирать информацию, по которой можно идентифицировать личность пользователя. Также запрещается размещать тег на страницах с контентом деликатного характера. Подробнее об этих требованиях и о настройке тега читайте на странице http://google.com/ads/remarketingsetup.
	--------------------------------------------------->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 1007119078;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1007119078/?value=0&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>

	<!-- BEGIN JIVOSITE CODE {literal} --
		<script type='text/javascript'>
		(function(){ var widget_id = 'Vlpa9iR3QO';
		var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
	<!-- {/literal} END JIVOSITE CODE -->

	<script src="http://callibri.ru/api/module/js/v1/callibri.js" type="text/javascript"></script>

	<script>
		var script = document.createElement("script");
		script.setAttribute("src", "http://tradeins.ru/lightwidget.js?token=b1a2b483dd82106c84f3");
		document.head.appendChild(script);
	</script>

	<!-- StreamWood code -->
	<link href="https://clients.streamwood.ru/StreamWood/sw.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://clients.streamwood.ru/StreamWood/sw.js" charset="utf-8"></script>
	<script type="text/javascript">
	  swQ(document).ready(function(){
		swQ().SW({
		  swKey: 'f944dc5e5d3c3565937e36fb9a4a2ba1',
		  swDomainKey: 'fb07bb41c1b03e11fac1806c1bb1ef4a'
		});
		swQ('body').SW('load');
	  });
	</script>
	<!-- /StreamWood code -->

  <script>  
  (function(i,s,o,g,r,aды,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79146108-29', 'auto', 'importer');
  ga('create', 'UA-65178869-1', 'auto');
  ga('importer.send', 'pageview');
  ga('send', 'pageview');
  </script>  
  
    
	<footer style="display:none;">
		Разработка <a href="http://pilabs.ru">Pilabs</a>
	</footer>
<a href="#" style="display: none;" id="toTop"><img src="/media/uploads/direction_arrow_green_up_T_3543518.png" width="31px"></a> 
<script type="text/javascript">
$(function(){$.fn.scrollToTop=function(){$(this).hide().removeAttr("href");if($(window).scrollTop()!="0"){$(this).fadeIn("slow")}var scrollDiv=$(this);$(window).scroll(function(){if($(window).scrollTop()=="0"){$(scrollDiv).fadeOut("slow")}else{$(scrollDiv).fadeIn("slow")}});$(this).click(function(){$("html, body").animate({scrollTop:0},"slow")})}}); 
$(function() { 
$("#toTop").scrollToTop(); 
}); 
</script>

</body>
</html>
