{% load cars_tags seo_tags compress %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />{% seo_metadata object spage as metadata %}
    <title>{{ metadata.meta_title }}{% if settings.SITE_BASE_TITLE and metadata.meta_title %} - {% endif %}{{ settings.SITE_BASE_TITLE }}</title>
    <meta name="keywords" content="{{ metadata.keywords }}" />
    <meta name="description" content="{{ metadata.description }}" />
    <meta name="author" content="Официальный дилер SKODA" />
    <meta name="Generator" content="Django Framework" />
    <meta name="robots" content="all" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}pics/favicon.ico" type="image/vnd.microsoft.icon" />
    {% compress css %}
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fullscreen.css" />
    {% endcompress %}
</head>
<body class="fullscreen">
<div class="fs-page">
    <div align="center" class="bgHeader">
        <div align="left" style="width: 940px; height: 116px;">
            <div style="width: 170px; height: 116px; float: right;">
                <a href="home.html"><img src="{{ STATIC_URL }}pics/logoskoda.png" alt="Skoda" /></a>
            </div>
            <div class="skodaclaim"></div>
        </div>
        <a href="{% block close_url %}exterior_fabia.html{% endblock %}" class="close-hotspot"></a>
    </div>
    <div class="fs-main">
        {% block base %}{% endblock %}
    </div>
</div>
</body>
</html>