{% extends "base.html" %}
{% load news_tags slider_tags banners_tags %}
{% block css_header_post %}
    <link href="{{ STATIC_URL }}css/ad-gallery.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_header_post %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipTip.minified.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/sticky2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick.js"></script>
    <script type="text/javascript">
          $(function() {

            $('#toggle-slideshow').click(
              function() {
                galleries[0].slideshow.toggle();
                return false;
              }
            );


            $('#toggle-description').click(
              function() {
                if(!galleries[0].settings.description_wrapper) {
                  galleries[0].settings.description_wrapper = $('#descriptions');
                } else {
                  galleries[0].settings.description_wrapper = false;
                }
                return false;
              }
            );

          });

          $(document).ready(function(){
              $('.js_slick_slider').slick({
                  autoplay: true,
                  autoplaySpeed: 2500,
                  dots: true,
                  infinite: true,
                  speed: 200,
                  fade: true,
                  cssEase: 'linear',
                  arrows: true,
                  prevArrow: $('.slick_prev'),
                  nextArrow: $('.slick_next')
              });
            });
    </script>
{% endblock %}
{% block fixed_right_menu %}
    {% include "includes/fixed_right_menu.html" %}
{% endblock %}
{% block base %}
    <div class="slider_wrapper">
        <div class="slider_content js_slick_slider">
            {% slider %}
        </div>
        <div class="slider_nav_wrapper">
            <div class="slick_prev"></div><div class="dot_wrapper"></div><div class="slick_next"></div>
        </div>
    </div>

    <div align="center" style="width: 100%; padding-top: 16px; padding-bottom: 16px;">
        <div align="left" style="width: 864px;">
            <div class="contactBlock">
                <div style="z-index:10; padding: 14px 10px;">
                    <div class="contactBox adressBox">
                       АДРЕС:<br />{{ settings.DEALER_ADDRESS|safe }}
                    </div>
                    <div class="contactBox phoneBox">
                        Многоканальный<br />телефон:<br />
                        {{ settings.DEALER_PHONE|safe }}
                    </div>
                    <div class="contactBox emailBox">
                        E-mail: <a href="mailto:{{ settings.DEALER_EMAIL }}">{{ settings.DEALER_EMAIL }}</a>
                    </div>
                    <div class="contactBox workBox">
                        ЧАСЫ РАБОТЫ:<br />
                        {{ settings.DEALER_WORKTIME }}
                    </div>
                    <div class="contactBox mapBox">
                        <a href="{{ settings.DEALER_SCHEME_LINK }}">Схема проезда</a>
                    </div>
                    <script type="text/javascript">
                        $.fn.animateHighlight = function (highlightColor, duration) {
                            $('#bgAppearWindow').show();
                            var highlightBg = highlightColor || "0";
                            var animateMs = duration || 100;
                            var originalBg = this.css("opacity");

                            if (!originalBg || originalBg == highlightBg)
                                originalBg = "0.5"; // default to white

                            jQuery(this)
                                .css("opacity", highlightBg)
                                .animate({ backgroundColor: originalBg }, animateMs, null, function () {
                                    jQuery(this).css("opacity", originalBg);
                                });
                        };
                    $( "#clickme" ).click(function() {
                        $('#bgAppearWindow').animateHighlight();
                    return false
                    });
                    </script>
                </div>
            </div>
            <div style="width: 16px; float: left;">&#160;</div>
            {% news_last 6 %}
            <div style="clear: both;"></div>
            <a style="display:block;float:right;width:578px;padding:5px 5px 5px 0px;background:url('{{ STATIC_URL }}pics/pred_skoda.jpg') no-repeat center center;height:40px;" href="http://zlata-nn.ru/models/promo/"></a>
        </div>
    </div>
    <div style="width: 100%; padding-bottom: 16px;">
        <div style="width: 864px; margin-left: auto; margin-right: auto;">
            <div style="width: 270px; height: 310px; float: left; overflow: hidden; position:relative; z-index:50px;">
{#                        &nbsp;<img src="{{ STATIC_URL }}pics/logo_holding.jpg" alt="" />&nbsp;&nbsp;&nbsp;#}
                {#<img src="{{ STATIC_URL }}pics/logo_bestdealer.jpg" alt="" />&nbsp;&nbsp;&nbsp;#}
                        &nbsp;&nbsp;&nbsp;<img src="{{ STATIC_URL }}pics/Logo TBD Servis small.png" alt="Лучший дилер в области послепродажного обслуживания" title="Лучший дилер в области послепродажного обслуживания" />&nbsp;&nbsp;&nbsp;                        
						<img src="{{ STATIC_URL }}pics/Logo TBD Retail small.png" alt="Лучший дилер в области продаж" title="Лучший дилер в области продаж" />
						<br /><br />
                        <a href="/models/auto-in-stock/"><img src="{{ STATIC_URL }}pics/auto_in_sales.jpg" alt="" /></a><br /><br />
                        <a href="#" onClick="$('#bgAppearWindow').show(); $('#formTD').show(); return false"><img src="{{ STATIC_URL }}pics/but_order_td.jpg" alt="" /></a><br /><br />
                        <a href="#" onClick="$('#bgAppearWindow').show(); $('#formTO').show(); return false"><img src="{{ STATIC_URL }}pics/but_order_to.jpg" alt="" /></a>
            </div>
            <div style="width: 16px; float: left;">&#160;</div>
            <div style="width: 578px; height: 310px; float: left; overflow: hidden; position:relative; z-index:50px;">
                {% banners 2 %}
                <div style="clear: both;"></div>
            </div>
            <div style="clear: both;"></div>
            {% if spage.content %}
            <div style="height: auto; overflow: auto; margin-top: 16px;">
            {{ spage.content|safe }}
            </div>
            {% endif %}
        </div>
    </div>
    <div style="width: 100%; padding-bottom: 16px; margin-left: auto; margin-right: auto;">
        <div style="width: 864px; height: 105px; overflow: auto; scrollbar-track-color: #EFEFEF; scrollbar-arrow-color: #FFFFFF; scrollbar-dark-shadow-color: #CCCCCC;">
            <br>
        </div>
    </div>
{% endblock %}

