{% extends "inner.html" %}
{% load snippets_tags pages_tags %}

{% block pre_content %}
    <div class="menuCommonPages" align="left">
        <ul>
            {% if spage.parent.template == "inner_with_submenu.html" %}
                {% page_menu_tree spage.parent "dye efault" "menus/page_menu.html" 1 %}
            {% else %}
                {% page_menu_tree spage "dye efault" "menus/page_menu.html" 1 %}
            {% endif %}
        </ul>
    </div>
{% endblock %}