{% extends "base.html" %}
{% load snippets_tags %}
{% block css_header_post %}
    <link href="{{ STATIC_URL }}css/images.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}vendor/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js_header_post %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/fancybox/jquery.fancybox.pack.js"></script>
    <script>
        $(function(){
            $('.fancybox').fancybox({
                helpers : {
                    title : {
                        type : 'outside'
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block base %}
    <div align="center" style="width: 100%; padding-top: 45px;">
        <div align="center" style="width: 940px;">
            {% block pre_content %}{% endblock %}
            <div align="left" class="content">
                <div style="height: 100%; padding-top: 20px;">
                    {% block content %}
                        {{ spage.content|safe }}
                        {% if spage.images %}
                            <div class="row">
                                {% for image in spage.images.all %}
                                    <div class="col-3">
                                        <a href="{{ image.img.url }}" class="fancybox" rel="gallery" title="{{ image.title }}">
                                            <img src="{{ image.img|img_version:"300x240" }}" class="responsive">
                                        </a>
                                    </div>
                                    {% if forloop.counter|divisibleby:3 %}
                                        </div>
                                        <div class="row">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                    {% endblock %}
                    <div class="clearfix"></div>
                </div>
            </div>
            {% include "includes/sticky_menu.html" %}
        </div>
    </div>
{% endblock %}