{% extends "inner.html" %}
{% load pages_tags cars_tags %}

{% block page_header %}{{ block.super|default:"Карта сайта" }}{% endblock %}

{% block content %}
<<<<<<< HEAD
    <div class="bcrumbs__about_info" id="bcrumbs"><a href="/">Главная</a> / Карта сайта</div>
=======
<div class="bcrumbs__about_info" id="bcrumbs"><a href="/">Главная</a> / Карта сайта</div>
>>>>>>> 4f43a8afb96df8c0675e7193b79443afd010c56f
    <div style="float: left; width: 500px;">
        <ul>
            {% cars_menu "cars/sitemap.html" %}
            <li style="list-style: none; margin-top: 12px;"><a href="#"><b>В наличии</b></a></li>
        </ul>
    </div>
    <div style="float: left; width: 300px;">
        <ul>
            {% page_sitemap "menus/sitemap.html" %}
        </ul>
    </div>
    <div style="clear: both;"></div>
{% endblock %}