{% load snippets_tags %}
{% for object in object_list %}
<a href="{{ object.url }}" class="slider_item" style="background-image: url('{{ object.img|img_version:"1920x556" }}')">
    {#<div class="slider_title smaller dark">{{ object.title }}</div>#}
</a>
{% endfor %}
