{% extends "base.html" %}
{% load snippets_tags %}

{% block css_header_post %}
    <link href="{{ STATIC_URL }}css/viewmodel.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block car_menu_class %}model-view-sub{% endblock %}

{% block car_menu %}
    {% include "cars/car_menu.html" %}
{% endblock %}

{% block base %}
    <div align="center" style="width: 100%; padding-top: 45px;">
    {% if object.pricelist.img %}
        <div align="center"
             style="width: 940px; background: url('{{ object.pricelist.img|img_version:"940x430" }}') no-repeat;">
        <div align="left" style="width: 940px; height: 390px;"></div>
        <div align="left" class="content">
            <div style="height: 100%; padding-left: 22px; padding-right: 22px;">
                {{ object.pricelist.content|safe }}
            </div>
            <div style="clear: both;"></div>
        </div>
    {% else %}
        <div align="center" style="width: 940px; padding-top: 45px;">
        <div align="left" class="content">
            <div style="height: 100%;">
                {{ object.pricelist.content|safe }}
            </div>
            <div style="clear: both;"></div>
        </div>
    {% endif %}
{% include "includes/sticky_menu.html" %}
</div>
</div>
{% endblock %}

{% block page_description %}
    {% if meta_tags.description %}
        {{ meta_tags.description }}
    {% elif metadata.description %}
        {{ metadata.description }} Комплектации и цены.
    {% else %} Продажа, сервисное обслуживание и тест-драйв автомобилей SKODA. Мы являемся
        официальным дилером компании в Нижнем Новгороде. {{ metadata.meta_title }}. Комплектации и цены.
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if meta_tags.title %}
        {{ meta_tags.title }}
    {% elif metadata.meta_title %}
        {{ metadata.meta_title }} Комплектации и цены.
    {% endif %}
{% endblock %}