{% extends "base.html" %}

{% block css_header_post %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/viewmodel.css">
{% endblock %}

{% block car_menu_class %}model-view-sub{% endblock %}

{% block car_menu %}
    {% include "cars/car_menu.html" %}
{% endblock %}

{% block base %}
    <div style="width: 100%; padding-top: 66px;" align="center">
        <div align="left" style="width: 940px; padding-top: 21px; padding-bottom: 20px;">
            <div align="left" style="width: 940px; padding-top: 41px; padding-left: 50px;">
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" height="500" width="800">
                    <param name="allowScriptAccess" value="sameDomain">
                    <param name="menu" value="true">
                    <param name="quality" value="high">
                    <param name="scale" value="noscale">
                    <param name="wmode" value="transparent">
                    <param name="movie" value="{{ object.view360.url }}">
                    <embed allowscriptaccess="sameDomain" menu="true" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" scale="noscale" src="{{ object.view360.url }}" type="application/x-shockwave-flash" wmode="transparent" height="500" width="800">
                </object>
                <div class="model-exterior-panel" style="border: none;">
                    <div class="view-link view-front" style="width: 170px; float: left;">
                        <a href="{{ object.get_absolute_url }}" class="clearfix change-view">
                            <span class="vl-bg"></span>
                            <span class="vl-text">Смотреть<strong>ЭКСТЕРЬЕР</strong></span>
                            <span style="clear: both;"></span>
                        </a>
                    </div>
                    {% if object.has_configurations %}
                    <div class="view-link view-interior" style="width: 170px; float: left;">
                        <a href="{{ object.get_interior_url }}" class="view-link clearfix">
                            <span class="vl-bg vl-l"></span>
                            <span class="vl-text">Смотреть<strong>ИНТЕРЬЕР</strong></span>
                            <span style="clear: both;"></span>
                        </a>
                    </div>
                    {% endif %}
                    <div style="clear: both;"></div>
                </div>
                {% include "includes/sticky_menu.html" %}
            </div>
        </div>
    </div>
{% endblock %}