{% extends "base.html" %}
{% load snippets_tags %}

{% block css_header_post %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/viewmodel.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/autogallery.css" />
{% endblock %}

{% block js_header_post %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lightbox-0.5.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gallery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.pic a').lightBox({
                imageLoading: '{{ STATIC_URL }}pics/gallery/loading.gif',
                imageBtnClose: '{{ STATIC_URL }}pics/gallery/close.gif',
                imageBtnPrev: '{{ STATIC_URL }}pics/gallery/prev.gif',
                imageBtnNext: '{{ STATIC_URL }}pics/gallery/next.gif'
            });
            $(".gallery").each(function (i) {
                i++;
                $("#a"+i).click(function(){
                    $(".gallery").css("display", "none");
                    $("#box"+i).css("display", "block");
                    return false;
                });
            });
        });
    </script>
{% endblock %}

{% block car_menu_class %}model-view-sub{% endblock %}

{% block car_menu %}
    {% include "cars/car_menu.html" %}
{% endblock %}

{% block base %}
    <div style="width: 100%; padding-top: 45px; padding-bottom: 20px;" align="center">
        <div class="gallery">
            {% for img in object.images.all %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="pic nomargin" style="background: #F5F5F5 url({{ img.img|img_version:"217x136" }}) center no-repeat;"><a href="{{ img.img|img_version:"800x500" }}" title="{{ img.title }}" target="_blank">&nbsp;</a></div>
                {% else %}
                    <div class="pic" style="background: #F5F5F5 url({{ img.img|img_version:"217x136" }}) center no-repeat;"><a href="{{ img.img|img_version:"800x500" }}" title="{{ img.title }}" target="_blank">&nbsp;</a></div>
                {% endif %}
            {% endfor %}
            <div class="clear"></div>
            {% include "includes/sticky_menu.html" %}
        </div></div>
{% endblock %}