{% extends "base.html" %}
{% load snippets_tags %}

{% block css_header_post %}
    <link href="{{ STATIC_URL }}css/viewmodel.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js_header_post %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript">
        $(function(){

            var colorItems = $('.model-exterior-panel .color-picker').children('li');
            var imgPathCounter = 0;
            var bigImgPath = "{{ STATIC_URL }}pics/view-model-fabia/";

            function preloadImages(postfix){
                if(imgPathCounter < colorItems.length * 2){
                    for(var i = 0; i < colorItems.length; ++i){
                        var newImg = new Image();
                        var newImgList;
                        if (postfix == 'f'){
                            newImg.src = $(colorItems[i]).data('frontImg');
                        } else {
                            newImg.src = $(colorItems[i]).data('backImg');
                        }
                        imgPathCounter++;
                    }
                }
                return imgPathCounter;
            }

            function changeColor(){
                var frontImgPath = $(this).data('frontImg');
                var backImgPath = $(this).data('backImg');
                $('.view-model-center #front .big-image').attr('src', frontImgPath);
                $('.view-model-center #back .big-image').attr('src', backImgPath);
            }


            preloadImages('f');
            preloadImages('b');
            $(colorItems).click(changeColor);

            $('a.change-view').click(function(event){
                event.preventDefault();
                $(this).parent('.view-link').css('display', 'none');
                $(this).parent('.view-link').siblings('.view-link').css('display', 'block');

                //.css('z-index', '-100')
                //.css('z-index', '500')
                $('.view-model-center .figure.ontop').removeClass('ontop')
                        .siblings('.view-model-center .figure').addClass('ontop');
            });

            if ( (document.all && !document.querySelector) || window.opera ){
                $('.car-hotspot').hover(function(){
                            $('.view-model-center').addClass('z-fix');
                            $(this).find(".car-toolpit").stop().fadeIn(300);
                        },

                        function(){
                            $(this).find(".car-toolpit").stop().fadeOut(200, function(){
                                $('.view-model-center').removeClass('z-fix');
                            });
                        });

            } else {
                $('.car-hotspot').hoverIntent(function(){
                    $('.view-model-center').addClass('z-fix');
                    $(this).find(".car-toolpit").stop().fadeIn(300);
                }, function(){
                    $(this).find(".car-toolpit").stop().delay(200).fadeOut(400, function(){
                        $('.view-model-center').removeClass('z-fix');
                    });
                });
            }

            $('.color-picker li').tipTip({
                defaultPosition: 'top',
                delay: 300
            });

        })
    </script>
{% endblock %}

{% block car_menu_class %}model-view-sub{% endblock %}

{% block car_menu %}
    {% include "cars/car_menu.html" %}
{% endblock %}

{% block base %}
    <div style="width: 100%; padding-top: 66px;">
        <div class="model-main-view fabia exterior clearfix" style="width: 900px; padding-top: 41px; padding-bottom: 45px; background-image:url({{ object.img_exterior_bg.url }});">
        {% if object.has_exterior %}
        {% with object.colors.all as colors %}
            <div class="view-model-left">
                <div class="model-exterior-panel">
                    <ul class="color-picker clearfix">
                        {% for color in colors %}
                            <li style="background-color: {{ color.color }};" title="{{ color.title }}" data-front-img="{{ color.img_front|img_version:"600x300" }}" data-back-img="{{ color.img_back|img_version:"600x300" }}"></li>
                        {% endfor %}
                    </ul>
                    {% if object.has_configurations %}
                    <div class="view-link view-interior">
                        <a href="{{ object.get_interior_url }}" class="view-link clearfix">
                            <span class="vl-bg vl-l"></span>
                            <span class="vl-text">Смотреть<strong>ИНТЕРЬЕР</strong></span>
                            <span style="clear: both;"></span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="view-link view-back">
                        <a href="#back" class="clearfix change-view">
                            <span class="vl-bg"></span>
                            <span class="vl-text">Смотреть<strong>ВИД СЗАДИ</strong></span>
                            <span style="clear: both;"></span>
                        </a>
                    </div>
                    <div class="view-link view-front" style="display: none;">
                        <a href="#front" class="clearfix change-view">
                            <span class="vl-bg"></span>
                            <span class="vl-text">Смотреть<strong>ВИД СПЕРЕДИ</strong></span>
                            <span style="clear: both;"></span>
                        </a>
                    </div>
                    {% if object.view360 %}
                    <div class="view-link view-360">
                        <a href="{{ object.get_view360_url }}" class="view-link clearfix">
                            <span class="vl-bg vl-l"></span>
                            <span class="vl-text">Обзор<strong>360°</strong></span>
                            <span style="clear: both;"></span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="view-model-center">

                <div class="figure ontop" id="front">
                    {% if colors %}{% with colors|first as first_color %}
                        <img class="big-image" src="{{ first_color.img_front|img_version:"600x300" }}" alt="" width="600" height="300">
                    {% endwith %}{% else %}
                        <img class="big-image" src="{{ object.img_exterior_point_front|img_version:"600x300" }}" alt="" width="600" height="300">
                    {% endif %}
                    {% with object.get_exterior_points_front as exterior_points_front %}
                        {% for point in exterior_points_front %}
                        <div class="car-hotspot" style="left: {{ point.left|add:-26 }}px; top: {{ point.top|add:66 }}px;">
                            <a href="#"></a>
                            <div class="car-toolpit" style="bottom: 2px; left: 18px;">
                                <a href="{{ point.get_absolute_url }}"><img src="{{ point.img|img_version:"200x150" }}" alt="{{ point.title }}"></a>
                                <div class="car-tolpit-main">
                                    <strong>{{ point.title }}</strong>
                                    {{ point.description|striptags }}
                                    <a href="{{ point.get_absolute_url }}" class="more">Узнайте больше</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="figure" id="back">
                    {% if colors %}{% with colors|first as first_color %}
                    <img class="big-image" src="{{ first_color.img_back|img_version:"600x300" }}" alt="" width="600" height="300">
                    {% endwith %}{% else %}
                    <img class="big-image" src="{{ object.img_exterior_point_back|img_version:"600x300" }}" alt="" width="600" height="300">
                    {% endif %}
                    {% with object.get_exterior_points_back as exterior_points_back %}
                        {% for point in exterior_points_back %}
                            <div class="car-hotspot" style="left: {{ point.left|add:-26 }}px; top: {{ point.top|add:66 }}px;">
                                <a href="#"></a>
                                <div class="car-toolpit" style="bottom: 2px; left: 18px;">
                                    <a href="{{ point.get_absolute_url }}"><img src="{{ STATIC_URL }}pics/view-model-fabia/fabia-colored-roof-hatchback_200x150.jpg" alt="{{ point.title }}"></a>
                                    <div class="car-tolpit-main">
                                        <strong>{{ point.title }}</strong>
                                        {{ point.description|striptags }}
                                        <a href="{{ point.get_absolute_url }}" class="more">Узнайте больше</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
        {% endwith %}
        {% endif %}
        {{ object.fulltext|safe }}
        {% include "includes/sticky_menu.html" %}
        </div>
    </div>
{% endblock %}