{% extends "base.html" %}
{% load snippets_tags %}

{% block css_header_post %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/viewmodel.css">
{% endblock %}

{% block js_header_post %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript">
        $(function(){

            if ( document.all && !document.querySelector ){
                $('.car-hotspot').hoverIntent(function(){
                    $('.model-main-view .hotspot-list').addClass('z-fix');
                    $(this).addClass('z-fix').children('.car-toolpit').addClass('z-fix').stop().delay(50).fadeIn(200);
                }, function(){
                    $(this).find(".car-toolpit").stop().delay(50).fadeOut(200, function(){
                        $('.model-main-view .hotspot-list').removeClass('z-fix');
                        $(this).removeClass('z-fix');
                        $(this).parent('.car-hotspot').removeClass('z-fix');
                    });
                });

            } else {
                $('.car-hotspot').hoverIntent(function(){
                    $(this).find(".car-toolpit").stop().delay(50).fadeIn(300);
                }, function(){
                    $(this).find(".car-toolpit").stop().delay(100).fadeOut(200);
                });
            }

            $('.tech-category-item').on('click', function(event){
                event.preventDefault();

                var key = $(this).attr('href').slice(1, $(this).attr('href').length);
                var path = $(this).data('img');
                $('.big-img-wrap > img').attr('src', path);

                $('.tech-category-item').removeClass('active');
                $(this).addClass('active');

                $('.hotspots').css('display', 'none');
                $('#' + key).css('display', 'block');
            });

        })
    </script>
{% endblock %}

{% block car_menu_class %}model-view-sub{% endblock %}

{% block car_menu %}
    {% include "cars/car_menu.html" %}
{% endblock %}

{% block base %}
    <div style="width: 100%; padding-top: 45px; margin-top: 2px;">
    <div class="model-main-view tech fabia clearfix" style="width: 940px; padding-top: 25px;">
    {% with object.technologies.all as technologies %}
    <div class="figure">
    <div class="big-img-wrap"><img src="{% with technologies|first as first_tech %}{{ first_tech.img|img_version:"940x430" }}{% endwith %}" height="430" width="940" alt=""></div>
    <!-- hotspots -->
    <div class="hotspot-list">
    {% for technology in technologies %}
    <div class="hotspots" id="{{ technology.kind }}" {% if forloop.first %}style="display: block;"{% else %}style="display: none;"{% endif %}>
        {% for point in technology.points.all %}
        <div class="car-hotspot" style="left: {{ point.left }}px; top: {{ point.top|add:-10 }}px;">
            <a href="#"></a>
            <div class="car-toolpit">
                <a href="{{ point.get_absolute_url }}"><img src="{{ point.img|img_version:"200x150" }}" alt="{{ point.title }}"></a>
                <div class="car-tolpit-main">
                    <strong>{{ point.title }}</strong>
                    {{ point.description|striptags }}
                    <a href="{{ point.get_absolute_url }}" class="more">Узнайте больше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    <!-- /hotspots -->
    </div>
    <div class="tech-category-switcher">
    {% for technology in technologies %}
        <a href="#{{ technology.kind }}" class="tech-category-item {{ technology.kind }} {% if forloop.first %}active{% endif %}" data-img="{{ technology.img|img_version:"940x430" }}">
            <span class="switcher-top"></span>
            <span class="switcher-bottom clearfix">
                <span class="switcher-arrow"></span>
                <span class="switcher-title">{{ technology.get_kind_display }}</span>
            </span>
        </a>
    {% endfor %}
    </div>
    {% endwith %}
    {% include "includes/sticky_menu.html" %}
    </div>
    </div>
{% endblock %}

{% block page_description %}{% if metadata.description %}{{metadata.description}} Технологии.{% else %}Продажа, сервисное обслуживание и тест-драйв автомобилей SKODA. Мы являемся официальным дилером компании в Нижнем Новгороде. {{ metadata.meta_title }}. Технологии.{% endif %}{% endblock %}

