<ul class="top-subnav clearfix">
    {% for other in object.others.all %}{% with other.get_absolute_url as other_url %}
    	 {% if request.path == other_url %}<li class="current-item">{{ other.title }} <span class="item-sep">|</span></li>{% else %}<li><a href="{{ other_url }}">{{ other.title }}</a> <span class="item-sep">|</span></li>{% endif %}
    {% endwith %}{% endfor %}
    {% if object.has_exterior %}{% with object.get_exterior_url as exterior_url %}
        {% if request.path == exterior_url %}<li class="current-item">Экстерьер <span class="item-sep">|</span></li>{% else %}<li><a href="{{ exterior_url }}">Экстерьер</a> <span class="item-sep">|</span></li>{% endif %}
    {% endwith %}{% endif %}
    {% if object.has_configurations %}{% with object.get_interior_url as interior_url %}
        {% if request.path == interior_url %}<li class="current-item">Интерьер <span class="item-sep">|</span></li>{% else %}<li><a href="{{ interior_url }}">Интерьер</a> <span class="item-sep">|</span></li>{% endif %}
    {% endwith %}{% endif %}
    {% if object.has_technologies %}{% with object.get_technology_url as technology_url %}
        {% if request.path == technology_url %}<li class="current-item">Технология <span class="item-sep">|</span></li>{% else %}<li><a href="{{ technology_url }}">Технология</a> <span class="item-sep">|</span></li>{% endif %}
    {% endwith %}{% endif %}
    {% if object.has_pricelist %}{% with object.get_pricelist_url as pricelist_url %}
        {% if request.path == pricelist_url %}<li class="current-item">Комплектации и цены <span class="item-sep">|</span></li>{% else %}<li><a href="{{ pricelist_url }}">Комплектации и цены</a> <span class="item-sep">|</span></li>{% endif %}
    {% endwith %}{% endif %}
    {% if object.has_gallery %}{% with object.get_gallery_url as gallery_url %}
        {% if request.path == gallery_url %}<li class="current-item">Галерея <span class="item-sep">|</span></li>{% else %}<li><a href="{{ gallery_url }}">Галерея</a> <span class="item-sep">|</span></li>{% endif %}
    {% endwith %}{% endif %}
    {% if object.catalog_link %}
        <li><a href="{{ object.catalog_link }}" target="_blank">Каталог</a> <span class="item-sep">|</span></li>
    {% endif %}
    {% if object.accessories %}
        <li><a href="{{ object.accessories.url }}" target="_blank">Аксессуары</a> <span class="item-sep">|</span></li>
    {% endif %}
    {% if object.configurator_link %}
        <li><a href="{{ object.configurator_link }}" target="_blank">Конфигуратор</a> <span class="item-sep">|</span></li>
    {% endif %}
    {% if object.view360 %}{% with object.get_view360_url as view360_url %}
        {% if request.path == view360_url %}<li class="current-item">360° <span class="item-sep">|</span></li>{% else %}<li><a href="{{ view360_url }}">360°</a> <span class="item-sep">|</span></li>{% endif %}
    {% endwith %}{% endif %}
</ul>
