{% extends "base.html" %}
{% load snippets_tags cars_tags %}

{% block css_header_post %}
    <link href="{{ STATIC_URL }}css/viewmodel.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block car_menu_class %}model-view-sub{% endblock %}

{% block car_menu %}
    {% include "cars/car_menu.html" with object=object.car %}
{% endblock %}

{% block base %}
    <div style="width: 100%; padding-top: 70px;">
        {% if object.img %}
        <div class="topimageoverviewImage" style="background-image: url('{{ object.img|img_version:"1920x556" }}'); background-size: 1920px 556px;">
        </div>
        <div class="model-main-view exterior clearfix" style="width: 900px; padding-top: 41px; padding-bottom: 45px;">
            <div class="hght-cont">
                {% if object.html %}
                    {{ object.html|safe }}
                {% else %}
                    {{ object.content|jsafe|safe }}
                {% endif %}
            </div>
            {% include "includes/sticky_menu.html" %}
        </div>
        {% else %}
        <div align="center" style="/*width: 940px;*/ padding-top: 45px;">
            <div align="left" class="content">
                <div style="height: 100%;">
                    {% if object.html %}
                        {{ object.html|safe }}
                    {% else %}
                        {{ object.content|jsafe|safe }}
                    {% endif %}
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        {% include "includes/sticky_menu.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block page_description %}{% if object.meta_description %}{{ object.meta_description }}{% elif metadata.description %}{{metadata.description}}{% else %}Продажа, сервисное обслуживание и тест-драйв автомобилей SKODA. Мы являемся официальным дилером компании в Нижнем Новгороде. {{ metadata.meta_title }}.{% endif %}{% if object.postdesc %}{{object.postdesc}}{% endif %}{% endblock %}

{% block page_keywords %}{% if object.meta_keywords %}{{ object.meta_keywords }}{% elif metadata.keywords %}{{metadata.keywords}}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block page_title %}
    {% if meta_tags.title %}
        {{ meta_tags.title }}
    {% elif metadata.meta_title %}
        {{ metadata.meta_title }}
    {% endif %}
{% endblock %}


{#{% block page_title %}#}
{#    {% if object.meta_title %}#}
{#        {{ object.meta_title }}#}
{#    {% elif metadata.meta_title %}#}
{#        {{metadata.meta_title}}#}
{#    {% endif %}#}
{#    {% if object.postdesc %}.{{object.postdesc}}#}
{#    {% endif %}#}
{#{% endblock %}#}