{% extends "fullscreen.html" %}

{% block close_url %}{{ object.car.get_absolute_url }}{% endblock %}

{% block base %}
<div class="fs-text-wrap">
    <div class="fs-text">
        <h1>{{ object.title }}</h1>
        {% if object.fulltext %}
            {{ object.fulltext|safe }}
        {% else %}
        {{ object.description|striptags }}
        {% endif %}
    </div>
</div>
<img style="max-height: 100%; max-width: 100%;" src="{{ object.img.url }}" alt="{{ object.title }}" />
{% with object.get_prev as prev %}
        <a href="{{ prev.get_absolute_url }}" class="fs-left-arrow-wrap"><span></span></a>
{% endwith %}
{% with object.get_next as next %}
        <a href="{{ next.get_absolute_url }}" class="fs-right-arrow-wrap"><span></span></a>
{% endwith %}
{% endblock %}