{% extends "base.html" %}
{% load snippets_tags humanize %}

{% block css_header_post %}
    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/slider.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block js_header_post %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tipTip.minified.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/models.js"></script>
    <script type="text/javascript">
        $(function(){
            var groups = $("input.model-group").map(function(){
                var self = $(this);
                return {el:this, id: parseInt(self.val())}
            });

            var cars = $(".models-list ul > li").map(function(i){
                var self = $(this);
                var groups = self.data('groups');
                if (groups !== ''){
                    if (typeof groups == "string"){
                        groups = groups.split(',').map(function(i){
                            return parseInt(i);
                        });
                    } else {
                        groups = [groups];
                    }
                } else {
                    groups = [];
                }
                return {'el':this, low: parseInt(self.data('price-from')) || 0,
                                   high: parseInt(self.data('price-to')) || 1000000000000,
                                   groups: groups}
            });
            var o = new Models(cars, groups);
            var min = 0;
            var max = 0;
            for (var k=0; k<cars.length; k++){
                var car = cars[k];
                if (!min || car.low < min){
                    min = car.low;
                }
                if (car.high > max){
                    max = car.high;
                }
            }
            $ ( '#LowPrice' ).html ( humanFriendlyNumberView ( min ) + ' руб.' );
            $ ( '#HighPrice' ).html ( humanFriendlyNumberView ( max ) + ' руб.' );
            $ ( '#slider' ).slider ( {
                range: true,
                min: min,
                max: max,
                step: 1000,
                //animate: 'slow',
                values: [ min, max ],
                slide: function ( event, ui ) {
                    $ ( '#LowPrice' ).html ( humanFriendlyNumberView ( ui.values[0] ) + ' руб.' );
                    $ ( '#HighPrice' ).html ( humanFriendlyNumberView ( ui.values[1] ) + ' руб.' );
                    o.low = ui.values[0];
                    o.high = ui.values[1];
                    o.update ();
                }
            } );
        })
    </script>
{% endblock %}

{% block base %}
    <!-- main -->
    <div align="center" style="width: 100%; padding-top: 45px;">
    <div align="left" style="width: 900px; padding-top: 20px;">
    <div style="width: 900px; background-color: #EBEBEB;">
        <table cellspacing="0" cellpadding="0" border="0">
            <tr><td style="color: #555; padding-top: 19px; padding-left: 23px;">
                Тип кузова
            </td></tr>
            <tr><td style="padding-top: 19px; padding-left: 20px;"><table cellspacing="0" cellpadding="0" border="0">
                <tr>
                    {% for value, label in characteristics %}
                    <td valign="top" style="padding-left: 20px; padding-top: 5px;"><input type="checkbox" class="model-group" value="{{ value }}" checked></td>
                    <td valign="top" width="180px" style="color: #555; padding-left: 5px; padding-top: 5px;">{{ label }}</td>
                        {% if forloop.counter|divisibleby:4 %}
                </tr><tr>
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="8" style="line-height: 0px; font-size: 1px; padding-top: 14px; border-bottom: 1px solid #555555;"> </td>
                </tr>
            </table></td></tr>
            <tr><td style="color: #555; padding-top: 15px; padding-left: 23px; padding-bottom: 5px;">
                Цена автомобиля
            </td></tr>
            <tr><td style="padding: 15px 20px 20px 43px;">
                <div id="slider"></div>
                <table cellspacing="0" cellpadding="0" border="0" width="100%"><tr>
                    <td style="padding-top: 12px;"><span id="LowPrice" style="font-size: 11px; color: #555;"></span></td>
                    <td align="right" style="padding-top: 12px;"><span id="HighPrice" style="font-size: 11px; color: #555;"></span></td>
                </tr></table>
            </td></tr>
        </table>
    </div>
    <div>
 <h1>{% block page_title %}{{ metadata.meta_title }}{% endblock %}</h1>
        <table cellspacing="0" cellpadding="0" border="0"><tr><td style="padding-top: 28px; padding-left: 26px;">
            <div id="models"></div>
            <div class="models-list">
            {% regroup object_list by parent as cars_by_model %}
            {% for model in cars_by_model %}
            <ul>
                {% for car in model.list %}
                    <li id="{{ car.slug }}" data-price-from="{{ car.price }}" data-price-to="{{ car.price_to }}" data-groups="{{ car.characteristics }}">
                        {% if car.img_exterior_point_front %}<div><img src="{{ car.img_exterior_point_front|img_version:"125x80" }}" width="125" height="80" alt="{{ car.title }}"></div>{% endif %}
                        <a href="{{ car.get_absolute_url }}">{{ car.title }}</a><br>
                        от <span>{{ car.price|intcomma }}</span> руб.
                    </li>
                {% endfor %}
            </ul>
            {% endfor %}
            </div>
        </td>
        </tr>
        </table>
    </div>

    {% include "includes/sticky_menu.html" %}
    </div>
    </div>
    <!-- /main -->
{% endblock %}
