{% extends "base.html" %}
{% load humanize snippets_tags %}

{% block css_header_post %}
    <link href="{{ STATIC_URL }}css/viewmodel.css" rel="stylesheet" type="text/css" />
    <style>
        .model-main-view.interior {background-repeat: no-repeat;}
        {% for conf in object.configurations.all %}
            .model-main-view.interior.{{ conf.slug }} {background-image: url({{ conf.img.url }});}
            .model-main-view.interior.{{ conf.slug }} .car-hotspot {display: none;}
            .model-main-view.interior.{{ conf.slug }} .car-hotspot.{{ conf.slug }} {display: block;}
            .model-main-view.interior.{{ conf.slug }} .pack-description {display: none;}
            .model-main-view.interior.{{ conf.slug }} .pack-description.{{ conf.slug }} {display: block;}
        {% endfor %}
    </style>
{% endblock %}

{% block js_header_post %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript">
        $(function(){

            if ( document.all && !document.querySelector ){
                $('.car-hotspot').mouseover(function(){
                    $('.model-main-view-inner').addClass('z-fix');
                    $(this).addClass('z-fix').children('.car-toolpit').addClass('z-fix').stop().delay(50).fadeIn(200);
                });
                $('.car-hotspot').mouseout(function(){
                    $(this).find(".car-toolpit").stop().delay(50).fadeOut(200, function(){
                        $('.model-main-view-inner').removeClass('z-fix');
                        $(this).removeClass('z-fix');
                        $(this).parent('.car-hotspot').removeClass('z-fix');
                    });
                });

            } else {
                $('.car-hotspot').hover(function(){
                    $(this).find(".car-toolpit").stop().delay(50).fadeIn(300);
                }, function(){
                    $(this).find(".car-toolpit").stop().delay(100).fadeOut(200, function(){
                    });
                });
            }

            $('.back-to-exterior').tipTip({
                defaultPosition: 'top',
                delay: 300,
                edgeOffset: -5,
                content: '<b>Вернуться к </b><br><b>ЭКСТЕРЬЕРУ</b>'
            });

            $('.choose-over-pack-interior').hoverIntent(
                    function(){
                        $('.packs-menu').slideDown(200);
                    },
                    function(){
                        $('.packs-menu').slideUp(200);
                    }
            );

            $('.choose-over-pack-interior').on('click', function(){
                $('.packs-menu').slideUp(200);
            });

            $('.packs-menu li a').click(function(){
                var fullURI = $(this).attr('href');
                var cutedURI = fullURI.slice(1, fullURI.length);
                var newClass = 'model-main-view fabia interior ' + cutedURI.toString();
                $('html').fadeTo(200, 0.5, function(){
                    setTimeout(function(){
                        $('html').fadeTo(50, 1);
                        $('#mmv').attr('class', newClass);
                    }, 250);
                });
            });

            var curPack = document.location.href.split('#')[1];
            if (curPack){
                var newClass = 'model-main-view interior clearfix ' + curPack.toString();
                $('html').fadeTo(200, 0.5, function(){
                    setTimeout(function(){
                        $('html').fadeTo(50, 1);
                        $('#mmv').attr('class', newClass);
                    }, 250);
                });
            }
        })
    </script>
{% endblock %}

{% block car_menu_class %}model-view-sub{% endblock %}

{% block car_menu %}
    {% include "cars/car_menu.html" %}
{% endblock %}

{% block base %}
<!-- main -->
<div style="width: 100%; padding-top: 66px; margin-top: 2px;">
{% with object.configurations.all as configurations %}
{% with configurations|first as firts_conf %}
<div id="mmv" class="model-main-view interior {{ firts_conf.slug }} clearfix" style="width: 940px; padding-top: 41px; padding-bottom: 45px;">
<div class="model-main-view-inner">
    {% for conf in configurations %}
        {% for point in conf.interior_points.all %}
            <div class="car-hotspot {{ conf.slug }}" style="left: {{ point.left }}px; top: {{ point.top|add:-41 }}px;">
                <a href="#"></a>
                <div class="car-toolpit">
                    <a href="{{ point.get_absolute_url }}"><img src="{{ point.img|img_version:"200x150" }}" alt="{{ point.title }}"></a>
                    <div class="car-tolpit-main">
                        <strong>{{ point.title }}</strong>
                        {{ point.description }}
                        <a href="{{ point.get_absolute_url }}" class="more">Узнайте больше</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="choose-over-pack-interior">
        <div class="choose-legend-wrap">
            <p class="choose-legend">Выбрать другой уровень комплектации салона</p><p class="choose-legend-bg"></p>
        </div>
        <ul class="packs-menu clearfix">
            {% for conf in configurations %}
                <li>
                    <a href="#{{ conf.slug }}">
                        <strong class="packs-menu-title">{{ conf.title }}</strong>
                        <img src="{{ conf.img|img_version:"200x100" }}" alt="{{ conf.title }}">
                        <span class="packs-menu-price">От {{ conf.price|intcomma }}р</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        <div class="interior-figure-footer clearfix">
            <div class="interior-footer-inner">
                <div class="f-pack-description">
                    {% for conf in configurations %}
                    <p class="pack-description {{ conf.slug }}"><b>Комплектация {{ conf.title }}: </b></p>
                    {% endfor %}
                </div>
                <a class="back-to-exterior" href="{{ object.get_absolute_url }}">
                    <span class="back-to-exterior-text">Вернуться к <br><b>ЭКСТЕРЬЕРУ</b></span>
                    <span class="back-to-exterior-bg"></span>
                </a>
            </div>
        </div>
    </footer>

</div>
    {% include "includes/sticky_menu.html" %}
</div>
{% endwith %}
{% endwith %}
</div>
<!-- /main -->
{% endblock %}