<ul class="footerLi">
{% for car in cars %}
    <li><a href="{{ car.get_absolute_url }}">{{ car.title }}</a></li>
    {% if forloop.counter|divisibleby:8 %}
    </ul><ul class="footerLi">
    {% endif %}
{% endfor %}
</ul>
