{% load humanize %}
<li>
<a target="_self" title="" href="#" class="">{{ node.title }}</a>
<div class="mmmSecondLevel" style="display: none; left: 65px;">
<!-- dropdown -->
    <div class="menu-second-level">
        <div class="menu-second-level-inner clearfix">
            <div class="model-list-wrap">
                <ul class="model-list">
                    <li>
                        <ul class="model-list">
                            {% for model in children %}
								{# % if model.pk != 25 % #}		
									{% if forloop.first %}
										<li><a href="{{ model.get_absolute_url }}" id="ml-{{ model.slug }}" class="active"><span class="model-item-arrow"></span>{{ model.title }}</a></li>
									{% else %}
																		
											<li><a href="{{ model.get_absolute_url }}" id="ml-{{ model.slug }}"><span class="model-item-arrow"></span>{{ model.title }}</a></li>									
									{% endif %}
								{# % endif % #}
                            {% endfor %}
                        </ul>
                    </li>
{#                    <li><a href="exterior_fabia_combi.html" id="ml-fabia-combi"><span class="model-item-arrow"></span>Fabia Combi</a></li>#}
                </ul>
                <img src="{{ node.img_euroncap.url }}" alt="{{ model.title }}" class="img-euroncap">
            </div>
            <div class="model-data">
                {% for model in children %}
                <div class="model-data-slide" id="ms-{{ model.slug }}" {% if not forloop.first %}style="display: none;"{% endif %}>
                    <div class="model-title clearfix">
                        <span class="bold">{{ model.title }} </span>
						{% if model.pk != 38 and model.pk != 42 %}
							<span>от <span class="bold" style="font-size: 19px; line-height: 21px; color: #000;">{{ model.price|intcomma }}р.</span></span>
						{%endif%}
                    </div>
                    <div class="model-figure clearfix">
                        <a href="{{ model.get_absolute_url }}"><img src="{{ model.img.url }}" width="195" height="98" alt="{{ model.title }}"></a>
                        <div class="links">
                            <a href="{{ model.get_absolute_url }}" class="clearfix"><span class="link-text">Модель</span><span class="link-arrow"></span></a>
                            {% if model.configurator_link %}
                            <a href="{{ model.configurator_link }}" target="_blank" class="clearfix"><span class="link-text">Конфигуратор</span><span class="link-arrow"></span></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="model-text">
{#                        <span class="bold">{{ model.title }}</span>  #}
                        {{ model.description|safe }}
                        {% if model.pk != 38 %}
                        <ul class="tech-icons">
                            <li class="lagguage clearfix" title="Багажное отделение">
                                <span class="ti-bg"></span>
                                <span class="ti-text">
                                <small class="ti-text-top">до</small>
                                <span class="ti-text-bottom">{{ model.luggage_space }}<small>l /</small>{{ model.interior_space }}<small>l</small></span>
                                </span>
                            </li>
                            <li class="fuel clearfix" title="Расход топлива">
                                <span class="ti-bg"></span>
                                <span class="ti-text">
                                <small class="ti-text-top">от</small>
                                <span class="ti-text-bottom">{{ model.petrol_consumption }}<small>l/100km</small></span>
                                </span>
                            </li>
                            <li class="co2 clearfix" title="CO2" style="display:none;">
                                <span class="ti-bg"></span>
                                <span class="ti-text">
                                <small class="ti-text-top">до</small>
                                <span class="ti-text-bottom">{{ model.emission_co2 }}<small>g/km</small></span>
                                </span>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</li>