{% extends "inner.html" %}
{% load humanize snippets_tags %}

{% block page_img %}{% if spage.img %}{{ spage.img|img_version:"940x430" }}{% else %}{{ STATIC_URL }}pics/main_in_stock.jpg{% endif %}{% endblock %}

{% block page_header %}{{ block.super|default:"Автомобили в наличии" }}{% endblock %}

{% block content %}
    <div style="width: 860px;">
        {{ spage.content|safe }}
        <table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody>
        {% regroup object_list by car as models %}
        {% for model in models %}
        <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
                <td style="padding: 2px 0px 2px 0px;" onClick="showhide('tab{{ forloop.counter }}','');">
                    <table border="0" cellpadding="0" cellspacing="0"><tbody>
                    <tr style="cursor: pointer;">
                        <td><img id="pic_tab{{ forloop.counter }}" src="{{ STATIC_URL }}pics/autominus.jpg" alt=""></td>
                        <td class="table_title" id="td_1" colspan="7" style="padding-left: 12px;" height="20px">{{ model.grouper }}</td>
                    </tr>
                    </tbody>
                    </table>
                </td>
            </tr></tbody></table>
        </td>
        </tr>
        <tr><td width="100%"><div style="display: block;" id="tab{{ forloop.counter }}"><table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
                <td class="bkgD" width="170px">Модель</td>
                <td class="bkgD" width="170px">Двигатель</td>
                <!--<td class="bkgD" width="">Ключевые опции</td>-->
                <td class="bkgD" width="170px">Цвет</td>
                <td class="bkgD">Новая цена</td>
                <td class="bkgD" width="100px">Старая цена</td>
                <td class="bkgD" width="130px">Уточнить опции</td>
            </tr>
            {% for car in model.list %}
            <tr>
                <td class="brdrBot_1" nowrap="">{{ car }}</td>
                <td class="brdrBot_1">{{ car.engine }}</td>
                <!--<td class="brdrBot_1" style="text-align: left;">{{ car.options }}</td>-->
                <td class="brdrBot_1">{{ car.color_display }}</td>
                <td class="brdrBot_1" nowrap="">{{ car.profit|intcomma }}</td>
                <td class="brdrBot_1 throughline" nowrap="">{{ car.price|intcomma }}</td>
                <td class="brdrBot_1" nowrap=""><a href="#" onclick="javascript:$('#bgAppearWindow').show(); $('#formOF').show();">Заказать звонок<a/></td>
            </tr>
            {% endfor %}
            </tbody></table></div></td></tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
