{% for car in cars %}
<li style="list-style: none; margin-top: 12px;">
    <b style="color: #299926;">{{ car.title }}</b>
    <ul style="margin-top: 8px; margin-left: 0px; padding-left: 10px;">
        {% if car.has_exterior %}<li style="list-style: none;"><a href="{{ car.get_exterior_url }}">Экстерьер</a></li>{% endif %}
        {% if car.has_configurations %}<li style="list-style: none;"><a href="{{ car.get_interior_url }}">Интерьер</a></li>{% endif %}
        {% if car.has_technologies %}<li style="list-style: none;"><a href="{{ car.get_technology_url }}">Технологии</a></li>{% endif %}
        {% if car.has_pricelist %}<li style="list-style: none;"><a href="#">Комплектации и цены</a></li>{% endif %}
        {% if car.has_gallery %}<li style="list-style: none;"><a href="{{ car.get_gallery_url }}">Галерея</a></li>{% endif %}
        {% if car.catalog_link %}<li style="list-style: none;"><a href="{{ car.catalog_link }}">Каталог</a></li>{% endif %}
        {% if car.accessories %}<li style="list-style: none;"><a href="{{ car.accessories }}">Аксессуары</a></li>{% endif %}
        {% if car.configurator_link %}<li style="list-style: none;"><a href="{{ car.configurator_link }}">Конфигуратор</a></li>{% endif %}
        {% if car.view360 %}<li style="list-style: none;"><a href="{{ car.get_view360_url }}">360°</a></li>{% endif %}
        {% for other in car.others.all %}
            <li style="list-style: none;"><a href="{{ other.get_absolute_url }}">{{ other.title }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endfor %}