/**
 * Copyright (c) 2012 Anders Ekdahl (http://coffeescripter.com/)
 * Dual licensed under the MIT (http://www.opensource.org/licenses/mit-license.php)
 * and GPL (http://www.opensource.org/licenses/gpl-license.php) licenses.
 *
 * Version: 1.2.7
 *
 * Demo and documentation: http://coffeescripter.com/code/ad-gallery/
 */
 
#gallery {
    height:458px;
	/*z-index: 50;*/
}  
		
	 /* Custom */
.ad-image-description {
	height: 100%;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0 !important;
	background-image: none !important;
}
.ad-image-description span {
	color: #fff !important;
}
 
.ad-gallery {
  width: 940px;
}
.ad-gallery, .ad-gallery * {
  margin: 0;
  padding: 0;
}
.ad-gallery .ad-image-wrapper {
	width: 940px;
	height: 430px;   
	position: relative;
	overflow: hidden;
}
.ad-gallery .ad-image-wrapper .ad-loader {
  position: absolute;
  z-index: 10;
  top: 48%;
  left: 48%;
  border: 1px solid #CCC;
}
.ad-gallery .ad-image-wrapper .ad-next {
  position: absolute;
  right: 0;
  top: 0;
  /*width: 25%;*/
  height: 100%;
  cursor: pointer;
  display: block;
  z-index: 200;
}
.ad-gallery .ad-image-wrapper .ad-prev {
  position: absolute;
  left: 0;
  top: 0;
  /*width: 25%;*/
  height: 100%;
  cursor: pointer;
  display: block;
  z-index: 200;
}
.ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {
  /* Or else IE will hide it */
  background: url(trans.gif);
}
  .ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
	background: url(ad_prev.png);
	/*width: 30px;*/
	/*height: 30px;*/
	display: none;
	position: absolute;
	top: 47%;
	left: 0;
	z-index: 101;
  }
  .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {
	background: url(ad_next.png);
	/*width: 30px;*/
	/*height: 30px;*/
	right: 0;
	left: auto;
  }
.ad-gallery .ad-image-wrapper .ad-image {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 9;
  width: 940px;
  height: 430px;
}
  .ad-gallery .ad-image-wrapper .ad-image a img {
	border: 0;	
	width: 940px;
	height: 430px;
  }
  .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 0px;
	text-align: left;
	width: 100%;
	z-index: 2;
	background: url(opa75.png);
	font-family: 'SkodaProBold', Verdana;
	color: #FFF;
	font-size: 18px;
  }
  
  .ad-gallery .ad-image-wrapper .ad-image .ad-image-description a{
	margin:0;
	color: #FFF;
	text-decoration:none;
	background: url("../pics/arrowLink.gif") no-repeat scroll left 2px;
	font-size: 14px;
	padding-left: 20px;
	font-family: 'SkodaProRegular', Verdana;
	font-weight: normal;
  }
  
    .ad-gallery .ad-image-wrapper .ad-image .ad-image-description a:hover{
	margin:0;
	color: #FFF;
	text-decoration:underline;
	background: url("../pics/arrowLink.gif") no-repeat scroll left 2px;
	font-size: 14px;
	padding-left: 20px;
	font-family: 'SkodaProRegular', Verdana;
	font-weight: normal;
  }
  
  * html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='opa75.png');
  }
	.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
	  display: block;
	}
  .ad-gallery .ad-controls {
    height: 20px;
  }
    .ad-gallery .ad-info {
      float: left;
    }
    .ad-gallery .ad-slideshow-controls {
      float: right;
    }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {
        padding-left: 5px;
        cursor: pointer;
      }
      .ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {
        padding-left: 5px;
        font-size: 0.9em;
      }
    .ad-gallery .ad-slideshow-running .ad-slideshow-start {
      cursor: default;
      font-style: italic;
    }
  .ad-gallery .ad-nav {
	background-color: #F5F5F5;
    width: 802px;
	/*border-top: 1px solid #CCC;*/
	border-bottom: 1px solid #CCC;
    position: relative;
	left: 0px;
	bottom: 110px;
	z-index: 100;
  }
    .ad-gallery .ad-forward, .ad-gallery .ad-back {	  
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 10;
    }
    /* IE 6 doesn't like height: 100% */
    * html .ad-gallery .ad-forward, .ad-gallery .ad-back {	  
      /*height: 138px;*/
    }
    .ad-gallery .ad-back {	
      cursor: pointer;
      left: -30px;
      width: 30px;
      display: block;
      background: url('../pics/arrowPrevSlide.gif') 7px 44px no-repeat;
	  background-color: #F5F5F5;
	  /*border-top: 1px solid #CCC;*/
	  border-bottom: 1px solid #CCC;
	  border-left: 1px solid #CCC;
    }
    .ad-gallery .ad-forward {
      cursor: pointer;
      display: block;
      right: -30px;
      width: 30px;
      background: url('../pics/arrowNextSlide.gif') 7px 44px no-repeat;
	  background-color: #F5F5F5;
	  /*border-top: 1px solid #CCC;*/
	  border-bottom: 1px solid #CCC;
	  border-right: 1px solid #CCC;
    }
    .ad-gallery .ad-nav .ad-thumbs {
      overflow: hidden;
	  padding-top: 15px;
	  padding-bottom: 12px;
      width: 100%;
    }
  .ad-gallery .ad-thumbs .ad-thumb-list {
	float: left;
	width: 9000px;
	list-style: none;
  }
	.ad-gallery .ad-thumbs li {
	  float: left;
	  padding-right: 8px;
	}
  .ad-gallery .ad-thumbs li a {
	display: block;
	color: #299926;
	text-decoration: none;
	text-align:center;
  }
  
  .ad-gallery .ad-thumbs li a:hover {
	display: block;
	color: #299926;
	text-decoration: underline;
  }
  
  .ad-gallery .ad-thumbs li a.ad-active {
	  color: #000;
	  text-decoration: none;
	}
	.ad-gallery .ad-thumbs li a img {
	  border: 1px solid #EBEBEB;
	  display: block;
	  margin-bottom: 5px;
	}
	.ad-gallery .ad-thumbs li a.ad-active img {
	  border: 1px solid #000;
	  margin-bottom: 5px;
	}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
  position: absolute;
  left: -9000px;
  top: -9000px;
}