body.fullscreen {
	 background: #000000;
	 font-size: 11px;
	 line-height: 1.46em;
	 font-family: Verdana, sans-serif;
}
.fs-page {
	 width: 100%;
	 height: 100%;
	 overflow-y: hidden;
	 background-color: black;
}
.fullscreen .bgHeader {
	 position: relative;
	 z-index: 10;
	 min-width: 940px;
}
.fullscreen .close-hotspot {
	 position: absolute;
	 height: 30px;
	 width: 30px;
	 background: url('../pics/icons_actions.png') no-repeat -182px 0;
	 right: 10px;
	 bottom: 4px;
}
.fullscreen .close-hotspot:hover {
	 background-position: -182px -30px;
}
.fs-main {
	 height: 100%;
	 width: 100%;
	 position: relative;
	 top: -54px;
	 z-index: 0;
	 text-align: center;
	 min-height: 600px;
	 min-width: 940px;
}
.fs-text-wrap {
	 position: absolute;
	 top: 0;
	 left: 145px;
	 padding-top: 100px;
}
.fs-text {
	 width: 230px;
	 padding: 10px;
	 background: url('../pics/transparent-light.png');
	 font-size: 11px;
	 text-align: left;
	 line-height: 1.46em;
	 color: #000000;
	 z-index: 100;	
}
.fs-text h1,
.fs-text h2,
.fs-text h3 {
	 font-family: 'SkodaProBold', Verdana;
	 font-weight: normal;
	 font-size: 14px !important;
     font-weight: bold;
	 margin: 0;
     margin-bottom: 10px;
}
.fs-text p {
	 margin: 1em 0 1.45em 0;
}
.fs-text p + p {
	 margin: 1em 0 0 0;
}
.fs-main > img {
	 max-width: 100%;
	 max-height: 100%;
}
.fs-left-arrow-wrap,
.fs-right-arrow-wrap {
	 height: 80%;
    position: absolute;
    top: 95px;
    width: 115px;
    z-index: 50;
}
.fs-left-arrow-wrap {
	 left: 10px;
}
.fs-right-arrow-wrap {
	 right: 10px;
}
.fs-left-arrow-wrap > span,
.fs-right-arrow-wrap > span {
	 height: 205px;
    left: 0;
    margin-top: -99px;
    position: absolute;
    top: 50%;
    width: 115px;
}
.fs-left-arrow-wrap > span {
	 background: url('../pics/arrows-big.png') no-repeat;
}
.fs-right-arrow-wrap > span {
	 background: url('../pics/arrows-big.png') no-repeat -115px 0;
}
.fs-left-arrow-wrap:hover > span {
	 background: url('../pics/arrows-big.png') no-repeat 0 -205px;
}
.fs-right-arrow-wrap:hover > span {
	 background: url('../pics/arrows-big.png') no-repeat -115px -205px;
}