.row {
    /*box-sizing: border-box;*/
    margin-left: -5px;
    margin-right: -5px;
}
.row:before,
.row:after {
    display: table;
    content: " ";
}
.row:after {
    clear:both;
}
.col-3 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 32%;
    padding: 5px;
}
.col-4 {
    float: left;
    position: relative;
    min-height: 1px;
    width: 23%;
    padding: 5px;
}

img.responsive {
    width: 100%;
}