.modelOpacity {
	filter: alpha(opacity=20);
	opacity: 0.2;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0px;
}

.ui-widget-content {
	background: none scroll 0 0 #FFFFFF;
	border: 1px solid #AAAAAA;
	color: #676767;
}

.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 0px;
}

.ui-slider-horizontal {
	height: 8px;
}

.ui-widget-header {
	background: none scroll 0 0 #289927;
	border: none;
	color: #222222;
	font-weight: bold;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -6px;
	top: -6px;
}

.ui-slider .ui-slider-handle {
	width: 13px;
	height: 20px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url("../pics/slider.jpg") repeat-x scroll 50% 50% #FFFFFF;
	border: none;
}
