.sticky-container {
	 position: relative;
	 min-height: 1px;
     /*height: 430px;*/
}
.sticky-container2 {
	 position: absolute;
	 left: 950px;
	 top: 0;
	 width: 190px;
	 padding-left: 20px !important;
	 height: 100%;
	 display: none;
}
.menu-folded {
	width: 60px;
}
.sticky-container3 {
	 height: 100%;
	 float: left;
}
.aside-sticky-outer {
	 position: fixed;
}
.aside-sticky-menu {
	 max-width: 179px;
	 display: block;
	 position: relative;
}
.aside-sticky-inner {
	 overflow: hidden;
}
.aside-sticky-menu .folding-button {
	 height: 30px;
	 width: 30px;
	 position: absolute;
	 left: -18px;
	 top: 48%;
	 background: url('../pics/aside-arrows.png') no-repeat;
	 background-position: 0 -30px;
	 cursor: pointer;
}
.aside-sticky-menu .folding-button.button-folded {
	 background-position: 0 0;
}
.sticky-container2 .aside-sticky-menu table {
	 list-style: none;
	 width: 177px;
	 padding: 0px;
	 margin: 0px;
	 border: 0px;
	 border-collapse: collapse;
	 background-color: #fff;
}
.sticky-container2.menu-folded .aside-sticky-menu table {
	margin-left: -130px;
}
.aside-sticky-menu table tr {
	 margin-bottom: 1px;
	 height: 43px;
	 width: 179px;
}
.aside-sticky-menu table td {
	 height: 43px;
	 vertical-align: middle;
	 overflow: hidden;
	 background-color: #ebebeb;
}
.aside-sticky-menu table td a {
	 display: block;
	 color: #000;
	 font-size: 11px;
	 text-decoration: none;
	 text-align: right;
}
.aside-sticky-menu table .sticky-separator {
	height: 1px !important;
	background: #ffffff !important;
	margin: 0;
	padding: 0;
	border: 0 none;
}
.aside-sticky-menu table td a * {
	 cursor: pointer;
}
.aside-sticky-menu table td a:hover .aside-sticky-text {
	 text-decoration: underline;
}

.aside-sticky-menu table a:hover * {
	 text-decoration: underline;
}
.aside-sticky-bg, .aside-sticky-text {
	 display: inline-block;
	 vertical-align: middle;
}
.aside-sticky-text {
	 width: 120px;
	 text-align: left;
}
.aside-sticky-bg {
	 height: 35px;
	 width: 35px;
	 margin-right: 3px !important;
	 text-decoration: none !important;
}