html, body {
	margin: 0px;  
	padding: 0px;
	width: 100%;
	height: 100%;
    height: 100% !important;
    min-height: 100% !important;
	font-family: Verdana, sans-serif;
    font-size: 12px;
	color: #555555;	
}

img {
	border: 0px;	
}

a {
	color: #299926;
	text-decoration: underline;
}
	
a:hover {
	color: #299926;
	text-decoration: underline;
}

@font-face {
	font-family: SKODANext_Regular;
    src: url('../fonts/SKODANext-Regular.otf');
}


@font-face {
    font-family: SKODANext_Regular;
    src: url('../fonts/SKODANext-Regular.ttf');
}


@font-face {
	font-family: SKODANextBold;
    src: url('../fonts/SKODANext-Bold.otf');
}


@font-face {
	font-family: SKODANextBold;
    src: url('../fonts/SKODANext-Bold.ttf');
}


@font-face {
	font-family: SkodaProRegular;
    src: url('../fonts/SKODANext-Light.ttf');
}

@font-face {
    font-family: SkodaProRegular;
    src: url('../fonts/SKODANext-Light.otf');
}

@font-face {
	font-family: SkodaProBold;
    src: url('../fonts/SKODANext-Light.otf');
}

@font-face {
	font-family: SkodaProBold;
    src: url('../fonts/SKODANext-Light.ttf');
}

@font-face {
	font-family: SKODANextLight;
    src: url('../fonts/SKODANext-Light.otf');
}

@font-face {
	font-family: SKODANextLight;
    src: url('../fonts/SKODANext-Light.ttf');
}



H3 {
	font-family: 'SkodaProRegular', Verdana;
	font-size: 20px;	
	color: #000;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.clearfix:before,
.clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
   *zoom: 1;
}

.bgHeader {
	width: 100%;
	height: 116px;
	background: url('../pics/header_line.png') repeat-x;
}

.skodaclaim {
	width: 770px;
	height: 70px;
	float: left;
	background: url('../pics/claim.png') no-repeat;
}

.dealerNameBox {
	height: 36px;
	width: 928px;
    margin-left: auto;
    margin-right: auto;
	background-color: #FFFFFF;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;	
}

.dealerName {
	font-family: 'SkodaProBold', Verdana;
	font-size: 18px;	
	color: #000;
	padding-right: 12px;
	font-weight: bold;
}

.officialDealer {
	font-family: 'SkodaProRegular', Verdana;
	font-size: 18px;	
	color: #000;	
}

.top-subnav LI a {
	text-decoration: none;
}

.pageTitle {
	padding: 10px;
	background: url('../pics/greenboxBG.png');
	display: none;
}

.pageTitle H1 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: Verdana, sans-serif;
	font-size: 21px;
	color: #FFFFFF;	
}
 
.inputText {
	border: 1px solid #CCCCCC;
	width: 298px;
	height: 22px;
	padding-left: 3px;
	color: #555555;
}

.inputCaptcha {
	border: 1px solid #CCCCCC;
	height: 22px;
	padding-left: 3px;
	color: #555555;
    width: auto !important;
}

.inputTextArea {
    border: 1px solid #CCCCCC;
    width: 298px;
    height: 28px;
    padding-left: 3px;
    color: #555555;
    font-family: Verdana;
    font-size: 12px;
}

.inputTextAreaBig {
    border: 1px solid #CCCCCC;
    width: 298px;
    height: 48px;
    padding-left: 3px;
    color: #555555;
    font-family: Verdana;
    font-size: 12px;
}

.choices ul {
    list-style-type: none;
    padding: 0;
}

.selectOptions {
	border: 1px solid #CCCCCC;
	width: 303px;
	height: 22px;
	padding-left: 3px;
	color: #555555;
	font-family: Verdana;
	font-size: 12px;
}

.formHeader {
	background-color: #4AA82E;
	padding: 10px 20px 10px 20px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana;
}

.submitButton {
	padding: 6px;
	font-size: 13px;
	font-family: Verdana;
	background-color: #4AA82E;
	color: #FFFFFF;
	border: 0px;
	cursor: pointer;
}

.previewPageBox2 {
	float: left;
	width: 416px;
	margin-right: 22px;
}

.previewPageBox2 a{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: none;
}

.previewPageBox2 a:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;
	padding-left: 10px;
	text-decoration: underline;
}

.previewPageBoxLast2 {
	float: left;
	width: 416px;	
}

.previewPageBoxLast2 a{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: none;
}

.previewPageBoxLast2 a:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: underline;
} 
 
.previewPageBox3 {
	float: left;
	width: 270px;
	margin-right: 22px;
}

.previewPageBox3 a{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: none;
}

.previewPageBox3 a:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;
	padding-left: 10px;
	text-decoration: underline;
}

.previewPageBoxLast3 {
	float: left;
	width: 270px;	
}

.previewPageBoxLast3 a{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: none;
}

.previewPageBoxLast3 a:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: underline;
}

.previewPageBox4 {
	float: left;
	width: 197px;
	margin-right: 22px;
}

.previewPageBox4 a{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: none;
}

.previewPageBox4 a:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;
	padding-left: 10px;
	text-decoration: underline;
}

.previewPageBoxLast4 {
	float: left;
	width: 197px;	
}

.previewPageBoxLast4 a{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: none;
}

.previewPageBoxLast4 a:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	text-decoration: underline;
}
 
.content {
	width: 900px;
	padding-top: 22px;
	padding-bottom: 24px;
	background-color: #FFFFFF;
}

.contactBlock {
	width: 270px;
	min-height: 290px;
	float: left;
	background-color: #42A62C;
	overflow: hidden;
	position: relative;
	z-index: 50;
}

/*.contactBlock {*/
	/*width: 270px;*/
	/*height: 290px;*/
	/*float: left;*/
	/*background-color: #42A62C;*/
	/*overflow: hidden;*/
	/*position: relative;*/
	/*z-index:50;*/
	/*top: -100px;*/
/*}*/

.adressBox {
	min-height: 40px;
	padding-bottom: 9px; 
	border-bottom: 1px solid #FFF; 
	background: url('../pics/ico_adress.jpg') no-repeat;
}

.phoneBox {
	min-height: 24px;
	padding-top: 13px;
	padding-bottom: 11px;
	background: url('../pics/ico_phone.jpg') no-repeat;
}

.emailBox {
	min-height: 22px;
	padding-top: 7px;
	padding-bottom: 11px;
	border-bottom: 1px solid #FFF;
	background: url('../pics/ico_email.jpg') no-repeat;
}

.workBox {
	min-height: 28px;
	padding-top: 9px;
	padding-bottom: 11px;
	border-bottom: 1px solid #FFF;
	background: url('../pics/ico_clock.jpg') no-repeat;
}

.mapBox {
	min-height: 26px;
	padding-top: 15px;
	background: url('../pics/ico_map.jpg') no-repeat;
}

.contactBox {
	color: #FFF;
	 padding-left: 52px;
}

.contactBox a {
	color: #FFF;
	text-decoration: none;
}

.contactBox a:hover {
	color: #FFF;
	text-decoration: underline;
}


/*************************
  News Block on Maine Page
*************************/
.newsBlock {
	width: 576px;
	min-height: 288px;
    padding-bottom: 14px;
	float: left;
	background-color: #F5F5F5;
	border: 1px solid #CCC;
}

a.allNews{
	background: url("../pics/arrowNews.jpg") no-repeat scroll left 4px;
	font-family: Verdana;
	font-size: 14px; 
	padding-left: 18px; 
	color: #000000; 
	text-decoration: none;		
}

a.allNews:hover{
	background: url("../pics/arrowNews.jpg") no-repeat scroll left 4px;
	font-family: Verdana;
	font-size: 14px; 
	padding-left: 18px; 
	color: #4BA82E; 
	text-decoration: underline;	
}

.newsHomeBox {
	float: left; 
	width: 542px;	
	color: #000000; 
	line-height: 15px;	
}

.newsHomeBox DIV{
	width: 261px; 
	height: 112px; 
	float: left;
	overflow: hidden;
}

.newsHomeBox DIV a {
	font-weight: bold; 
	color: #299926;
	text-decoration: none; 
	line-height: 16px;
}

.newsHomeBox DIV a:hover {
	font-weight: bold; 
	color: #299926;
	text-decoration: underline; 
	line-height: 16px;
}

.newsHomeBox DIV SPAN {
	color: #000;
	line-height: 16px;
}


/************************
	News Page
************************/
.newsBox {
	width: 760px;
	padding-left: 15px;
	float: left;
	line-height: 16px;	
}

.newsBox SPAN{
	color: #299926;
}

.newsBox a {
	font-weight: bold; 
	color: #000000;
	text-decoration: none; 
}

.newsBox a:hover {
	font-weight: bold; 
	color: #299926;
	text-decoration: underline; 	
}

H2.newsTitle {
	font-family: 'SkodaProBold', Verdana;
	font-size: 20px;	
	color: #000;
	margin: 0px;
	padding: 0px;
	margin-bottom: 6px;
	
	/*font-weight: bold;*/
}

a.newsPageSort {
	text-decoration: none;
	color: #666666;
	line-height: 18px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 1px;	
	margin-bottom: 7px;
	margin-top: 3px;
	border: 1px solid #CCCCCC;
}

a.newsPageSort:hover {
	text-decoration: none;
	color: #299926;	
	border: 1px solid #299926;
}

a.newsList{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
}

a.newsList:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;
	padding-left: 10px;
}

.offersBox {
	width: 642px;
	padding-left: 15px;
	float: left;
	line-height: 16px;	
}

.offersBox SPAN{
	color: #299926;
}

.offersBox DIV{
	padding-top: 8px; 
	font-size: 11px; 
	color: #555555;
}

.offersBox a {
	font-weight: bold; 
	color: #000000;
	text-decoration: none; 
}

.offersBox a:hover {
	font-weight: bold; 
	color: #299926;
	text-decoration: underline; 	
}

H2.offersTitle {
	font-family: 'SkodaProBold', Verdana;
	font-size: 20px;	
	color: #000;
	margin: 0px;
	padding: 0px;
	margin-bottom: 6px;
	
	/*font-weight: bold;*/
}

.serviceOffersBox {
	width: 564px;
	padding-left: 15px;
	float: left;
	line-height: 16px;	
}

.serviceOffersBox H3{
	font-family: 'SkodaProRegular', Verdana;
	font-size: 20px;	
	color: #000;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}

.serviceOffersBox SPAN{
	font-size: 12px;
	font-style: italic;
	
}

.serviceOffersBox P{
	marging-top: 12px; 
	marging-bottom: 16px; 
	padding: 0px;
}

.serviceOffersBox a {
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;
	padding-left: 10px;
	color: #299926;
	text-decoration: none; 
}

.serviceOffersBox a:hover {
	background: url("../pics/arr_green.png") no-repeat scroll left 4px;	
	padding-left: 10px;
	color: #299926;
	text-decoration: underline; 	
}


/*********************
	Main Nav
*********************/

.hlbMenu {
	float: left;
	width: 626px !important;
	width: 596px;
	width/**/:/**/626px;
	height: 23px !important;
	height: 40px;
	height/**/:/**/23px;
	padding: 11px 0px 18px 0px;
	margin: 0px 0px 0px 20px;
	color: #555555;
}

.hlbMenuMain {
	position: relative;
	float: left;
	height: 23px;
	width: 100%;
	z-index: 1000;
	white-space: nowrap;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.hlbMenuMain li {
	float: expression('left');
}
.hlbMenuMain a, .hlbMenuMain a:active, .hlbMenuMain a:visited, .hlbMenuMain a:hover, 
.hlbMenuMainSelected, .hlbMenuMainSelected:visited, .hlbMenuMainSelected:active {
	display: block;
	float: left;
	width: auto;
	height: 12px !important;
	height: 23px;
	height/**/:/**/12px;
	padding: 5px 4px 5px 2px;
	text-decoration: none;
	font-size: 11px;
}
/* top menu - second level */
.hlbMenuSecondLevel {
	position: absolute;
	left: 0px;
	top: 23px;
	display: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	z-index: 900;
}
.hlbmslMain {
	float: left;
	vertical-align: bottom;
	background-color: white;
	border-left: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	border-right: solid 1px #ebebeb;
	color: #555555;
}

/* second level menu UL */
.hlbmslMain UL {
	margin: 0 0 0 0;
	min-width: 100px;
	list-style-position: outside;
	list-style-type: none;
	padding: 7px 0 7px 0px;
}
.hlbmslMain UL LI {
	float: expression('none');
	display: block;
	border: 1px solid #FFFFFF;
}
.hlbmslMain UL LI a, .hlbmslMain UL LI a:visited, .hlbmslMain UL LI a:active, .hlbmslMain UL LI a:hover {
	float: none;
	width: auto !important;	
	height: auto !important;
	display: block;
	padding: 3px 10px 3px 20px;
	text-transform: none;
	text-decoration: none;
}
/* top menu */
.hlbMenuMain a, .hlbMenuMain a:active, .hlbMenuMain a:visited {
	color: #555555;
	border-right: solid 1px white;
	border-left: solid 1px white;
	border-top: solid 1px white;
	background: transparent url('../pics/nav1_selector.gif') no-repeat right 8px;
}
.hlbMenuMain a:hover, 
a.hlbMenuMainSelected, a.hlbMenuMainSelected:visited, a.hlbMenuMainSelected:active, a.hlbMenuMainSelected:hover	{
	color: #9F9F9F;
	background-color: white;
	background-image: none;
	border-left: solid 1px #ebebeb;
	border-top: solid 1px #ebebeb;
	border-right: solid 1px #ebebeb;
}
a.hlbMenuLinkLast, a.hlbMenuLinkLast:visited, a.hlbMenuLinkLast:active, a.hlbMenuLinkLast:hover {
	background-image: none !important;
}

.hlbmslMain UL LI a, .hlbmslMain UL LI a:visited, .hlbmslMain UL LI a:active {
	color: black;
	background: transparent url('../pics/arr_green.png') no-repeat 5px center;
	border: none !important;
}
.hlbmslMain UL LI a:hover {
	color: #4ba82e;
	background: #ebebeb url('../pics/arr_green.png') no-repeat 5px center;
	border: none !important;
}

/*********************
	Menu Model
**********************/


	.mMenu {
		width: 930px; 
		height: 29px;
        margin-left: auto;
        margin-right: auto;
	}
	.mmMenuMain {
		font-family: 'SKODANextLight', Verdana;
		position: relative;
		float: left;
		width: 100%;
		height: 29px;
		font-size: 10px;
		z-index: 500;
		white-space: nowrap;
		list-style-type: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		background-color: #4ba82e;
		color: #FFF;
	}
	.mmMenuMain > li {
		float: left;
	}	
	.mmMenuMain > li > a, .mmMenuMain > li > a:active, .mmMenuMain li > a:visited, .mmMenuMain > Li > a:hover, 
	.mmMenuMainSelected, .mmMenuMainSelected:visited, .mmMenuMainSelected:active {
		display: block;
		float: left;
		height: 21px !important;
		height: 31px;
		height/**/:/**/21px;
		padding: 4px 20px 3px 10px;
		text-decoration: none;
		font-size: 15px;
	}
	.mmMenuMain > li > a, .mmMenuMain > li > a:active, .mmMenuMain li > a:visited {
		color: white;
		border-left: solid 1px #4ba82e;
		border-top: solid 1px #4ba82e;
		border-right: solid 1px #4ba82e;
	}
	/*.mmMenuMain > li > a:hover, */
	.mmMenuMain > li:hover > a,
	a.mmMenuMainSelected, a.mmMenuMainSelected:visited, a.mmMenuMainSelected:active, a.mmMenuMainSelected:hover {
		color: #4ba82e !important;
		background: white url('../pics/arrow_down.png') no-repeat right 7px !important;
		border-left: solid 1px #ebebeb !important;
		border-top: solid 1px #ebebeb !important;
		border-right: solid 1px #ebebeb !important;
	}
/* model menu - second level */
	.mmmSecondLevel	{
		position: absolute;
		max-width: 860px;
		left: 0px;
		top: 29px;
		display: none;
		z-index: 1000;
		/*padding: 10px 10px 10px 20px;*/
		margin: 0 0 0 0;
		background-color: white;
		border-left: solid 1px #ebebeb;
		border-bottom: solid 1px #ebebeb;
		border-right: solid 1px #ebebeb;
		color: #555555;
	}
	.menu-second-level {
		width: 630px;
		padding: 5px 10px 18px 5px;
		background: #fff;
		font-size: 12px;
		color: #000;
		white-space: normal;
		text-align: left;
		box-shadow: 3px 2px 6px -1px rgba(100,100,100,0.4)
	}
	.menu-second-level ul {
		text-align: left;
		list-style: disc;
	}
	.menu-second-level-inner {
		margin-top: 4px;
		margin-bottom: 4px;
		background: url('../pics/modelmenu_bgr.png') repeat-y 4px 0;
  }
	.menu-second-level .model-list-wrap,
	.menu-second-level .model-data {
		float: left;
	}
	.menu-second-level .model-list {
		margin-top: 6px;
		margin-left: 0;
		margin-bottom: 30px;
		width: 240px;
	}
	.menu-second-level .model-list,
	.menu-second-level .model-list li {
		padding-left: 0;
		list-style: none;
	}
	.menu-second-level .model-list li > a .model-item-arrow {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		height: 14px !important;
		margin: 2px 0 0;
		padding: 0 5px 0 0 !important;
		margin-left: 5px;
		vertical-align: middle;
		width: 5px;
		background: url('../pics/icons_arrows.png') no-repeat -78px -22px;
	}
	.menu-second-level .model-list li > a {
		color: #000 !important;
		text-decoration: none;
		display: block;
		height: 25px;
		line-height: 25px;
		*position: relative;
	}
	.menu-second-level .model-list li > a.active {
		color: #4BA82E;
		background: #E8F4E4 url('../pics/modelmenu_arrow.png') no-repeat 100% 0;
	}
	
	.menu-second-level .model-data {
		width: 385px;
		padding-left: 5px;
	}

	.menu-second-level .model-data ul {
		padding-left: 12px;
		margin: 0 2px;
		line-height: 17px;
	}
	.menu-second-level .model-title {
		border-bottom: 1px solid #ECECEC;
		padding-bottom: 6px;
	}
	.menu-second-level .model-title > span {
		float: right;
		vertical-align: middle;
		line-height: 21px;
		font-size: 10px;
		color: #9F9F9F;
	}
	.menu-second-level .model-title strong {
		font-size: 18px;
		color: #000;
	}
	.menu-second-level .model-title > strong:first-child {
		float: left;
		font-weight: normal;
	}
	.model-figure {
		padding-top: 12px;
	}
	.model-figure > a > img {
		float: left;
		padding-top: 10px;
		padding-left: 4px;
	}
	.model-figure .links {
		float: right;
		width: 170px;
		margin-top: 10px;
		margin-right: 6px;
	}
	.model-figure .links > a {
		display: block;
		padding: 5px 10px;
		background-color: #4aa82e;
		color: #fff;
		margin-bottom: 5px;
		text-decoration: none;
	}
	.model-figure .links > a * {
		cursor: pointer;
	}
	.model-figure .links > a:hover {
		background-color: #398124;
	}
	.model-figure .links > a .link-text {
		float: left;
	}
	.model-figure .links > a .link-arrow {
		float: right;
		margin-top: 3px;
		height: 10px;
		width: 7px;
		background: url('../pics/icons_arrows.png') no-repeat -67px 0;
	}
	.menu-second-level .model-text {
		margin-top: 2px;
	}
	.menu-second-level .model-text ul {
		margin-top: 2px;
	}
	.menu-second-level .tech-icons {
		margin-top: 12px !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	.menu-second-level .tech-icons li {
		display: inline-block;
		vertical-align: middle;
		*display: inline;
		*zoom: 1;
		margin-right: 5px;
		cursor: default;
	}
	.menu-second-level .ti-bg,
	.menu-second-level .ti-text {
		float: left;
	}
	.menu-second-level .ti-bg {
		height: 30px;
		width: 30px;
		background: url('../pics/modelmenu_icons.png') no-repeat -104px 0;
	}
	.menu-second-level .lagguage .ti-bg {
		background-position: 0 0;
	}
	.menu-second-level .fuel .ti-bg {
		background-position: -60px 0;
	}
	.menu-second-level .co2 .ti-bg {
		margin-top: -1px;
		background-position: -30px 0;
	}
	.menu-second-level .ti-text {
		margin-left: 2px;
		margin-top: 3px;
	}
	.menu-second-level .ti-text small {
		 color: #9f9f9f;
	}
	.menu-second-level .ti-text-top {
		display: block;
		vertical-align: middle;
		line-height: 10px;
	}
	.menu-second-level .ti-text-bottom {
		color: #000;
	}
	.menu-second-level .ti-text-bottom small {
		font-size: 10px;
		padding: 0 5px;
	}
	
	
/*******************
Menu Black
*******************/
.menuCommonPages {
	width: 900px;
	height: 25px;
	background-color: #000;
}

.menuCommonPages UL {	
	position: relative;
	float: left;
	height: 25px;
	width: 100%;
	/*z-index: 1000;*/
	white-space: nowrap;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.menuCommonPages UL LI{	
	float: expression('left');
}


.menuCommonPages UL LI a{
	display: block;
	float: left;
	width: auto;
	height: 10px !important;
	height: 25px;
	height/**/:/**/12px;
	padding: 4px 10px 6px 10px;
	text-decoration: none;
	font-size: 12px;
	color: #FFFFFF;
	background: transparent url('../pics/AutosItem_selector.gif') no-repeat right 7px;
	border: 1px solid #000000;
}

.menuCommonPages UL LI a:hover{
	color: #9F9F9F;
	background-image: none;			
	margin-top: -3px;
	padding-top: 6px;
	padding-bottom: 10px;
	background: none;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}


/*******************
	Footer
*******************/
.footer {
	width: 100%;
	height: 295px;
	background-color: #ECECEC;
}

.footerLinks {
	width: 940px; 
	height: 240px;
    margin-left: auto;
    margin-right: auto;
	background: url('../pics/footer.png') top no-repeat;
}

.footerLi {
	float: left;
	margin: 0px;
	padding: 0px;
	margin-top: 40px;
	margin-right: 120px;	
}
.footerLi li{
	list-style-type:none;
	margin-bottom: 10px;	
}
.footerLi li a{
	background: url("../pics/arr_green.png") no-repeat scroll left 2px;
	font-family: Verdana;
	font-size: 12px; 
	padding-left: 12px; 
	color: #555555; 
	text-decoration: none;		
}
.footerLi li a:hover{
	background: url("../pics/arr_green.png") no-repeat scroll left 2px;
	font-family: Verdana;
	font-size: 12px; 
	padding-left: 12px; 
	color: #4BA82E; 
	text-decoration: underline;		
}
.copyright {
	color: #666666;
	padding-right: 38px;	
}
a.footerLink{
	color: #666666;
	text-decoration: none;
}
a:hover.footerLink, a:hover.footerLink u{
	color: #4BA82E;
	text-decoration: underline;
}	
/************************
	Auto in stock 
************************/
.table_title {
	color: #50A637;
	font-family: Verdana; 
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	padding-bottom: 3px;
}

.brdrBot_1{
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
}

.brdrBot_2{
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	background-color: #E9E9E9;
}

.bkgD {
	background-color: #7F7F7F;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Verdana; 
	font-size: 12px;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
}
/**************************
	Price and equipment
*****************************/
.priceTableTH_1 {
	background-color: #9F9F9F;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;	
}
.priceTableTH_2 {
	background-color: #7F7F7F;	
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
}
.priceTableTDwhite_1 {
	background-color: #FFF;
	color: #555555;
	font-size: 12px;
	padding: 2px 0px 2px 0px;
}
.priceTableTDwhite_2 {
	background-color: #F5F5F5;
	color: #555555;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.priceTableTDgrey_1 {
	background-color: #F5F5F5;
	color: #555555;
	font-size: 12px;
	padding: 2px 0px 2px 0px;
}
.priceTableTDgrey_2 {
	background-color: #ECECEC;
	color: #555555;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.priceNotes {	
	font-size: 11px;
	padding-top: 14px; 
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.priceNotes a, .priceNotes a:hover {		
	font-size: 11px;
	text-decoration: underline;
}
.calc {
	float: right;
	width: 195px;		
	background-color: #35B013;
	padding-top: 7px;
	padding-bottom: 11px;				
}
.calc a,  .calc a:hover {		
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}
.equipTableTH_1 {
	background-color: #9F9F9F;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;	
}
.equipTableTH_2 {
	background-color: #7F7F7F;	
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
}
.equipTableTDwhite_1 {
	color: #555555;
	font-size: 12px;
	padding: 2px 0px 2px 12px;
}
.equipTableTDwhite_2 {
	border-left: 1px dotted #999999;
	color: #555555;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.equipTableTDgrey_1 {
	background-color: #E9E9E9;
	color: #555555;
	font-size: 12px;
	padding: 2px 0px 2px 12px;
}
.equipTableTDgrey_2 {
	background-color: #E9E9E9;
	border-left: 1px dotted #999999;
	color: #555555;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}
/*************************
  News Block on Maine Page
*************************/

a.allNews{
	background: url("../pics/arrowNews.jpg") no-repeat scroll left 4px;
	font-family: Verdana;
	font-size: 14px; 
	padding-left: 18px; 
	color: #000000; 
	text-decoration: none;		
}

a.allNews:hover{
	background: url("../pics/arrowNews.jpg") no-repeat scroll left 4px;
	font-family: Verdana;
	font-size: 14px; 
	padding-left: 18px; 
	color: #4BA82E; 
	text-decoration: underline;	
}

.newsHomeBox {
	float: left; 
	width: 542px;	
	color: #000000; 
	line-height: 15px;	
}

.newsHomeBox DIV{
	width: 261px; 
	height: 112px; 
	float: left;
	overflow: hidden;
}

.newsHomeBox DIV a {
	font-weight: bold; 
	color: #299926;
	text-decoration: none; 
	line-height: 16px;
}

.newsHomeBox DIV a:hover {
	font-weight: bold; 
	color: #299926;
	text-decoration: underline; 
	line-height: 16px;
}

.newsHomeBox DIV SPAN {
	color: #000;
	line-height: 16px;
	font-family: "SKODANextLight";
	font-size:15px;
}

.boxPress {
	padding-bottom: 16px;
}

.boxPress a{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.boxPress a:hover{
	color: #299926;
	font-weight: bold;
	text-decoration: underline;
}

.models-list {
    margin-left: -25px;
    margin-right: -25px;
}

.models-list ul {
    list-style-type: none;
    padding: 0 25px;
    float: left;
}

.models-list ul > li {
    text-align: center;
    padding-bottom: 15px;
}

.models-list ul > li > div {
    padding-bottom: 10px;
}

.models-list ul > li > a {
    text-decoration: none;
}

/*.models-list ul > li > a:hover {*/
    /*text-decoration: underline;*/
/*}*/

ul.errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.errorlist li {
   color: red;
    font-size:11px;
}

form.online-forms.reset .success {
    display: none;
}

form.online-forms .fields.hide {
    display: none;
}

form.online-forms.reset .fields.hide {
    display: block;
}

form.online-forms.reset .errorlist {
    display: none;
}

.highlighted {
    background-color: #299926;
    color: #ffffff;
    padding: 0 2px;
}

table.noborder {
    border: 0;
    padding:0;
    border-collapse: collapse;
}

table.noborder td {
    padding:0;
}

.aside-sticky-menu table tr.sticky-separator > td {
    height: 1px;
    padding: 0;
    background-color: transparent;
}

/*
*/

.f2-box{
	background: #fff;
	padding: 5px 20px 20px 20px;
	overflow: hidden;
}
.paragraphImageRight {
	float:right;
	padding:0px 0px 20px 20px;
	display:block;
	clear:left
}
.paragraphImageLeft {
	float:left;
	padding:0px 20px 20px 0;
	display:block;
	clear:right
}
h2.paragraphTitle, .columnTitle{
	display:block;
	padding-bottom:20px;
	font-size:25px;
	font-family:'SkodaProRegular', Verdana;
	font-weight:normal;
	line-height:25px
}
h2.paragraphTitle.lblTitle{
	font-size:21px;
	font-family:'SkodaProRegular', Verdana;
	font-weight:normal;
	color: #000;
}
.clear {
	clear:both
}
.adv-pics{
	overflow: hidden;
	padding: 10px 0;
	margin-left: -13px;
}
.t-pic{
	float: left;
	padding: 0 0 15px 17px;
	width: 200px;
}
.t-pic img{
	display: block;
	margin-bottom: 20px;
}

/*car picker*/
.car-picker-control {
    position: relative;
    float: left;
    display: inline-block;
    line-height: 23px;
    margin-right: 5px;
    top: 5px;
    font-family: 'SkodaProRegular', Verdana;
    z-index: 1000;
    margin-left: 20px;
    margin-top: 6px;
    color: #555 !important;
  	background: #ececec;
}
.car-picker-control:hover {
	 	box-shadow: 2px 0 2px #aaa;
    background-color: #eee
}

.car-picker-control>a,
.car-picker-control .car-picker-items-container.item a {
    float: initial;
    width: auto !important;
    height: auto !important;
    display: block;
    text-transform: none;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    border-left: 1px solid #eee
}
.car-picker-control .car-picker-items-container.car-picker-item a {
    padding: 3px 5px 3px 5px
}
.car-picker-control>a,
.car-picker-control>a:visited,
.car-picker-control>a:active {
    line-height: 23px;
    vertical-align: middle;
    padding-left: 15px;
    color: #555 !important;
    font-size: 13px
}
.car-picker-control>a:before,
.car-picker-control>a:visited:before,
.car-picker-control>a:active:before {
    content: " ";
    position: absolute;
    background: url('../pics/arrow-green.png') transparent no-repeat 0 0;
    top: 7px;
    left: 10px;
    width: 15px;
    height: 8px
}
.car-picker-control>a img,
.car-picker-control>a:visited img,
.car-picker-control>a:active img {
    float: left
}
.car-picker-control>a span,
.car-picker-control>a:visited span,
.car-picker-control>a:active span {
    padding: 0px 15px
}
.car-picker-control>a.car-picker-item-selected,
.car-picker-control>a:visited.car-picker-item-selected,
.car-picker-control>a:active.car-picker-item-selected {
    box-shadow: 2px 0 2px #aaa;
    border-left: 1px solid #eee;
    background-color: #eee
}
.car-picker-control ul {
    margin: 0 0 0 0;
    min-width: 100px;
    list-style-position: outside;
    list-style-type: none;
    padding: 7px 0 7px 0px
}
.car-picker-control ul li {
    display: block
}
.car-picker-control .car-picker-menu-item {
    width: 100px;
    height: 23px;
    display: inline-block;
    line-height: 17px
}
.car-picker-control .car-picker-items-container {
    width: 275px;
    position: absolute;
    display: none;
    z-index: 105;
    float: left;
    vertical-align: bottom;
    border-top: 1px solid #eee;
    box-shadow: 2px 2px 2px #aaa;
    line-height: 17px;
    position: absolute;
    left: 0px;
    top: 23px;
    display: none;
    background-color: #fff;
    border-left: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    border-right: solid 1px #ececec;
    color: #555 !important
}
.car-picker-control:hover .car-picker-items-container {
	display: block;
}
.car-picker-control .car-picker-items-container.group {
    font-size: 13px
}
.car-picker-control .car-picker-items-container .car-picker-item-container {
    padding: 5px 0;
    overflow: hidden
}
.car-picker-control .car-picker-items-container .car-picker-item-container a {
    position: relative;
    display: block
}
.car-picker-control .car-picker-items-container .car-picker-item-container a span.text {
    color: #000;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 50px;
    width: 210px
}
.car-picker-control .car-picker-items-container .car-picker-item-container a span.text span {
    display: block;
    padding-left: 5px
}
.car-picker-control .car-picker-items-container .car-picker-item-container a span.text span.title {
    font-size: 14px
}
.car-picker-control .car-picker-items-container .car-picker-item-container a span.text span.description {
    font-size: 11px
}
.car-picker-control .car-picker-items-container .car-picker-item-container img {
    display: inline-block;
    float: left;
    min-width: 45px;
    min-height: 45px;
    max-height: 45px;
    max-width: 45px;
    border: none;
    padding-left: 5px;
    position: absolute;
    top: -3px
}
.car-picker-control .car-picker-items-container .car-picker-item-container .car-picker-group-label {
    line-height: 20px;
    padding-left: 5px
}


.car-picker-control span.text span.title {
    font-family: 'SkodaProBold', Verdana;
}
.car-picker-control li>div.car-picker-item-container.item:hover {
    background-color: #ececec !important;
    border: none !important
}
.car-picker-control li>div.car-picker-item-container.item:hover span {
    color: #000 !important
}
.car-picker-items-container .car-picker-group-label {
    color: #9f9f9f
}
/*car picker end*/

/*********************
	Main Nav
*********************/

.hlbMenu {
	float: left;
	width: 626px !important;
  width: 596px;
  width/**/: /**/626px;
	height: 23px !important;
	height: 40px;
	height/**/:/**/23px;
	padding: 11px 0px 18px 0px;
	margin: 0px 0px 0px 20px;
	color: #555555;
}
.main_pagehlbMenu {
	width: 500px!important;
	margin: 0px 0px 0px 5px;
}
.main_pagehlbMenu .hlbMenuMain {
	width: 770px;
}

.hlbMenuMain {
	position: relative;
	float: left;
	height: 23px;
	width: 100%;
	z-index: 1000;
	white-space: nowrap;
	list-style-type: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.hlbMenuMain li {
	float: expression('left');
}
.hlbMenuMain a, .hlbMenuMain a:active, .hlbMenuMain a:visited, .hlbMenuMain a:hover,
.hlbMenuMainSelected, .hlbMenuMainSelected:visited, .hlbMenuMainSelected:active {
	display: block;
	float: left;
	width: auto;
	height: 12px !important;
	height: 23px;
	height/**/:/**/12px;
	padding: 5px 4px 5px 2px;
	text-decoration: none;
	font-size: 13px;
	font-family: 'SKODANextLight', Verdana;
	color: #555;
}
/* top menu - second level */
.hlbMenuSecondLevel {
	position: absolute;
	left: 0px;
	top: 23px;
	display: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	z-index: 900;
}
.hlbmslMain {
	float: left;
	vertical-align: bottom;
	background-color: white;
	border-left: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	border-right: solid 1px #ebebeb;
	color: #555555;
}

/* second level menu UL */
.hlbmslMain UL {
	margin: 0 0 0 0;
	min-width: 100px;
	list-style-position: outside;
	list-style-type: none;
	padding: 7px 0 7px 0px;
}
.hlbmslMain UL LI {
	float: expression('none');
	display: block;
	border: 1px solid #FFFFFF;
}
.hlbmslMain UL LI a, .hlbmslMain UL LI a:visited, .hlbmslMain UL LI a:active, .hlbmslMain UL LI a:hover {
	float: none;
	width: auto !important;
	height: auto !important;
	display: block;
	padding: 3px 10px 3px 20px;
	text-transform: none;
	text-decoration: none;
}
/* top menu */
.hlbMenuMain a, .hlbMenuMain a:active, .hlbMenuMain a:visited {
	color: #555555;
	border-right: solid 1px white;
	border-left: solid 1px white;
	border-top: solid 1px white;
	background: transparent url('../pics/nav1_selector.gif') no-repeat right 8px;
}
.hlbMenuMain a:hover,
a.hlbMenuMainSelected, a.hlbMenuMainSelected:visited, a.hlbMenuMainSelected:active, a.hlbMenuMainSelected:hover	{
	color: #9F9F9F;
	background-color: white;
	background-image: none;
	border-left: solid 1px #ebebeb;
	border-top: solid 1px #ebebeb;
	border-right: solid 1px #ebebeb;
}
a.hlbMenuLinkLast, a.hlbMenuLinkLast:visited, a.hlbMenuLinkLast:active, a.hlbMenuLinkLast:hover {
	background-image: none !important;
}

.hlbmslMain UL LI a, .hlbmslMain UL LI a:visited, .hlbmslMain UL LI a:active {
	color: black;
	background: transparent url('../pics/arr_green.png') no-repeat 5px center;
	border: none !important;
}
.hlbmslMain UL LI a:hover {
	color: #4ba82e;
	background: #ebebeb url('../pics/arr_green.png') no-repeat 5px center;
	border: none !important;
}

/*********************
	Menu Model
**********************/

/*slider styles*/
.slider_wrapper {
	width: 100%;
  padding-top: 45px;
  height: 556px;
  position: relative;
  overflow: hidden;
}
.slider_content {
	width: 100%;
	height: 100%;
}
.slider_item {
	text-decoration: none!important;
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	/*background-size: auto 100%;*/
	background-repeat: no-repeat;
}
.slider_title {
	font-family: 'SkodaProBold', Verdana;
	width: 860px;
	margin: 40px auto 30px;
	font-size: 64px;
  line-height: 64px;
  color: white;
  text-shadow: -2px 2px 0 #b2b5b7;
  text-transform: uppercase;
  white-space: pre-wrap;
  position: relative;
}
.slider_title.smaller {
	font-size: 48px;
	line-height: 48px;
}
.slider_title.sub_title {
	font-size: 24px;
  line-height: 32px;
	margin-top: 0;
	text-shadow: none;
	text-transform: none;
}
.slider_title.dark {
	color: #000;
}

/* slick slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
		height: 100%;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
/*dots style*/
.slider_nav_wrapper {
	position: absolute;
	bottom: 0;
	text-align: right;
	background-color: rgba(240,240,240,0.7);
	 height: 40px;
	 line-height: 40px;
	 vertical-align: middle;
	 padding: 0 20px;
    width: 820px;
    left: 50%;
    margin-left: -430px;
}
.dot_wrapper {
	display: inline-block;
	padding: 0 20px;
}
.slick-dots
{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 0;
    list-style: none;
    margin: 0;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    margin: 0 12px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
   	background: #555;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    content: '';
}
.slick-dots li.slick-active button:before
{
    background: #4ba82e;
}
.slick_prev,
.slick_next
{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    width: 13px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    background: url('../pics/dots-arrows.png')
}
.slick_prev {
		background-position: 0 top;
}
.slick_prev:hover {
		background-position: 0 bottom;
}
.slick_next {
		background-position: right top;
}
.slick_next:hover {
		background-position: right bottom;
}
/*slider styles end*/

/*fixed right menu*/
.fixed_right_menu {
  position: fixed;
  z-index: 150;
  top: 50%;
  right: 0;
  margin-top: -142px;
}
.frm_list {
	  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
  background: #fff;
}
.frm_item {
  background: #000;
  margin: 0;
  border-bottom: 1px solid #fff;
  position: relative;
  min-width: 42px;
  font-size: 11px;
}

.frm_link,
a.frm_link {
  color: #fff;
  display: block;
  text-decoration: none;
  min-height: 40px;
  line-height: 34px;
  overflow: hidden;
  padding: 3px 42px 3px 0;
}

a.frm_link:hover,
.frm_link:hover {
  color:#4ba82e;
}

.frm_link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right:0;
  width: 40px;
  height: 42px;
  margin-top: -21px;
  background: #000 url('../pics/sprite_rightnav.png') 0 0 no-repeat;
}

.ico_carp .frm_link:after { background-position: 0 0; }
.ico_carp .frm_link:hover:after { background-position: 0 -42px; }

.ico_carc .frm_link:after { background-position: -42px 0; }
.ico_carc .frm_link:hover:after { background-position: -42px -42px; }

.ico_carf .frm_link:after { background-position: -87px 0; }
.ico_carf .frm_link:hover:after { background-position: -87px -42px; }

.ico_cars .frm_link:after { background-position: -130px 0; }
.ico_cars .frm_link:hover:after { background-position: -130px -42px; }

.ico_mail .frm_link:after { background-position: -174px 0; }
.ico_mail .frm_link:hover:after { background-position: -174px -42px; }

.ico_phone .frm_link:after { background-position: -214px 0; }
.ico_phone .frm_link:hover:after { background-position: -214px -42px; }

.ico_credit .frm_link:after { background-position: -249px 0; }
.ico_credit .frm_link:hover:after { background-position: -249px -42px; }



.frm_link .frm_txtwrap {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  width: 135px;
  padding: 0;
  overflow: hidden;
}

.frm_closed .frm_link .frm_txtwrap {
  width: 0;
  padding: 0 0 0 3px;
}

.frm_txtwrap span {
  display: block;
   width: 124px;
   padding: 0 0 0 10px;
}

.frm_trigger {
  position: absolute;
  top: 50%;
  left: 0;
  margin:-15px 0 0 -21px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url('../pics/aside-arrows.png') no-repeat;
  background-position: 0 0;
}
.frm_closed .frm_trigger { background-position: 0 -30px; }
/*fixed right menu end*/

.img-euroncap {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.top-subnav li .item-sep {
    margin-left: -3px;
}

.top-subnav li {
    padding-left: 0px!important;
}

.reviews_tzrs .tzr_img {
    width: 110px;
    height: 160px;
}
.reviews_tzrs .tzr_item {
    padding-left: 130px;
    min-height: 160px;
}
.reviews_tzrs .tzr_item .arrow_sq_w {
    text-decoration: none;
}
.captcha {
    vertical-align: middle;
}

.throughline {
    text-decoration: line-through;
}
/* Кнопка "Вверх" */
a#toTop{
	position: fixed;
	bottom: 50px;
	right: 50px;
	height: 30px;
	width: 30px;
	text-align: center;
	cursor: pointer;
}

/* Блок преимуществ на главной */
.advantages_wrap{
	display: block !important; /*временно*/
	color: black;
	padding-top: 40px;
}
.advantages_wrap .advant_header{
	text-align: center;
	font-size: 28px;
	margin-bottom: 20px;
}
.advantages_wrap .advantages img{
	height:61px;
	float: left;
	margin-left: -5px;
}
.advantages_wrap .advantages div{
	float: left;
	width: 230px;
	display: table-cell;
}
.advantages_wrap .advantages div span{
	display: inline-block;
	text-align: center;
	font-size: 15px;
	width: 138px;
}
/* END Блок преимуществ на главной */
<<<<<<< HEAD
/* Форма поиска в шапке */
#header-search{
	style="z-index: 850;
	position: relative;
	float: right;
	right: 150px;
	top: -38px;
	padding: 0;
}
#header-search form{
	margin: 0;
}
#header-search input[type="text"]{
	border: 1px solid #CCCCCC;
	width: 105px;
	height: 14px;
	color: #555555;
	vertical-align: bottom;
}
#header-search input[type="submit"]{
	background: url('../pics/searchbut.gif') center no-repeat;
	height: 24px;
	width: 24px;
	vertical-align: bottom;
}
/* END Форма поиска в шапке */
=======

body {
	font-family: SKODANextLight !important;
	font-size: 15px !important;
	line-height: 1.33em;
}

body p {
	font-family: SKODANextLight !important;
	font-size: 15px !important;
}


.top-subnav li .item-sep {
    color: #555555 !important;
    font-size: 15px !important;
    font-weight: normal !important;
	margin-left: -2px !important;
}

.top-subnav {
	font-size: 14px !important;
}

.frm_link .frm_txtwrap {
    font-size: 14px !important;
}

.newsTitle {
	line-height: 1.2;
}


/*стили для страницы кредит Simply Clever*/
.credit-light table.skdtable th {
    height: 40px;
    border-bottom: #6aa842 solid 3px;
    vertical-align: middle;
    text-align: left;
}


table th {
    background: #86c36c;
}

table th, table td {
    padding: 5px;
}

.credit-light table.skdtable td {
    height: 40px;
    border-bottom: #6aa842 solid 3px;
    vertical-align: middle;
}

.credit-light table.skdtable tr.light {
    background-color: #d7e5c5;
    font-weight: bold;
}

.credit-light hr {
    border: #6aa842 solid 5px;
}
/**/
>>>>>>> cdbdad699ca7700d318552372c63398557ffd156
