.model-view-sub {
    height: 60px !important;
}
.model-view-sub, .model-view-sub a {
    color: #222;
}
.top-subnav {
    margin: 8px 0 4px;
    padding: 0 10px;
}
.top-subnav li {
    float: left;
    list-style: none outside none;
    padding-left: 3px;
}
.top-subnav li a:hover {
    text-decoration: none;
	 color: #4ba82e;
}
.top-subnav li .item-sep {
    color: #555555 !important;
    font-size: 10px;
    font-weight: normal;
}
.top-subnav li:first-child {
    background-image: none;
    padding-left: 0;
}
.current-item {
    font-weight: bold;
}
.model-main-view {
    margin: 0 auto;
    min-height: 410px;
}
.model-main-view.fabia.exterior {
    background-image: url("../pics/fabia-background-01.jpg");
    background-repeat: no-repeat;
	 background-position: -20px 2px;
}
.tech .big-img-wrap {
	 height: 430px;
	 width: 940px;
}
.tech .big-img-wrap > img {
	 width: 940px;
	 height: 430px;
}
.view-model-left {
    float: left;
    width: 204px;
}
.model-exterior-panel {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: 1px;
    min-height: 20px;
    padding: 5px 10px;
}
.model-exterior-panel .color-picker {
    list-style: none outside none;
    margin: 5px 0;
    padding: 0;
    width: 182px;
}
.model-exterior-panel .color-picker li {
    background: none repeat scroll 0 0 grey;
    border: 3px solid #FFFFFF;
    float: left;
    height: 20px;
    padding: 0;
    width: 20px;
}
.model-exterior-panel .color-picker li:hover {
    border-color: #4BA82E;
    cursor: pointer;
}
.model-exterior-panel .view-link a {
    color: #555555;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
	text-decoration: none;
}
.model-exterior-panel .view-link a:hover {
    color: #4BA82E;
    cursor: pointer;
	text-decoration: underline;
}
.model-exterior-panel .view-link a .vl-bg {
    float: left;
    height: 45px;
    width: 45px;
}
.model-exterior-panel .view-link a .vl-text {
    float: left;
    margin-left: 4px;
    padding-top: 6px;
    width: 100px;
}
.model-exterior-panel .view-link a:hover .vl-text {
    text-decoration: underline;
}
.model-exterior-panel .view-link strong {
    display: block;
}
.model-exterior-panel .view-link.view-interior a .vl-bg {
    background: url("../pics/icons_switchview.png") no-repeat scroll 0 0 transparent;
}
.model-exterior-panel .view-link.view-interior a:hover .vl-bg {
    background-position: 0 -45px;
}
.model-exterior-panel .view-link.view-front a .vl-bg {
    background: url("../pics/icons_switchview.png") no-repeat scroll -45px 0 transparent;
}
.model-exterior-panel .view-link.view-front a:hover .vl-bg {
    background-position: -45px -45px;
}
.model-exterior-panel .view-link.view-back a .vl-bg {
    background: url("../pics/icons_switchview.png") no-repeat scroll -90px 0 transparent;
}
.model-exterior-panel .view-link.view-back a:hover .vl-bg {
    background: url("../pics/icons_switchview.png") no-repeat scroll -90px -45px transparent;
}
.model-exterior-panel .view-link.view-360 a .vl-bg {
    background: url("../pics/icons_view360.png") no-repeat scroll 0 0 transparent;
}
.model-exterior-panel .view-link.view-360 a:hover .vl-bg {
    background-position: 0 -45px;
}
.view-model-center {
    margin-left: 240px;
    position: relative;
}
.z-fix {
    /*z-index: 1020;*/
	 z-index: 9999;
}
.z-fix2 {
	 z-index: 0;
}
.view-model-center .figure {
    height: 440px;
    left: 0;
    position: relative;
    top: 0;
    visibility: hidden;
}
.view-model-center #back {
    margin-top: -440px;
}
.view-model-center .figure .big-image {
    left: -26px;
    position: absolute;
    top: 66px;
	 width: 600px;
	 height: 300px;
}
.view-model-center .ontop {
    visibility: visible;
}
.car-hotspot {
    height: 20px;
    left: 100px;
    position: absolute;
    top: 100px;
    width: 20px;
}
.car-hotspot > a {
    background: url("../pics/plus-icon.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}
.car-hotspot:hover > a {
    background-position: 0 -20px;
}
.car-toolpit {
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    bottom: 10px;
    color: #000000;
    display: none;
    font-family: Verdana,"Arial CE",​Arial,"Helvetica CE",​ sans-serif;
    font-size: 11px;
    left: 10px;
    line-height: 1.454545em;
    padding: 5px;
    position: absolute;
    width: 200px;
	 z-index: 9999;
    /**z-index: 1020;*/
}
.car-toolpit strong {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}
.car-toolpit a:first-child {
    display: block;
    font-size: 12px;
    line-height: 1.1em;
}
.car-tolpit-main {
    padding: 10px;
	 padding-bottom: 6px;
}
.car-tolpit-main .more {
    background: url("../pics/icons_arrows.png") no-repeat scroll -77px -15px transparent;
    color: #555555;
    display: block;
    line-height: 22px;
    margin: 10px 0 2px;
    padding-left: 12px;
	text-decoration: none;
}
.car-tolpit-main .more:hover {
    color: #299926;
	text-decoration: underline;
}
.choose-over-pack-interior {
	 float: left;
	 margin-left: 20px;
	 cursor: pointer;
	 background-image: url('../pics/transparent-bg-black.png');
}
.choose-over-pack-interior:hover {
	 background-image: none;
	 background-color: #000;
}
.choose-legend-wrap {
	 padding: 7px 17px 7px 13px;
}
.choose-over-pack-interior .choose-legend {
	 color: #fff;
	 font-weight: bold;
	 text-align: center;
	 display: inline-block;
	 *display: inline;
}
.choose-legend-wrap:hover .choose-legend {
	 text-decoration: underline;
}
.choose-legend, .choose-legend-bg {
	 margin: 0;
}
.choose-legend-bg {
	 display: inline-block;
	 *display: inline;
	 vertical-align: middle;
	 height: 5px;
	 width: 10px;
	 margin-left: 13px;
	 background: url('../pics/up-down-white-arrows.png') no-repeat;
	 *zoom: 1;
}

.choose-over-pack-interior:hover .choose-legend-bg {
	 background-position: 0 -5px;
}
.packs-menu {
	 margin: 0;
	 padding-left: 0;
	 list-style: none;
	 background: url('../pics/transparent-light.png');
	 height: 260px;
	 border: #ccc 1px solid;
	 position: absolute;
	 z-index: 600;
	 display: none;
	 *zoom: 1;
	 
}
.packs-menu > li {
	 float: left;
	 border-left: #ccc 1px solid;
	 height: 260px;
	 width: 200px;
}
.packs-menu li:first-child {
	 border-left: 0 none;
}
.packs-menu > li > a {
	 display: block;
	 height: 260px;
	 width: 200px;
	 text-decoration: none;
	 color: #000;
	 overflow: hidden;
	 position: relative;
}
.packs-menu > li > a:hover {
	 background-color: #fff;
}
.packs-menu > li > a img {
	 display: block;
	 width: 100%;
}
.packs-menu-title,
.pacs-menu-prices {
	 display: block;
}
.packs-menu-title {
	 color: #555;
	 padding-left: 15px;
	 margin-top: 17px;
	 margin-bottom: 14px;
}
.packs-menu-price {
	 position: absolute;
	 left: 15px;
	 bottom: 10px;
}
.interior-figure-footer {
	 position: absolute;
	 left: 0;
	 top: 369px;
	 width: 100%;
	 height: 60px;
}
.interior-footer-inner {
	 width: 900px;
	 margin: 0 auto;
	 height: 60px;
}
.f-pack-description, .back-to-exterior {
	 background-image: url('../pics/transparent-light.png');
	 height: 60px;
}
.f-pack-description {
	 float: left;
	 width: 685px;
	 color: #555;
	 padding: 6px 12px;
	 height: 48px;
}
.f-pack-description p {
	 margin: 0.8em;
}
.back-to-exterior {
	 float: right;
	 width: 190px;
	 color: #000;
	 height: 60px;
}
.back-to-exterior:hover {
	 text-decoration: none;
}
.back-to-exterior-text, .back-to-exterior-bg {
	 display: inline-block;
	 *display: inline;
	 *zoom: 1;
	 vertical-align: middle;
	 margin-top: 8px;
	 cursor: pointer;
}
.back-to-exterior-text {
	 text-align: right;
	 margin-left: 42px;
	 line-height: 1.25em;
}
.back-to-exterior-bg {
	 height: 45px;
	 width: 45px;
	 margin-left: 1px;
	 background: url('../pics/icons_switchview.png') no-repeat -45px 0;
}
.back-to-exterior:hover .back-to-exterior-bg {
	 background-position: -45px -45px;
}
.hotspot-list {
	 height: 420px;
	 width: 100%;
	 position: relative;
	 margin-top: -420px;
}
.tech-category-switcher {
	 height: 136px;
	 margin-left: 20px;
	 margin-top: 4px;
}
.tech-category-item {
	 display: inline-block;
	 vertical-align: top;
	 min-width: 100px;
	 max-width: 120px;
	 margin-left: 20px;
	 color: #555;
	 text-decoration: none;
}
.tech-category-item * {
	 *cursor: pointer;
}
.tech-category-item:hover,
.tech-category-item.active {
	 color: #000;
	 text-decoration: none;
}
.tech-category-item:hover {
	 text-decoration: none;
}
.tech-category-item:first-child {
	 margin-left: 0;
}
.switcher-top {
	 display: block;
	 width: 100px;
	 height: 60px;
	 background: url('../pics/technologyswitches.png') no-repeat /*0 -120px*/ 0 0;
}
.switcher-arrow {
	 float: left;
	 height: 27px;
	 width: 15px;
	 background: url('../pics/icons_arrows.png') no-repeat -1px -81px;
}
.tech-category-item:hover .switcher-arrow,
.tech-category-item.active .switcher-arrow {
	 background-position: -1px -54px;
}
.switcher-title {
	 display: block;
	 margin-left: 14px;
	 padding-left: 12px;
}
.comfort .switcher-top {
	 background-position: -208px 0;
}
.comfort:hover .switcher-top,
.comfort.active .switcher-top {
	 background-position: -208px -60px;
}
.ecology .switcher-top {
	 background-position: -416px 0;
}
.ecology:hover .switcher-top,
.ecology.active .switcher-top {
	 background-position: -416px -60px;
}
.optic .switcher-top {
	 background-position: -838px 0;
}
.optic:hover .switcher-top,
.optic.active .switcher-top {
	 background-position: -838px -60px;
}
.luggage .switcher-top {
	 background-position: 0 0;
}
.luggage:hover .switcher-top,
.luggage.active .switcher-top {
	 background-position: 0 -60px;
}
.engine .switcher-top {
	 background-position: -628px 0;
}
.engine:hover .switcher-top,
.engine.active .switcher-top {
	 background-position: -628px -60px;
}
.audio-and-navigation .switcher-top {
	 background-position: -1048px 0;
}
.audio-and-navigation:hover .switcher-top,
.audio-and-navigation.active .switcher-top {
	 background-position: -1048px -60px;
}
.safety .switcher-top {
	background-position: -1258px 0;
}
.safety:hover .switcher-top,
.safety.active .switcher-top {
	background-position: -1258px -60px; 
}
.topimageoverviewImage {
  width: 100%;
  height: 556px;
  text-align: center;
  position: absolute;
  left: 0px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky-container {
  position: relative;
  min-height: 1px;
}
.sticky-container2 {
  position: absolute;
  left: 950px;
  top: 0px;
  width: 190px;
  height: 100%;
  padding-left: 20px;
}
.sticky-container3 {
  height: 100%;
  float: left;
}
.hght-cont {
  padding-top: 490px;
}
