{% load onlineforms_tags %}
{% if success %}
    <p class="success">Спасибо, Ваша заявка принята!</p>
    <p class="success" style="text-align: center;">Наш менеджер свяжется с вами в ближайшее время для уточнения деталей Вашей заявки.</p>
    <script>
        if (yaCounter31451738) void(yaCounter31451738.reachGoal('pemail'));
        if (ga) void(ga('send', 'pageview', '/pemail/'));
	ga('send', 'event', 'credit_send', 'credit_send');
    </script>
    <div class="fields hide">
{% else %}
    <div class="fields">
{% endif %}
{% csrf_token %}
<table class="noborder">
    <tr>
        <td style="width:100px; height: 38px;">Ваше имя{% if form.name.field.required %}*{% endif %}:</td>
        <td>{{ form.name|add_class:"inputText" }}</td>
    </tr>
    {% if form.name.errors %}
        <tr>
            <td></td>
            <td>{{ form.name.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px;">Телефон{% if form.phone.field.required %}*{% endif %}:</td>
        <td>{{ form.phone|add_class:"inputText" }}</td>
    </tr>
    {% if form.phone.errors %}
        <tr>
            <td></td>
            <td>{{ form.phone.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px;">E-mail{% if form.email.field.required %}*{% endif %}:</td>
        <td>{{ form.email|add_class:"inputText" }}</td>
    </tr>
    {% if form.email.errors %}
        <tr>
            <td></td>
            <td>{{ form.email.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px; padding-top: 12px; vertical-align: top;">Тема{% if form.subject.field.required %}*{% endif %}:</td>
        <td class="choices">{{ form.subject|add_class:"selectOptions" }}</td>
    </tr>
    {% if form.subject.errors %}
        <tr>
            <td></td>
            <td>{{ form.subject.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px; padding-top: 14px; vertical-align: top;">Сообщение{% if form.message.field.required %}*{% endif %}:</td>
        <td style="padding-top: 10px;">{{ form.message|add_class:"inputTextArea" }}</td>
    </tr>
    {% if form.message.errors %}
        <tr>
            <td></td>
            <td>{{ form.message.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px; padding-top: 14px; vertical-align: top;">{{ form.captcha.label }}{% if form.captcha.field.required %}*{% endif %}:</td>
        <td style="padding-top: 10px;">{{ form.captcha|add_class:"inputCaptcha" }}</td>
    </tr>
    {% if form.captcha.errors %}
        <tr>
            <td></td>
            <td>{{ form.captcha.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td></td>
        <td>{{ form.agreement }} Я согласен на <a href="{{ settings.ONLINE_FORMS_AGREEMENT_LINK }}" target="_blank">использование моих персональных данных</a></td>
    </tr>
    {% if form.agreement.errors %}
        <tr>
            <td></td>
            <td>{{ form.agreement.errors }}</td>
        </tr>
    {% endif %}
     <tr>
        <td></td>
        <td>{{ form.promo_agreement }} Я согласен на <a href="{{ settings.ONLINE_FORMS_PROMO_AGREEMENT_LINK }}" target="_blank">рекламную коммуникацию</a></td>
    </tr>
    {% if form.promo_agreement.errors %}
        <tr>
            <td></td>
            <td>{{ form.promo_agreement.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="2" style="font-size: 11px; padding-top: 10px;">* - поля, обязательные для заполнения.</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right;"><input type="submit" id="submCF" value="Отправить" class="submitButton"/></td>
    </tr>
</table>
</div>
