{% load onlineforms_tags %}
{% if success %}
    <script>ga('send', 'event', 'personal_f_send', 'personal_f_send');</script>
    <p class="success">Заявка отправлена. В ближайшее время наши менеджеры свяжутся с вами. Спасибо.</p>
    <div class="fields hide">
{% else %}
    <div class="fields">
{% endif %}
<span style="color: #000000; font-size: 12px;">Для отправки заявки заполните форму:</span><br/>
<span style="font-size: 11px;">(все поля обязательны для заполнения)</span><br/><br/>
{% csrf_token %}
<table class="noborder">
    <tr>
        <td style="width:100px; height: 38px;">Автомобиль*:</td>
        <td style="width: 300px;">
            {{ form.car|add_class:"selectOptions" }}
        </td>
    </tr>
    {% if form.car.errors %}
        <tr>
            <td></td>
            <td>{{ form.car.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px;">Ваше имя*:</td>
        <td>{{ form.name|add_class:"inputText" }}</td>
    </tr>
    {% if form.name.errors %}
        <tr>
            <td></td>
            <td>{{ form.name.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px;">Телефон*:</td>
        <td>{{ form.phone|add_class:"inputText" }}</td>
    </tr>
    {% if form.phone.errors %}
        <tr>
            <td></td>
            <td>{{ form.phone.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px; padding-top: 14px; vertical-align: top;">
            {{ form.captcha.label }}{% if form.captcha.field.required %}*{% endif %}:
        </td>
        <td style="padding-top: 10px;">{{ form.captcha|add_class:"inputCaptcha" }}</td>
    </tr>
    {% if form.captcha.errors %}
        <tr>
            <td></td>
            <td>{{ form.captcha.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td></td>
        <td>{{ form.agreement }} Я согласен на <a href="{{ settings.ONLINE_FORMS_AGREEMENT_LINK }}" target="_blank">использование
            моих персональных данных</a></td>
    </tr>
    {% if form.agreement.errors %}
        <tr>
            <td></td>
            <td>{{ form.agreement.errors }}</td>
        </tr>
    {% endif %}
<!--чекбокс на согласие рекламной коммуникации-->
        <tr>
        <td></td>
        <td>{{ form.promo_agreement }} Я согласен на <a href="{{ settings.ONLINE_FORMS_PROMO_AGREEMENT_LINK }}" target="_blank">рекламную коммуникацию</a></td>
    </tr>
    {% if form.promo_agreement.errors %}
        <tr>
            <td></td>
            <td>{{ form.promo_agreement.errors }}</td>
        </tr>
    {% endif %}
<!--окончание поля чекбокса-->
    <tr>
        <td colspan="2" style="font-size: 11px; padding-top: 10px;">* - поля, обязательные для заполнения.</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right"><input type="submit" id="submTK" value="Отправить"
                                                         class="submitButton"/></td>
    </tr>
</table>
</div>
