{% load onlineforms_tags %}
{% if success %}
    <p class="success">Спасибо, Ваша заявка принята!</p>
    <p class="success" style="text-align: center;">Наш менеджер свяжется с вами в ближайшее время для уточнения деталей Вашей заявки.</p>
    <script>
        if (yaCounter31451738) void(yaCounter31451738.reachGoal('testdr'));
        if (ga) void(ga('send', 'pageview', '/testdr/'));
        ga('send', 'event', 'regtd_send', 'regtd_send');
    </script>
    <div class="fields hide">
{% else %}
    <div class="fields">
{% endif %}
{% csrf_token %}
<table class="noborder">
    <tr>
        <td style="width:100px; height: 38px;">Автоцентр*:</td>
        <td style="width: 300px;">
            {{ form.place|add_class:"selectOptions" }}
        </td>
    </tr>
    {% if form.place.errors %}
        <tr>
            <td></td>
            <td>{{ form.place.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="width:100px; height: 38px;">Автомобиль*:</td>
        <td style="width: 300px;">
            <select name="{{ form.car.html_name }}" class="selectOptions" data-ref="{{ form.place.id_for_label }}">
                <option value="">{{ form.car.field.empty_label }}</option>
                {% for car in form.car.field.queryset %}
                    <option value="{{ car.pk }}" data-parent="{{ car.place.pk }}"
                            {% if car.pk|slugify == form.car.value %}selected="selected"{% endif %}>{{ car }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    {% if form.car.errors %}
        <tr>
            <td></td>
            <td>{{ form.car.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px;">Ваше имя*:</td>
        <td>{{ form.name|add_class:"inputText" }}</td>
    </tr>
    {% if form.name.errors %}
        <tr>
            <td></td>
            <td>{{ form.name.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px;">Телефон*:</td>
        <td>{{ form.phone|add_class:"inputText" }}</td>
    </tr>
    {% if form.phone.errors %}
        <tr>
            <td></td>
            <td>{{ form.phone.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px;">Удобное для<br/>Вас время*:</td>
        <td>{{ form.notes|add_class:"inputTextArea" }}</td>
    </tr>
    {% if form.notes.errors %}
        <tr>
            <td></td>
            <td>{{ form.notes.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="height: 38px; padding-top: 14px; vertical-align: top;">
            {{ form.captcha.label }}{% if form.captcha.field.required %}*{% endif %}:
        </td>
        <td style="padding-top: 10px;">{{ form.captcha|add_class:"inputCaptcha" }}</td>
    </tr>
    {% if form.captcha.errors %}
        <tr>
            <td></td>
            <td>{{ form.captcha.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td></td>
        <td>{{ form.agreement }} Я согласен на <a href="{{ settings.ONLINE_FORMS_AGREEMENT_LINK }}" target="_blank">использование
            моих персональных данных</a></td>
    </tr>
    {% if form.agreement.errors %}
        <tr>
            <td></td>
            <td>{{ form.agreement.errors }}</td>
        </tr>
    {% endif %}
 <tr>
        <td></td>
        <td>{{ form.promo_agreement }} Я согласен на <a href="{{ settings.ONLINE_FORMS_PROMO_AGREEMENT_LINK }}" target="_blank">рекламную коммуникацию</a></td>
    </tr>
    {% if form.promo_agreement.errors %}
        <tr>
            <td></td>
            <td>{{ form.promo_agreement.errors }}</td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="2" style="font-size: 11px; padding-top: 10px;">* - поля, обязательные для заполнения.</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: right"><input type="submit" id="submTD" value="Отправить"
                                                         class="submitButton"/></td>
    </tr>
</table>
</div>
