.set_position {
    position: relative;
    user-select: none;
    display: inline-block;
    /*width: 500px;*/
    /*height: 400px;*/
}
.set_position_point {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url("../img/plus-icon.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}