{% extends "inner.html" %}
{% load snippets_tags %}

{% block page_img %}{{ STATIC_URL }}pics/main_events.jpg{% endblock %}
{% block page_header %}{{ block.super|default:"Мероприятия" }}{% endblock %}
{% block content %}
    <div class="bcrumbs__events" id="bcrumbs"><a href="/">Главная</a> / Мероприятия</div>
    {% for obj in object_list %}
        <div style="padding-bottom: 22px;">
            <div style="width: 80px; height: 60px; float: left;">
                {% if obj.img %}
                    <img src="{{ obj.img|img_version:"thumbnail" }}" width="80px" height="60px" alt="{{ obj.title }}" />
                {% endif %}
            </div>
            <div class="newsBox">
                <span>{{ obj.pub_date|date:"d.m.Y" }}</span>
                <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><br />
                {{ obj.excerpt|striptags }}
            </div>
            <div style="clear: both;"></div>
        </div>
    {% endfor %}
    {% include "includes/paginate.html" with named_url="event_list" %}
{% endblock %}

{% if is_paginated %}
        {% if not metadata.description %}
            {% block page_description %}Продажа, сервисное обслуживание и тест-драйв автомобилей SKODA от автоцентра «Злата». Мы являемся официальным дилером компании в Нижнем Новгороде. Мероприятия. Страница {{page_obj.number}}.{% endblock %}
        {% endif %}
{% endif %}