{% extends "events/event_list.html" %}
{% load snippets_tags %}

{% block page_img %}{% if object.img %}{{ object.img|img_version:"940x430" }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block content %}
    <h1 class="newsTitle">{{ object.title }}</h1>
    <div class="bcrumbs__news/" id="bcrumbs"><a href="/">Главная</a> / <a href="/events/">events</a> / {{ object.title }}</div>
    {{ object.pub_date|date:"d/m/Y" }}
    <br /><br />
    {{ object.content|safe }}
    {% if object.images %}
        <div class="row">
            {% for image in object.images.all %}
                <div class="col-4">
                    <a href="{{ image.img.url }}" class="fancybox" rel="gallery" title="{{ image.title }}">
                        <img src="{{ image.img|img_version:"300x240" }}" class="responsive">
                    </a>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    {% endif %}
    <br clear="all" />
    <br />
    <br>
    <a href="{% url "event_list" %}" class="newsList">Все мероприятия</a>
{% endblock %}

{% block page_title %}{{ object.title }} | Автоцентр Злата{% endblock %}